<div class="back-cocina mt-3 pt-3 pb-1">
    <!-- Empieza spiff 2 -->
    <div class="row spiff__after-slider text-center g-0 my-1">
        <div class="order-0 order-md-0 col-6 col-md-3 mb-3 overflow-hidden pr-mobile pr-desk HomespiffA">
            <div class="content-spiffs overflow-hidden">
                <a href="/expococina/#equipa-cocina">
                    <picture>
                        <source srcset="/arquivos/2022abr_Spiff_HomeCemaco_expococina_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022abr_Spiff_HomeCemaco_expococina_desk.png" alt="Cocina">
                    </picture>
                    <h5 class="pt-2 pb-1">Todo lo que necesitas <br>para equipar y renovar</h5>
                    <p class="pb-2">
                        <u class="fw-bold view-more-txt-ft">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
        <div class="order-1 order-md-1 col-6 col-md-3 mb-3 overflow-hidden pl-mobile p-desk-between HomespiffB">
            <div class="content-spiffs overflow-hidden">
                <a href="/expococina/#categoria-electrodomesticos">
                    <picture>
                        <source srcset="/arquivos/2022abr_Spiff_HomeCemaco_electrodomesticos_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022abr_Spiff_HomeCemaco_electrodomesticos_desk.png" alt="Electrodomésticos">
                    </picture>
                    <h5 class="text-oneline pt-2 pb-1">Electrodomésticos</h5>
                    <p class="pb-3">
                        <u class="fw-bold view-more-txt-ft">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
        <div class="order-2 order-md-2 col-6 col-md-3 overflow-hidden pr-mobile p-desk-between HomespiffC">
            <div class="content-spiffs overflow-hidden">
                <a href="/expococina/#categoria-mesa">
                    <picture>
                        <source srcset="/arquivos/2022abr_Spiff_HomeCemaco_mesa_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022abr_Spiff_HomeCemaco_mesa_desk.png" alt="Mesa">
                    </picture>
                    <h5 class="text-oneline pt-2 pb-1">Tu mesa perfecta</h5>
                    <p class="pb-3">
                        <u class="fw-bold view-more-txt-ft">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
        <div class="order-3 order-md-3 col-6 col-md-3 overflow-hidden pl-mobile pl-desk HomespiffD">
            <div class="content-spiffs overflow-hidden">
                <a href="/expococina/#categoria-cocina">
                    <picture>
                        <source srcset="/arquivos/2022abr_Spiff_HomeCemaco_basicos_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022abr_Spiff_HomeCemaco_basicos_desk.png" alt="Básicos para cocina">
                    </picture>
                    <h5 class="text-oneline pt-2 pb-1">Básicos para tu cocina</h5>
                    <p class="pb-3">
                        <u class="fw-bold view-more-txt-ft">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
    
    </div>
    <!-- Termina spiff 2 -->