<!--empieza Ofertas de la semana-->
        
<div class="ofertas-semana-wrapper">
    <h2 class="tag-title--level-3 mb-md-3 d-none d-md-block">
        Ofertas de la semana 
        <a class="text-center d-none d-md-inline-block fw-normal" 
            href="/ofertasdelasemana">
            <p class="ms-3">Ver más</p>
        </a>
    </h2>
    <h2 class="tag-title--level-3 mb-md-3 mt-3 d-block d-md-none">
        Ofertas de la semana
    </h2>
    <a href="/ofertasdelasemana">
        <picture>
            <source srcset="/arquivos/2022marzo_cemaco_ciberdias_ofertasdelasemana2_mobile.png" media="(max-width: 767px)">
            <img src="/arquivos/2022marzo_cemaco_ciberdias_ofertasdelasemana2_desk.png" alt="Ofertas">
        </picture>
        <!--
        <div class="content d-block d-md-none">
            <h3 class="pb-1 pt-md-0">Ofertas de la semana</h3>
            <span class="vermas fw-normal">Ver más</span>
        </div>
        -->
    </a>
    
</div>
<!-- finaliza Ofertas de la semana-->


<!-- Empieza banner visita la ferretería-->
<div class="banner-single mt-4 mb-3 todoenferreteria">
<a href="/todoenferreteria">
<picture>
    <source srcset="/arquivos/2022marzo_cemaco_ciberdias_todoenferreteria_mobile.png" media="(max-width: 767px)" />
    <img src="/arquivos/2022marzo_cemaco_ciberdias_todoenferreteria_desk.png" alt="Ferretería" />
</picture>
<div class="content">
    <h3 class="banner-item_text d-block d-md-none">
    Visita la ferretería <br> mas completa
    </h3>
    <span class="vermas fw-normal d-block d-md-none view-more-txt-ft">Ver más</span>
    
    <h3 class="pb-1 pt-md-0 d-none d-md-block text-center">Visita la ferretería más completa</h3>
    <span class="vermas fw-normal d-none d-md-block text-center view-more-txt-ft">Ver más</span>
</div>
</a>
</div>
<!-- Termina banner visita la ferretería-->


<h2 class="mobile-fullwidth text-center tag-title--level-3 mt-md-1">Importante para ti</h2>
<div class="row importanteparati text-center mx-2 mx-md-0 px-md-3 py-3 py-md-4 d-none d-md-flex align-items-start">
<div class="col-12 col-md-4 py-4 border-md-end-1 border-bottom border-md-bottom-none d-flex flex-column justify-content-center">
<a href="/areasdenocobertura">
    <div class="content-importanteparati-main">
        <div class="content-importanteparati-img">
            <picture>
                <img src="/arquivos/2022feb_icono_entregas_a_toda_guatemala_v3.png" class="m-auto importanteparati-img-central" alt="">
            </picture>
        </div>
        <div class="content-importanteparati-txt">
            <p class="importanteparati-txt-central">Entregamos miles de productos en 24 horas en la capital<br>y en 48 a 72 horas en el interior del país.<br><u class="importanteparati-txt-central">Conoce mas aquí</u></p>
            
        </div>
    </div>
</a>
</div>
<div class="col-12 col-md-4 py-4 pt-xl-4 border-md-end-1 border-bottom border-md-bottom-none d-flex flex-column justify-content-center">
<a href="/preguntas-frecuentes#enviogratis">
    <div class="content-importanteparati-main">
        <div class="content-importanteparati-img">
            <picture>
                <img src="/arquivos/2022marzo_bannerimportante_ciberdias.png" class="m-auto importanteparati-img-central" alt="Ciberdías">
            </picture>
        </div>
        <div class="content-importanteparati-txt">
            <p class="importanteparati-txt-central">¡Aprovecha! envío gratis en todos tus pedidos durante <br>Ciberdías. Aplican restricciones.
                <u class="d-none d-md-inline">Conoce más</u>
            </p>
         </div>
    </div>
</a>
</div>
<div class="col-12 col-md-4 py-4 border-md-end-1 border-bottom border-md-bottom-none d-flex flex-column justify-content-center">
<a href="/prevencion">
    <div class="content-importanteparati-main">
        <div class="content-importanteparati-img">
            <picture>
                <img src="/arquivos/2022feb_icono_cuidamos_de_tu_salud_desk_mob_v3.png" class="m-auto importanteparati-img-central" alt="">
            </picture>
        </div>
        <div class="content-importanteparati-txt">
            <p class="importanteparati-txt-central">Nuestra misión es ser el lugar más seguro para trabajar y <br>comprar. Estamos tomando medidas importantes para tu <br>seguridad y la de nuestro equipo. <u class="importanteparati-txt-central">Conócelas</u></p>
            
        </div>
    </div>
</a>
</div>
</div>

<!-- mobile -->
<div class="importanteparati text-center position-relative mt-3 d-md-none">
<div class="swiper-wrapper">
<div class="swiper-slide">
    <a href="/areasdenocobertura">
        <div class="content-importanteparati-main">
            <div class="content-importanteparati-img">
                <picture>
                    <img src="/arquivos/2022feb_icono_entregas_a_toda_guatemala_v3.png" class="m-auto importanteparati-img-central" alt="">
                </picture>
            </div>
            <div class="content-importanteparati-txt">
                <p class="importanteparati-txt-central">Entregamos miles de productos en 24 horas en la <br>capital y en 48 a 72 horas en el interior del país.<br><u class="importanteparati-txt-central">Conoce mas aquí</u></p>
            </div>
        </div>
    </a>
</div>
<div class="swiper-slide middle-item">
    <a href="/preguntas-frecuentes#enviogratis">
        <div class="content-importanteparati-main">
            <div class="content-importanteparati-img">
                <picture>
                    <img src="/arquivos/2022marzo_bannerimportante_ciberdias.png" class="m-auto importanteparati-img-central" alt="Cemaco Retirar en tienda">
                </picture>
            </div>
            <div class="content-importanteparati-txt">
                <p class="importanteparati-txt-central">¡Aprovecha! Envío gratis en todos tus pedidos durante <br>Ciberdías. Aplican restricciones.<br><u class="">Conoce más</u>
                </p>
             </div>
        </div>
    </a>
</div>
<div class="swiper-slide">
    <a href="/prevencion">
        <div class="content-importanteparati-main">
            <div class="content-importanteparati-img">
                <picture>
                    <img src="/arquivos/2022feb_icono_cuidamos_de_tu_salud_desk_mob_v3.png" class="m-auto importanteparati-img-central" alt="">
                </picture>
            </div>
            <div class="content-importanteparati-txt">
                <p class="importanteparati-txt-central">Nuestra misión es ser el lugar más seguro para <br>trabajar y comprar. Estamos tomando medidas <br>importantes para tu seguridad y la de nuestro equipo.<br><u class="importanteparati-txt-central">Conócelas</u></p>
            </div>
        </div>
    </a>
</div>
</div>
<div class="swiper-button-next d-block arrow-icon-m"></div>
<div class="swiper-button-prev d-block arrow-icon-m"></div>
</div>
<!--  Termina seccion importante para ti-->



