<!--empieza  Felicidad garantizada -->
<div class="modal fade" id="felicidadGarantizada" tabindex="-1" aria-labelledby="felicidadGarantizadaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="closepopup" data-bs-dismiss="modal" aria-label="Close">×</button>
            <section class="text-center pb-3">
                <h4 class="tag-title--level-3">Tu felicidad, garantizada</h4>
                <p>
                    <strong>Si no estás 100% satisfecho con tu compra, contáctanos y lo resolvemos:</strong><br class="d-none d-xl-block"> ¡Contamos con una política de cambio amigable y libre de molestias!<br class="d-none d-xl-block">
                </p>
                <p>
                    <strong>Garantía total:</strong> ¿El producto que recibiste no era lo que pensabas o simplemente <br class="d-none d-xl-block"> cambiaste de opinión? Tienes 30 días para cambiarlo en tu tienda Cemaco más <br class="d-none d-xl-block"> cercana. Algunos productos
                    cuentan con garantía de fabricante incluida dentro del <br class="d-none d-xl-block"> empaque. Si tienes dudas, en los detalles del producto puedes encontrar esta <br class="d-none d-xl-block"> información.
                </p>
                <p>
                    <strong>Comprar en línea es fácil y seguro: </strong> Aceptamos tarjetas de crédito y débito Visa y MasterCard, depósitos o transferencias bancarias, contamos con Visa y Master cuotas. <br class="d-none d-xl-block"> Seguimos agregando nuevos métodos
                    de pago constantemente, si tienes alguna <br class="d-none d-xl-block"> sugerencia, contáctanos.
                </p>
                <p>
                    <strong>Recibes tu producto rápido y seguro:</strong> Entregamos tus compras en todo el país <br class="d-none d-xl-block"> entre 12 y 48 horas en la capital y hasta 72 en el interior después de haber <br class="d-none d-xl-block"> procesado tu orden.
                </p>
                <p>
                    <strong>Compra en línea y retira en tienda o en autoservicio:</strong> Sencillo y conveniente. Haz tu
                    <br class="d-none d-xl-block"> pedido en línea, selecciona la tienda de tu conveniencia.
                </p>
            </section>
        </div>
      </div>
    </div>
</div>
<!--termina  Felicidad garantizada -->

<!--empieza Garantía total -->
<div class="modal fade" id="garantiaTotal" tabindex="-1" aria-labelledby="garantiaTotalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="closepopup" data-bs-dismiss="modal" aria-label="Close">×</button>
            <section class="text-center pb-3">
                <h4 class="tag-title--level-3">Seguridad y garantía total</h4>
                <p>
                    Contamos con una política de cambio amigable y libre de molestias. Si no estás <br class="d-none d-md-block"> conforme con algún producto en tu tienda Cemaco más cercana te lo cambiamos o <br class="d-none d-md-block"> te damos una nota de crédito para que
                    puedas utilizar en tu siguiente compra.<br class="d-none d-md-block"> ¡Así de fácil!
                </p>
                <h5>Garantía adicional</h5>
                <p>
                    En muchas ocasiones aparte de la garantía total de Cemaco, los productos tienen<br class="d-none d-md-block"> su propia garantía. Si tienes dudas sobre las garantías adicionales, en los detalles del <br class="d-none d-md-block"> producto puedes encontrar
                    esta información. La garantía adicional estará incluida <br class="d-none d-md-block"> dentro de la caja del producto.
                </p>
                <p>
                    ¡Recuerda traer tu factura o ticket de regalo! Traélo en su caja o empaque original <br class="d-none d-md-block"> dentro de los siguientes 30 días a la fecha de compra. Si tienes cualquier duda <br class="d-none d-md-block"> nuestro personal de servicio
                    al cliente con gusto te atenderá.
                </p>
            </section>
        </div>
      </div>
    </div>
</div>
<!--termina Garantía total -->

<!-- Entrega rápida -->
<div class="modal fade" id="entregaRapida" tabindex="-1" aria-labelledby="entregaRapidaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="closepopup" data-bs-dismiss="modal" aria-label="Close">×</button>
            <section class="text-center pb-3">
                <h4 class="tag-title--level-3">Entrega Rápida</h4>
                <p>
                    Enviamos tus compras a toda Guatemala. Luego de haber procesado tu orden <br class="d-none d-md-block"> recibirás tu pedido en un período de 12 a 48 horas en la capital <br class="d-none d-md-block"> y hasta 72 horas en el interior del país. Puedes visualizar
                    el tiempo <br class="d-none d-md-block"> de entrega de tu pedido en la carreta de compras.
                </p>
                <p>
                    Debes tomar en cuenta que si tu pago fue por depósito bancario, estos tiempos <br class="d-none d-md-block"> corren a partir de la confirmación de recepción del pago. Si tu domicilio se <br class="d-none d-md-block"> encuentra fuera de los límites de cobertura,
                    el tiempo de entrega puede variar.<br class="d-none d-md-block"> Si tienes dudas puedes contactarnos al 2999-9990. o conoce más <u><a href="/areasdenocobertura">aquí</a></u>
                </p>
            </section>
        </div>
      </div>
    </div>
</div>

<!--empieza Retira en tienda -->
<div class="modal fade" id="retiraTienda" tabindex="-1" aria-labelledby="retiraTiendaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="closepopup" data-bs-dismiss="modal" aria-label="Close">×</button>
            <section class="text-center pb-3">
                <h4 class="tag-title--level-3">Tiendas con retira en tienda y autoservicio</h4>
                <article class="row px-3">
                    <div class="col-6">
                        <img src="/arquivos/2021_cemaco_popups_autoservicio.png">
                        <ul>
                            <li>Peri-Roosevelt</li>
                            <li>Plaza Cemaco</li>
                            <li>Pradera Concepción</li>
                            <li>Xela</li>
                            <li>San Cristóbal</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <img src="/arquivos/2021_cemaco_popups_retiraentienda.png">
                        <ul>
                            <li>Portales</li>
                            <li>El Frutal</li>
                            <li>SanKris Mall</li>
                            <li>Plaza La Noria</li>
                            <li>Cayalá</li>
                            <li>Zona 4</li>
                            <li>Naranjo</li>
                            <li>San Juan</li>
                            <li>Zona 15</li>
                            <li>Amatitlán</li>
                            <li>Mazatenango</li>
                            <li>San Lucas</li>
                            <li>EcoCentro</li>
                            <li>Plaza Madero</li>
<li>Chimaltenango</li>
                        </ul>
                    </div>
                </article>
            </section>
        </div>
      </div>
    </div>
</div>
<!--termina Retira en tienda -->

<!--empieza Métodos de pago -->
<div class="modal fade" id="metodosPago" tabindex="-1" aria-labelledby="metodosPagoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="closepopup" data-bs-dismiss="modal" aria-label="Close">×</button>
            <section class="text-center pb-3">
                <h4 class="tag-title--level-3">Métodos de pago en Cemaco.com</h4>
                <article>
                    <h5>Tarjetas de crédito y débito</h5>
                    <p> Aceptamos tarjetas de crédito y débito Visa y MasterCard.</p>
                    <img src="/arquivos/2021_cemaco_popups_tarjetascreditodebito.png">
                </article>
                <article>
                    <h5>Depósitos bancarios</h5>
                    <p>Depósitos bancarios en agencias Banco G&amp;T Continental, BAM, Banco Industrial, <br class="d-none d-md-block"> Bantrab y Banrural.</p>
                    <img src="/arquivos/2021_cemaco_popups_depositosbancarios.png">
                </article>
                <article>
                    <h5>Cuotas</h5>
                    <p>Para tu comodidad de compra contamos con VisaCuotas y MasterCuotas.</p>
                    <img src="/arquivos/2021_cemaco_popups_cuotas.png">
                </article>
                <small>Seguimos agregando nuevos métodos de pago todos los días, si tienes alguna sugerencia,
                    <u><a href="https://wa.me/50224999990" target="_blank">contáctanos aquí</a></u></small>
            </section>
        </div>
      </div>
    </div>
</div>
<!--Termina Métodos de pago -->