<!--Empieza spiffs dobles dias privilegio -INICIO-->
	<!--
	<div class="banner-nuestros-top-deptos ps-2 pe-2 pt-3 pt-md-4">
	    <h2 class="text-center tag-title--level-3 pb-4 d-none d-md-block">Días Privilegio</h2>
	    <h2 class="text-center tag-title--level-3 pb-md-3 d-block d-md-none">Días Privilegio</h2>
	    <div class="row text-center triplets">
	        <div class="col-6 col-md-6 mb-6 mb-md-0 pb-4">
	            <div class="content-spiff overflow-hidden">
	                <a href="/ofertasdelasemana">
	                    <picture>
	                        <source srcset="/arquivos/2022feb_verano_spiff_dias_privilegio_mob_v2.png" media="(max-width: 767px)">
	                        <img src="/arquivos/2022feb_verano_spiff_dias_privilegio_desk_v2.png" alt="Ofertas">
	                    </picture>
	                    <h4 class="mt-lg-2 pb-2 pt-3">Aprovéchalas hoy</h4>
	                    <p class="fw-normal text-decoration-underline pb-0 view-more-txt-ft d-block d-md-none">Ver más</p>
	                    <p class="fw-normal text-decoration-underline pb-4 view-more-txt-ft d-none d-md-block">Compra aquí</p>
	                </a>
	            </div>
	        </div>
	        <div class="col-6 col-md-6 mb-6 mb-md-0 pb-4">
	            <div class="content-spiff overflow-hidden">
	                <a href="/1millonpuntos">
	                    <picture>
	                        <source srcset="/arquivos/2022feb_verano_spiff_gana_un_millon_mob_v2.png" media="(max-width: 767px)">
	                        <img src="/arquivos/2022feb_verano_spiff_gana_un_millon_desk_v2.png" alt="Puntos">
	                    </picture>
	                    <h4 class="mt-lg-2 pb-2 pt-3">Participa y gana</h4>
	                    <p class="fw-normal text-decoration-underline pb-0 view-more-txt-ft d-block d-md-none">Ver más</p>
	                    <p class="fw-normal text-decoration-underline pb-4 view-more-txt-ft d-none d-md-block">Conoce más</p>
	                </a>
	            </div>
	        </div>
	    </div>
	</div>
	-->
	
	<div class=" row banner_container herramientas verano pt-4 mt-4 mb-0">
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/verano">
        			<picture>
        				<source srcset="/arquivos/2022marzo_cemaco_ciberdias_verano_portada_mobile.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022marzo_cemaco_ciberdias_verano_portada_desk.png" alt="Verano" />
        			</picture>
    			</a>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/verano#decoverano">
        			<picture>
        				<source srcset="/arquivos/2022marzo_cemaco_ciberdias_verano_nuevosespacios_mobile.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022marzo_cemaco_ciberdias_verano_nuevosespacios_desk.png" alt="decoración" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 ">Nuevos espacios <br >y decoración de verano</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/verano#churrasco">
        			<picture>
        				<source srcset="/arquivos/2022marzo_cemaco_ciberdias_verano_churrascoymesa_mobile.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022marzo_cemaco_ciberdias_verano_churrascoymesa_desk.png" alt="churrasco" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 mb-md-0">Churrasco y mesa <br>de verano</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/verano#jardin">
        			<picture>
        				<source srcset="/arquivos/2022marzo_cemaco_ciberdias_verano_jardinenverano_mobile.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022marzo_cemaco_ciberdias_verano_jardinenverano_desk.png" alt="Jardín" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 mb-md-3">Jardín en verano<br class="d-block d-md-none">&nbsp;</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
	</div>
	
	
	
	
	<!-- Termina spiffs dobles dias privilegio-FIN-->
	
	
	<!-- Empieza content Especial de herramientas-->
	<!--
	<div class=" row banner_container herramientas mt-0 mb-3">
        <div class="desk col-12 pt-md-3">
			<h2 class="tag-title--level-2 d-block d-md-none pb-2">
			    Especial herramientas 
			    <a href="/c-herramientas">
			        <p class="fw-normal text-decoration-underline d-md-block view-more-txt-ft">Ver más</p>
			    </a>
			 </h2>
			<h2 class="tag-title--level-3 d-none d-md-block pb-3">Especial herramientas
            <a class="text-center d-block fw-normal" 
            href="/c-herramientas">
            <p class="ms-3 d-md-block view-more-txt-ft">Ver más</p>
        </a>
        </h2>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/s/herramientas#electricas">
        			<picture>
        				<source srcset="/arquivos/2022feb_verano_herramientas_electricas_mob_v2.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022feb_verano_herramientas_electricas_desk_v2.png" alt="Herramientas eléctricas" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 mb-md-3">Herramientas <br class="d-block d-md-none">eléctricas</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/s/herramientas#herramientasmanuales">
        			<picture>
        				<source srcset="/arquivos/2022feb_verano_herramientas_manuales_mob_v2.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022feb_verano_herramientas_manuales_desk_v2.png" alt="Herramientas manuales" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 mb-md-3">Herramientas <br class="d-block d-md-none">manuales</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/s/herramientas#accesoriosherramientas">
        			<picture>
        				<source srcset="/arquivos/2022feb_verano_accesorios_para_herramientas_mob_v2.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022feb_verano_accesorios_para_herramientas_desk_v2.png" alt="Accesorios para herramientas" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 mb-md-0">Accesorios para <br>herramientas</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3 banner_item">
			<div class="content-spiff overflow-hidden">
			    <a href="/s/herramientas#seguridadindustrial">
        			<picture>
        				<source srcset="/arquivos/2022feb_verano_seguridad_industrial_mob_v2.png" media="(max-width: 767px)"/>
        				<img src="/arquivos/2022feb_verano_seguridad_industrial_desk_v2.png" alt="Seguridad Industrial" />
        			</picture>
        			<div class="content d-flex flex-column align-items-center pt-md-2">
        				<h3 class="banner-item_text pb-1 pt-md-0 mb-md-3">Seguridad industrial<br class="d-block d-md-none">&nbsp;</h3>
        				<span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
        			</div>
    			</a>
			</div>
		</div>
	</div>
	-->
    <!-- Termina content -->