<div class="re-central margin-recentralmod"><!--pad-top-c-deptos-->


    
    <!--Empieza Nuestros departamentos -INICIO- -->
    <div class="re-central pt-md-4 d-none d-md-block margin-deptos-desk">
        <a id="catdepartamentos" class="d-block position-relative visually-hidden fix-anchor"></a>
        <h2 class="tag-title--level-3 mb-md-3" id="departaments">Navega por departamento</h2>
        <div class="row categories-bebe fullcontent-bebe">
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/verano">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_llego_el_verano_desk_v2.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_llego_el_verano_desk_v2.png" alt="Verano" />
                    </picture>
                    <span>Verano</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/ofertasdelasemana">
                    <picture>
                        <source srcset="/arquivos/2022mar_depto_ofertas_de_la_semana_deskmob.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022mar_depto_ofertas_de_la_semana_deskmob.png" alt="Ofertas de la semana" />
                    </picture>
                    <span>Ofertas de la semana</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/cuidatusalud">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cuida_tu_salud_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_cuida_tu_salud_desk.png" alt="Covid-19" />
                    </picture>
                    <span>Cuida tu salud</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-aprende-en-casa">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_espacio_de_estudio_y_oficina.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_espacio_de_estudio_y_oficina.png" alt="Oficina" />
                    </picture>
                    <span>Espacio de estudio <br>y oficina</span>
                </a>
            </div>
    
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/ejercitateencasa">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_ejercitate_en_casa_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_ejercitate_en_casa_desk.png" alt="Ejercicio" />
                    </picture>
                    <span>Ejercítate en casa</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" >
                <a href="/c-electrodomesticos-y-linea-blanca">
                    <picture>
                        <source srcset="/arquivos/2022_feb_verano_cat_electrodomesticos_y_linea_blanca_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022_feb_verano_cat_electrodomesticos_y_linea_blanca_desk.png" alt="Electrodomésticos">
                    </picture>
                    <span id="cat-electrodom-linea-blanca">Electrodomésticos <br />y línea blanca</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-herramientas">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_herramientas_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_herramientas_desk.png" alt="Herramientas">
                    </picture>
                    <span>Herramientas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-cocina-y-mesa">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cocina_y_mesa_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_cocina_y_mesa_desk.png" alt="Cocina y mesa" />
                    </picture>
                    <span>Cocina y mesa</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-none d-md-block">
                <a href="/c-dormitorio">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_dormitorio_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_dormitorio_desk.png" alt="Dormitorio" />
                    </picture>
                    <span>Dormitorio</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-organizacion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_orgnizacion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_orgnizacion_desk.png" alt="Organización" />
                    </picture>
                    <span>Organización</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-limpieza-y-lavanderia">
                    <picture>
                        <source srcset="/arquivos/2022feb_erano_cat_limpieza_ylavanderia_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_erano_cat_limpieza_ylavanderia_desk.png" alt="Limpieza" />
                    </picture>
                    <span>Limpieza y lavandería</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-plomeria">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_plomeria_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_plomeria_desk.png" alt="Plomería" />
                    </picture>
                    <span>Plomería</span>
                </a>
            </div>
            
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-electricos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_electricos_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_electricos_desk.png" alt="Eléctricos">
                    </picture>
                    <span>Eléctricos</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-cuidado-personal-y-bienestar">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cuidado_personal_y_bienestar_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_cuidado_personal_y_bienestar_desk.png" alt="Belleza" />
                    </picture>
                    <span>Cuidado personal <br />y bienestar</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-banos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_baños.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_baños.png" alt="Baños" />
                    </picture>
                    <span>Baños</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-muebles">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_muebles_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_muebles_desk.png" alt="Muebles" />
                    </picture>
                    <span>Muebles</span>
                </a>
            </div>
            
           
             <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-alimentos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_act_alimentos_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_act_alimentos_desk.png" alt="Alimentos" />
                    </picture>
                    <span>Alimentos</span>
                </a>
            </div>
            
             <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte vertodos">
                <picture>
                    <source srcset="/arquivos/2022feb_verano_cat_nuestros_departamentos_desk.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2022feb_verano_cat_nuestros_departamentos_desk.png" alt="Nuestros departamentos" />
                </picture>
                <span>Nuestros departamentos</span>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-tecnologia">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_tecnologia_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_tecnologia_desk.png" alt="Tecnología" />
                    </picture>
                    <span>Tecnología</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-decoracion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_decoracion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_decoracion_desk.png" alt="Decoración" />
                    </picture>
                    <span>Decoración</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-iluminacion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_iluminacion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_iluminacion_desk.png" alt="Lámparas" />
                    </picture>
                    <span>Iluminación</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-pinturas">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_pinturas_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_pinturas_desk.png" alt="Pinturas" />
                    </picture>
                    <span>Pinturas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-autos-y-motos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_autos_y_motos_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_autos_y_motos_desk.png" alt="Autos y motos" />
                    </picture>
                    <span>Autos y motos</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-ferreteria">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_ferreteria_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_ferreteria_desk.png" alt="Ferreteria" />
                    </picture>
                    <span>Ferretería</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-cortinas-alfombras-y-pisos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cortinas_alfombras_y_pisos_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_cortinas_alfombras_y_pisos_desk.png" alt="Cortinas y alfombras" />
                    </picture>
                    <span>Cortinas, alfombras <br />y pisos</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-bebes">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_bebes_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_bebes_desk.png" alt="Bebés" />
                    </picture>
                    <span>Bebés</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-mascotas">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_mascotas_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_mascotas_desk.png" alt="Mascotas" />
                    </picture>
                    <span>Mascotas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-ninas-y-ninos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_ninos_y_ninas_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_ninos_y_ninas_desk.png" alt="Niños y niñas" />
                    </picture>
                    <span>Niños y niñas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-juguetes">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_jugutes_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_jugutes_desk.png" alt="Juguetes" />
                    </picture>
                    <span>Juguetes</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-patio-y-jardin">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_patio_y_jardin_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_patio_y_jardin_desk.png" alt="Patio y jardín" />
                    </picture>
                    <span>Patio y jardín</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-materiales-de-construccion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_materiales_de_construccion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_materiales_de_construccion_desk.png" alt="Materiales de construcción" />
                    </picture>
                    <span class="">Materiales <br> de construcción</span>
                
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-acabados">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_pisos_y_puertas_y_ventanas.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_pisos_y_puertas_y_ventanas.png" alt="Puertas y ventanas" />
                    </picture>
                    <span>Pisos, puertas<br>y ventanas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/liquidacion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_liquidacion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_liquidacion_desk.png" alt="Liquidación" />
                    </picture>
                    <span>Liquidación</span>
                </a>
            </div>
    
        </div>
    </div>
    <!--Termina Nuestros departamentos -final desktop- -->
    
    
    
    
    
    
    
    
    
    
    <!-- Empieza Nuestros departamentos -INICIO- mobile -->
    <div class="re-central pt-md-4 d-block d-md-none">
        <a id="catdepartamentos" class="d-block position-relative visually-hidden fix-anchor"></a>
        <h2 class="tag-title--level-3 mb-md-3" id="departaments">Navega por departamento</h2>
        <div class="row categories-bebe fullcontent-bebe">
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/verano">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_llego_el_verano_desk_v2.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_llego_el_verano_desk_v2.png" alt="Verano" />
                    </picture>
                    <span>Verano</span>
                </a>
            </div>
    
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/ofertasdelasemana">
                    <picture>
                        <source srcset="/arquivos/2022mar_depto_ofertas_de_la_semana_deskmob.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022mar_depto_ofertas_de_la_semana_deskmob.png" alt="Ofertas de la semana" />
                    </picture>
                    <span>Ofertas de la semana</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/cuidatusalud">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cuida_tu_salud_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_cuida_tu_salud_desk.png" alt="Covid-19" />
                    </picture>
                    <span>Cuida tu salud</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-aprende-en-casa">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_espacio_de_estudio_y_oficina.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_espacio_de_estudio_y_oficina.png" alt="oficina" />
                    </picture>
                    <span>Espacio de estudio <br>y oficina</span>
                </a>
            </div>
    
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/ejercitateencasa">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_ejercitate_en_casa_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_ejercitate_en_casa_desk.png" alt="Ejercicio" />
                    </picture>
                    <span>Ejercítate <br>en casa</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" >
                <a href="/c-electrodomesticos-y-linea-blanca">
                    <picture>
                        <source srcset="/arquivos/2022_feb_verano_cat_electrodomesticos_y_linea_blanca_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022_feb_verano_cat_electrodomesticos_y_linea_blanca_desk.png" alt="Electrodomésticos">
                    </picture>
                    <span id="cat-electrodom-linea-blanca">Electrodomésticos <br />y línea blanca</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-herramientas">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_herramientas_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_herramientas_desk.png" alt="Herramientas">
                    </picture>
                    <span>Herramientas</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-cocina-y-mesa">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cocina_y_mesa_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_cocina_y_mesa_desk.png" alt="Cocina y mesa" />
                    </picture>
                    <span>Cocina y mesa</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-none d-md-block">
                <a href="/c-dormitorio">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_dormitorio_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_dormitorio_desk.png" alt="Dormitorio" />
                    </picture>
                    <span>Dormitorio</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-organizacion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_orgnizacion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_orgnizacion_desk.png" alt="Organización" />
                    </picture>
                    <span>Organización</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-limpieza-y-lavanderia">
                    <picture>
                        <source srcset="/arquivos/2022feb_erano_cat_limpieza_ylavanderia_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_erano_cat_limpieza_ylavanderia_desk.png" alt="Limpieza" />
                    </picture>
                    <span>Limpieza <br>y lavandería</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-plomeria">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_plomeria_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_plomeria_desk.png" alt="Plomería" />
                    </picture>
                    <span>Plomería</span>
                </a>
            </div>
            
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-electricos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_electricos_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_cat_electricos_desk.png" alt="Eléctricos">
                    </picture>
                    <span>Eléctricos</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-cuidado-personal-y-bienestar">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cuidado_personal_y_bienestar_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_cuidado_personal_y_bienestar_desk.png" alt="Belleza" />
                    </picture>
                    <span>Salud y belleza</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-banos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_baños.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_baños.png" alt="Baños" />
                    </picture>
                    <span>Baños</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-muebles">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_muebles_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_muebles_desk.png" alt="Muebles" />
                    </picture>
                    <span>Muebles</span>
                </a>
            </div>
    
            
             <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-alimentos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_act_alimentos_desk.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022feb_verano_act_alimentos_desk.png" alt="Alimentos" />
                    </picture>
                    <span>Alimentos</span>
                </a>
            </div>
            
            
            
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
                <a href="/c-tecnologia">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_tecnologia_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_tecnologia_desk.png" alt="Tecnología" />
                    </picture>
                    <span>Tecnología</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte vertodos">
                <picture>
                    <source srcset="/arquivos/2022feb_verano_cat_nuestros_departamentos_desk.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2022feb_verano_cat_nuestros_departamentos_desk.png" alt="Nuestros departamentos" />
                </picture>
                <span>Nuestros <br>departamentos</span>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-decoracion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_decoracion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_decoracion_desk.png" alt="Decoración" />
                    </picture>
                    <span>Decoración</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-iluminacion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_iluminacion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_iluminacion_desk.png" alt="Lámparas" />
                    </picture>
                    <span>Iluminación</span>
                </a>
            </div>
        
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-pinturas">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_pinturas_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_pinturas_desk.png" alt="Pinturas" />
                    </picture>
                    <span>Pinturas</span>
                </a>
            </div>
            
        
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-autos-y-motos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_autos_y_motos_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_autos_y_motos_desk.png" alt="Autos y motos" />
                    </picture>
                    <span>Autos y motos</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-ferreteria">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_ferreteria_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_ferreteria_desk.png" alt="Ferreteria" />
                    </picture>
                    <span>Ferretería</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-cortinas-alfombras-y-pisos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_cortinas_alfombras_y_pisos_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_cortinas_alfombras_y_pisos_desk.png" alt="Cortinas y alfombras" />
                    </picture>
                    <span>Cortinas, <br>alfombras y pisos</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-bebes">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_bebes_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_bebes_desk.png" alt="Bebés" />
                    </picture>
                    <span>Bebés</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-mascotas">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_mascotas_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_mascotas_desk.png" alt="Mascotas" />
                    </picture>
                    <span>Mascotas</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-ninas-y-ninos">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_ninos_y_ninas_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_ninos_y_ninas_desk.png" alt="Niños y niñas" />
                    </picture>
                    <span>Niños y niñas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-juguetes">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_jugutes_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_jugutes_desk.png" alt="Juguetes" />
                    </picture>
                    <span>Juguetes</span>
                </a>
            </div>
            
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-patio-y-jardin">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_patio_y_jardin_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_patio_y_jardin_desk.png" alt="Patio y jardín" />
                    </picture>
                    <span>Patio y jardín</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-materiales-de-construccion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_materiales_de_construccion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_materiales_de_construccion_desk.png" alt="Materiales de construcción" />
                    </picture>
                    <span class="">Materiales <br>de construcción</span>
                
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/c-acabados">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_pisos_y_puertas_y_ventanas.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_pisos_y_puertas_y_ventanas.png" alt="Puertas y ventanas" />
                    </picture>
                    <span>Pisos, puertas<br>y ventanas</span>
                </a>
            </div>
            <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
                <a href="/liquidacion">
                    <picture>
                        <source srcset="/arquivos/2022feb_verano_cat_liquidacion_desk.png" media="(max-width: 762px)" />
                        <img src="/arquivos/2022feb_verano_cat_liquidacion_desk.png" alt="Liquidación" />
                    </picture>
                    <span>Liquidación</span>
                </a>
            </div>
            
        </div>
    </div>
    <!-- Termina Nuestros departamentos -final mobile- -->
    
    
    
    
    
    
    <!--Empieza Descubre nuestros top departamentos -INICIO-->
    <div class="banner-nuestros-top-deptos ps-2 pe-2 pt-3 pt-md-4">
        <h2 class="text-center tag-title--level-3 pb-4 d-none d-md-block">Nuestros top departamentos</h2>
        <h2 class="text-center tag-title--level-3 pb-md-3 d-block d-md-none">Nuestros top departamentos</h2>
        <div class="row text-center triplets padding-triplets-dobles">
            <div class="col-6 col-md-6 mb-6 mb-md-0 pb-4">
                <div class="content-spiff overflow-hidden">
                    <a href="/c-muebles">
                        <picture>
                            <source srcset="/arquivos/2022feb_verano_depto_muebles_mob_v2.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022feb_verano_depto_muebles_desk_v2.png" alt="Muebles">
                        </picture>
                        <h4 class="mt-lg-2 pb-2 pt-3 new-top-deptos-1">Muebles</h4>
                        <p class="fw-normal text-decoration-underline pb-4 view-more-txt-ft new-top-deptos-txt-1">Ver más</p>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-6 mb-6 mb-md-0 pb-4">
                <div class="content-spiff overflow-hidden">
                    <a href="/c-electrodomesticos-y-linea-blanca">
                        <picture>
                            <source srcset="/arquivos/2022feb_verano_depto_electrodimesticos_y_linea_blanca_mob_v2.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022feb_verano_depto_electrodimesticos_y_linea_blanca_desk_v2.png" alt="Línea  blanca">
                        </picture>
                        <h4 class="mt-lg-2 pb-2 pt-3 new-top-deptos-2">Electrodomésticos <br class="d-block d-md-none">y línea blanca</h4>
                        <p class="fw-normal text-decoration-underline pb-4 view-more-txt-ft new-top-deptos-txt-2">Ver más</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Termina Descubre nuestros top departamentos -FIN-->
    
    
    
    <!--  Empieza seccion recomendado para ti-->
    <div class="carruselHomeE-test mobile-fullwidth" ></div>
    <!--  Termina seccion recomendado para ti-->
    
    
    <style type="text/css">
        
        .white-arrow{
            color:#fff!important;
        }
        .c-pointer-hover:hover{
            cursor:pointer!important;
        }
        .flex-row-content{
            flex-wrap: unset!important;
        }
        .content-general-img-txt-promise{
            width:100%;
            padding-top:0.6rem;
        }
        .content-img-our-promise{
            width:100%;
            
        }
        .content-txt-our-promise{
            width:100%;
            height:2.7rem;
            display:flex;
            align-items:center;
            align-content:center;
            margin:auto;
        }
    
    
        .img-radius-promise{
            border-radius:0px;
        }
        .padding-general-content-items{
            padding-left: 89px;
            padding-right: 89px;
        }
        
        .img-content-items-promise{
            border-radius:0px;
        }
        .color-content-items-promise{
            background-color:#101E8E;
            border-radius:0px;
        }
        .padding-content-items{
            padding:0px!important;
        }
        .br-radius-content{
            border-radius:0px;
            margin-bottom:50px;
        }
        
        @media(max-width:767px){
            .txt-description-promise{
                font-size: 0.8rem;
                text-align: center;
                padding-top: 6px;
            }
            .content-item-our-promise{
                display:flex;
                align-content:center;
                align-items:center;
            }
            
     
            .img-our-promise {
                width: 58%;
                display: block;
                margin: auto;
                padding-left: 0rem!important;
                padding-right: 0rem;
            }
            
            
            /*arreglos*/
            
            .br-radius-content {
                margin-bottom: 25px;
                padding-left: 0px;
                padding-right: 0px;
            }
            .img-content-items-promise {
                border-radius: 0px;
            }
            .img-radius-promise {
                border-radius:0px;
            }
            .color-content-items-promise {
                border-radius:0px;
                margin-top: 0px;
            }
            .padding-general-content-items {
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .content-general-img-txt-promise {
                margin-bottom: 0.6rem;
                display: flex;
                align-items: center;
                align-content: center;
            }
    
            .content-img-our-promise {
                width: 60%;
                display: flex;
                align-content: unset;
                align-items: center;
            }
           
            .txt-our-promise {
                color: #fff;
                font-weight: bold;
                font-size: 0.8rem!important;
                text-align: left;
                width: 100%;
                text-align: center;
                margin-left: -13%;
            }
            .img-our-promise-mod{
                margin-left: 48%!important;
            }
            .txt-our-promise-mod{
                text-align:left!important;
                margin-left: 15%!important;
            }
            
        }
        
        
        
        
        
        @media(min-width:768px){
            .content-item-our-promise{
                display:flex;
                align-content:center;
                align-items:center;
                padding:0px;
                height:5rem;
            }
            .img-our-promise{
                width:40px;
                display:block;
                margin:auto;
            }
            .txt-our-promise{
                color:#fff;
                font-weight:bold;
                font-size:0.5rem!important;
                font-weight: 500;
                text-align:center;
                width:100%;
            }
            .padding-general-content-items{
                padding-left: 11px;
                padding-right: 0px;
            }
            .swiper.mySwiper {
                width: 76%!important;
            }
            
            .row.br-radius-content {
                width: 100%!important;
                margin: auto 0px 50px auto!important;
            }
            .swiper-slide.col-xs-12.col-lg-3.col-md-3.content-item-our-promise {
                width: 25%!important;
                font-size: 0.9rem;
            }
        }
        
        
          /*seccion imparte para ti*/
        @media(min-width:768px){
            h2.mobile-fullwidth.text-center.tag-title--level-3.mt-md-1 {
                padding-bottom: 0px!important;
                margin-bottom: 9px!important;
            }
            .row.importanteparati.text-center.mx-2.mx-md-0.px-md-3.py-3.py-md-4.d-none.d-md-flex.align-items-start {
                padding: 0px!important;
                margin: 0px -14px!important;
                background-color: transparent!important;
            }
        
            .col-12.col-md-4.py-4.border-md-end-1.border-bottom.border-md-bottom-none.d-flex.flex-column.justify-content-center {
                padding: 0px 0px;
                width: 31.7%;
                margin: 0px 0.8%;
                background-color: transparent;
            }
            
            .content-importanteparati-main{
                height: auto;
                width:100%;
                
            }
            
            .content-importanteparati-img{
                width:100%;
                height:7.8rem;
                display:flex;
                align-content:center;
                align-items:center;
                background-color:#F7F7F7;
            }
            
            .content-importanteparati-txt{
                height:6.2rem;
                width:100%;
                display:flex;
                align-content:center;
                align-items:center;
                background-color:#EEEEEE;
            }
            .importanteparati-img-central{
                width:82%!important;
                display:block!important;
                margin:auto!important;
            }
            
            .border-md-end-1 {
                border-right: none!important;
            }
            .importanteparati-txt-central{
                font-size:0.5rem!important;
                width: 100%!important;
            }
    
        }
        
        
        
        @media(min-width:1024px){
            
            .content-item-our-promise{
                height:7.2rem;
            }
            .img-our-promise{
                width:60px;
            }
            .txt-our-promise{
                font-size:0.60rem!important;
                font-weight: 500;
            }
            .importanteparati-txt-central {
                font-size: 0.65rem!important;
                width: 100%!important;
            }
        }
        
        @media(min-width:1280px){
            .content-item-our-promise{
                height:9rem;
            }
            .img-our-promise{
                width:80px;
            }
            .txt-our-promise{
                font-size:0.75rem!important;
                font-weight: 500;
            }
            .importanteparati-txt-central {
                font-size: 0.75rem!important;
                width: 100%!important;
            }
        }
        
        @media(min-width:1440px){
            .content-item-our-promise{
                height:10.3rem;
            }
            .img-our-promise{
                width:80px;
            }
            .txt-our-promise{
                font-size:0.75rem!important;
                font-weight: 500;
            }
            .importanteparati-txt-central {
                font-size: 0.85rem!important;
                width: 100%!important;
            }
        }
        
        
        
      
    
     
        
        
        @media(max-width:767px){
            .content-importanteparati-main{
                height: auto;
                width:100%;
                
            }
            
            .content-importanteparati-img{
                width:100%;
                height:6rem;
                display:flex;
                align-content:center;
                align-items:center;
                background-color:#F7F7F7;
            }
            
            .content-importanteparati-txt{
                height:5rem;
                width:100%;
                display:flex;
                align-content:center;
                align-items:center;
                background-color:#EEEEEE;
            }
            .importanteparati-img-central{
                width:70%!important;
                display:block!important;
                margin:auto!important;
            }
            
            .importanteparati-txt-central{
                font-size:0.8rem!important;
                width: 100%!important;
            }
            
            .importanteparati.text-center.position-relative.mt-3.d-md-none.swiper-initialized.swiper-horizontal.swiper-ios {
                padding: 0px!important;
                margin: 0px -54px!important;
                background: transparent!important;
            }
            .swiper-button-next.d-block.arrow-icon-m{
                margin-right: 7%!important;
        margin-top: -22px!important;
        position: absolute;
            }
            .swiper-button-prev.d-block.arrow-icon-m{
                margin-left: 6%;
                margin-top: -22px!important;
                position: absolute;
            }
            .px-4 {
                padding-right: 0px!important;
                padding-left: 0px !important;
            }
            .importanteparati-primero{
                /*
                padding-right: 0px!important;
                padding-left: 0px !important;
                margin-left:-57px!important;
                width:117.5%!important;
                */
                padding-right: 0px!important;
                padding-left: 0px !important;
                margin-left: 24px!important;
                width: 88.5%!important;
            }
            
            
            .importanteparati-segundo{
                /*
                padding-right: 0px!important;
                padding-left: 0px !important;
                margin-left:-57px!important;
                width:117.8%!important;
                */
                padding-right: 0px!important;
                padding-left: 0px !important;
                margin-left: 50px!important;
                width: 87.8%!important;
            }
            
            .importanteparati-ultimo{
                /*
                padding-right: 0px!important;
                padding-left: 0px !important;
                margin-left:-57px!important;
                width:116.5%!important;
                */
                padding-right: 0px!important;
                padding-left: 0px !important;
                margin-left: 51px!important;
                width: 88.2%!important;
            }
            
        .home .importanteparati {
        background: #fff!important;
    }
            
        }
        
    </style>