<!-- Empieza banner visita la ferretería-->
<div class="banner-single mt-4 mb-3 todoenferreteria">
	<a href="/c-tecnologia">
		<picture>
			<source srcset="/arquivos/2022mar_banner_los_mejores_productos_para_los_amantes_de_la_tecnologia_mob.png" media="(max-width: 767px)" />
			<img src="/arquivos/2022mar_banner_los_mejores_productos_para_los_amantes_de_la_tecnologia_desk.png" alt="Tecnología" />
		</picture>
		<div class="content cn-bn-pr">
			<h3 class="banner-item_text d-block d-md-none bn-font-n">
			Los mejores productos <br class="d-block d-md-none">para <br class="d-none d-md-block">los amantes <br class="d-block d-md-none">de la tecnología
			</h3>
			<span class="vermas fw-normal d-block d-md-none view-more-txt-ft">Ver más</span>
			<h3 class="pb-1 pt-md-0 d-none d-md-block text-center">Los mejores productos para<br>los amantes de la tecnología</h3>
			<span class="vermas fw-normal d-none d-md-block text-center view-more-txt-ft">Ver más</span>
		</div>
	</a>
</div>
 <!-- Termina banner visita la ferretería-->

<!--empieza Ofertas de la semana-->
	<div class="ofertas-semana-wrapper">
		<h2 class="tag-title--level-3 mb-md-3 mb-lg-0 pb-lg-3 d-none d-md-block">
			Ofertas de la semana
			<a class="text-center d-none d-md-inline-block fw-normal"
				href="/ofertasdelasemana">
				<p class="ms-3">Ver más</p>
			</a>
		</h2>
		<h2 class="tag-title--level-3 mb-md-3 mt-3 d-block d-md-none">
			Ofertas de la semana
		</h2>
		<a href="/ofertasdelasemana">
			<picture>
				<source srcset="/arquivos/2022mar_banner_ofertas_de_la_semana_mob.png" media="(max-width: 767px)">
				<img src="/arquivos/2022mar_banner_ofertas_de_la_semana_desk.png" alt="Ofertas">
			</picture>
		</a>
	</div>
   <!-- finaliza Ofertas de la semana-->
   
   
   <!-- Empieza banner visita la ferretería-->
<div class="banner-single mt-4 mt-lg-5 mb-3 todoenferreteria">
	<a href="/todoenferreteria">
	<picture>
		<source srcset="/arquivos/2022feb_verano_visita_la_ferreteria_mas_completa_mob_v2.png" media="(max-width: 767px)" />
		<img src="/arquivos/2022feb_verano_visita_la_ferreteria_mas_completa_desk_v2.png" alt="Ferretería" />
	</picture>
	<div class="content">
		<h3 class="banner-item_text d-block d-md-none">
		Visita la ferretería <br> mas completa
		</h3>
		<span class="vermas fw-normal d-block d-md-none view-more-txt-ft">Ver más</span>
		
		<h3 class="pb-1 pt-md-0 d-none d-md-block text-center">Visita la ferretería más completa</h3>
		<span class="vermas fw-normal d-none d-md-block text-center view-more-txt-ft">Ver más</span>
	</div>
	</a>
</div>
 <!-- Termina banner visita la ferretería-->