<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_ale.css" />
<!-- <link rel="stylesheet" href="https://cemacogt.vteximg.com.br/arquivos/main.min.css?v=20220216-15:45"> -->



<!-- Empieza slider principal  -->
<div class="row mb-2 mb-lg-3 banner-principal">
    <div class="homeBannerSlider swiper col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-0">
        <div class="swiper-wrapper">

            <div id="bannerJugar" class="swiper-slide">
                <div class="mainimage mobile-fullwidth">
                    <a href="/c-juguetes">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022sep_banner_main_home_jugueton_slider01_mob.png" media="(max-width: 767px)">
                        <!-- Desktop -->
                        <img src="/arquivos/2022sep_banner_main_home_jugueton_slider01_desk.png" alt="juguetes">
                    </picture>
                    </a>
                    <!--<a href="/celebracion" class="button-banner btn d-md-block m-0">VER MÁS</a>-->
                </div>
            </div>


            <div id="bannerJugar" class="swiper-slide">
                <div class="mainimage mobile-fullwidth">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022sep_HomeNewJugueton_73.png" media="(max-width: 767px)">

                        <!-- Desktop -->
                        <img src="/arquivos/2022sep_HomeNewJugueton_70.png" alt="Novedades">
                    </picture>
                    <a href="/1990?map=productClusterIds" class="clases btn d-md-block m-0 btn-slider-02">VER MÁS</a>
                </div>
            </div>

            <div id="bannerClases" class="swiper-slide">
                <div class="mainimage mobile-fullwidth">
                    <picture>
                        <!-- Mobile-->
                        <source srcset="/arquivos/2022sep_HomeNewJugueton_72.png" media="(max-width: 767px)">

                        <!-- Desktop-->
                        <img src="/arquivos/2022sep_HomeNewJugueton_69.png" alt="club de lectura">
                    </picture>
                    <a href="/clubdelectura" class="clases btn d-md-block m-0 btn-slider-03">VER MÁS</a>
                </div>
            </div>



        </div>

        <!-- Paginacion -->
        <div id="banner-slider-pagination" class="swiper-pagination d-flex"></div>

        <!-- Butones de navegacion -->
        <div id="banner-slider-prev" class="swiper-button-prev d-none d-md-flex"></div>
        <div id="banner-slider-next" class="swiper-button-next d-none d-md-flex"></div>

    </div>
</div>

<!--termina slider principal-->



<!-- Empiezan Mini spiffs de temporada -->
<div class="minispiff general-padding-spiffs mt-3 mb-5 mx-0">
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#muniecas">
                <picture>
                    <source srcset="/arquivos/2022sep_HomeNewJugueton_63.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022sep_HomeNewJugueton_67.png" alt="Muñecas">
                </picture>
                <h4>Muñecas</h4>
                <p class="txt-p-spiff">
                    <span>Desde Q45<sup>99</sup></span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#artemanualidades">
                <picture>
                    <source srcset="/arquivos/2022sep_HomeNewJugueton_64.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022sep_HomeNewJugueton_68.png" alt="Manualidades">
                </picture>
                <h4>Manualidades</h4>
                <!--p class="txt-p-spiff">
                    <span>Ver más</span>
                </p-->
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#vehiculospistas">
                <picture>
                    <source srcset="/arquivos/2022sep_HomeNewJugueton_76.png" type="image/webp"
                        media="(max-width: 767px)">
                    <img src="/arquivos/2022sep_HomeNewJugueton_65.png" alt="vehículos y pistas">
                </picture>
                <h4>Vehículos y pistas</h4>
                <p class="txt-p-spiff">
                    <span>Carritos desde Q45<sup>99</sup></span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#preescolar">
                <picture>
                    <source srcset="/arquivos/2022sep_HomeNewJugueton_75.png" type="image/webp"
                        media="(max-width: 767px)">
                    <img src="/arquivos/2022sep_HomeNewJugueton_66.png" alt="Pre-escolar">
                </picture>
                <h4>Pre-escolar</h4>
                <!--p class="txt-p-spiff">
                    <span>Ver más</span>
                </p-->
            </a>
        </div>
    </div>
</div>
<!-- Terminan Mini spiffs de temporada -->

<style>
    a:hover {
        color: #000;
    }

    .landing--jugueton .border-rounded {
        border-radius: 15px;
    }

    .button-banner2 {
        background: #fff;
        border: solid #00A85D 1px;
        color: black;
        border-radius: 20px;
        padding: 8px 20px 8px;
        letter-spacing: 2px;
        font-size: .5rem;
        font-weight: bold;
        margin: 4px 0 0;
        display: inline-block;
        position: absolute;
        right: calc(54% - 4.54rem);
        bottom: calc(43% - 4.688rem);
    }

    .landing--jugueton .banner-single.todoenferreteria .content {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 61%;
        padding: 0 0 0 1em;
    }

    .landing--jugueton .banner-single.todoenferreteria {
        position: relative;
        margin: 0;
        overflow: hidden;
        border-radius: 0px;
    }

    .homeBannerSlider {
        position: relative;
        overflow: hidden;
    }

    .home .mainimage.mobile-fullwidth {
        position: relative !important;
        padding-top: 0rem !important;
        margin-bottom: 0rem !important;
        padding-bottom: 0rem !important;
    }

    .homeBannerSlider #banner-slider-pagination {
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        margin-bottom: 0.9rem;
    }

    #banner-slider-next.swiper-button-disabled,
    #banner-slider-prev.swiper-button-disabled {
        opacity: 0;
    }

    #banner-slider-next,
    #banner-slider-prev {
        fill: #FFF !important;
        transition: .5s;
        top: 50%;
        width: 30px;
        height: 30px;
    }

    #banner-slider-prev {
        transform: rotateY(180deg);
        fill: #27A85D;
        left: 10px;
    }

    #banner-slider-next::after,
    #banner-slider-prev::after {
        content: '';
    }

    .homeBannerSlider #banner-slider-pagination .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        margin: 0 0.2rem;
        cursor: pointer;
        background-color: #fff;
        opacity: 1;
    }

    .homeBannerSlider #banner-slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #27A85D;
    }

    .button-banner {
        background-color: #FFF !important;
        color: #000;
        padding: 9px 35px 9px !important;
        letter-spacing: 2px;
        right: calc(77% - 4.63rem) !important;
        bottom: calc(86% - 4.7rem) !important;
    }


    /* carrusel personajes */
    .spiffs-personajes {
        width: 100%;
        margin: auto;
    }

    .landing--jugueton .spiffs-personajes .contenedor-spiffs .item-proyect .spiffp-content {
        color: #fff;
        top: 49%;
        height: 63%;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 99%;
    }

    .landing--jugueton .spiffs-personajes .contenedor-spiffs .item-proyect h4 {
        font-size: 0.85em;
        padding: 0 0 0.4em 0;
    }

    .landing--jugueton .spiffs-personajes .contenedor-spiffs .item-proyect span {
        font-size: .85em;
    }

    .banner_item-picture{
            border-radius: 14px;
            margin: 0 1% 8% 0;
        }

        .banner_container.personaje{
            margin-left: 0.5rem;
    }

    .img-banner{
        border-radius: 14px;
    }
    /* carrusel personajes */



    @media (min-width: 320px) {
        .banner-single p.banner-item_text {
            font-size: 0.7em;
        }

        .landing--jugueton .banner-single.todoenferreteria .content {
            top: 25%;
            height: 100%;
            width: 100%;
            padding: 0;
        }

        .button-banner2 {
            padding: 10px 45px 10px;
            right: calc(50% - 4.54rem);
            bottom: calc(56% - 4.688rem);
        }

        .btn-slider-02 {
            background: #fff !important;
            color: #000;
            padding: 10px 40px 10px !important;
            display: inline-block;
            position: absolute;
            right: calc(76% - 4.54rem) !important;
            bottom: calc(61% - 4.688rem) !important;
            letter-spacing: 2px;
            font-size: 0.57rem !important;
        }

        .btn-slider-03 {
            background: #fff !important;
            color: #000;
            padding: 10px 40px 10px !important;
            display: inline-block;
            position: absolute;
            right: calc(76% - 4.54rem) !important;
            bottom: calc(50% - 4.688rem) !important;
            letter-spacing: 2px;
            font-size: 0.57rem !important;
        }
    }

    @media (min-width: 360px) {

        .btn-slider-02 {
            bottom: calc(58% - 4.688rem) !important;
            font-size: 0.65rem !important;
            padding: 11px 43px 11px !important;
            right: calc(75% - 4.65rem) !important;
        }

        .btn-slider-03 {
            bottom: calc(47% - 4.688rem) !important;
            font-size: 0.65rem !important;
            padding: 11px 43px 11px !important;
            right: calc(75% - 4.65rem) !important;
        }

        .button-banner {
            right: calc(76% - 4.54rem) !important;
            bottom: calc(84% - 4.8rem) !important;
        }


        .banner-single p.banner-item_text {
            font-size: 0.8em;
        }

        .button-banner2 {
            right: calc(49% - 4.54rem);
            bottom: calc(53% - 4.688rem);
            font-size: 0.65rem;
        }
    }

    @media (min-width: 375px) {
        .button-banner {
            padding: 11px 40px 11px !important;
            right: calc(74% - 4.54rem) !important;
            bottom: calc(82% - 4.6rem) !important;
        }

        .btn-slider-02 {
            right: calc(75% - 4.7rem) !important;
            bottom: calc(57% - 4.688rem) !important;
        }

        .btn-slider-03 {
            right: calc(75% - 4.7rem) !important;
            bottom: calc(46% - 4.688rem) !important;
        }

        .banner-single p.banner-item_text {
            font-size: 0.9em;
        }

        .button-banner2 {
            right: calc(46% - 4.54rem);
            bottom: calc(50% - 4.688rem);
            font-size: 0.8rem;
            padding: 10px 50px 10px;
        }
    }

    @media (min-width: 410px) {
        .btn-slider-03 {
            right: calc(72% - 4.7rem) !important;
            bottom: calc(43% - 4.688rem) !important;
            font-size: 0.75rem !important;
            padding: 12px 52px 12px !important;
        }

        .btn-slider-02 {
            right: calc(72% - 4.7rem) !important;
            bottom: calc(55% - 4.688rem) !important;
            font-size: 0.75rem !important;
            padding: 12px 52px 12px !important;
        }

        .button-banner {
            padding: 12px 55px 12px !important;
            right: calc(71% - 4.54rem) !important;
            bottom: calc(80% - 4.6rem) !important;
        }
    }

    @media (min-width: 480px) {

        .btn-slider-02 {
            bottom: calc(51% - 4.688rem) !important;
            right: calc(70% - 4.8rem) !important;
            font-size: 0.9rem !important;
            padding: 15px 58px 15px !important;
            border-radius: 25px !important;
        }

        .btn-slider-03 {
            bottom: calc(40% - 4.688rem) !important;
            right: calc(70% - 4.8rem) !important;
            font-size: 0.9rem !important;
            padding: 15px 58px 15px !important;
            border-radius: 25px !important;
        }

        .banner-single p.banner-item_text {
            font-size: 1.05em;
        }

        .button-banner {
            padding: 14px 62px 14px !important;
            right: calc(70% - 4.54rem) !important;
            bottom: calc(77% - 4.6rem) !important;
        }

        .button-banner2 {
            right: calc(43% - 4.54rem);
            bottom: calc(46% - 4.688rem);
            font-size: 0.95rem;
            padding: 15px 60px 15px;
            border-radius: 25px;
        }
    }

    @media (min-width: 500px) {


        .button-banner.clases {
            bottom: calc(32% - 4.688rem) !important;
        }
    }

    @media (min-width: 768px) {
        .landing--jugueton .spiffs-personajes .contenedor-spiffs .item-proyect {
            border-radius: 14px;
            width: 47%;
            margin: 0 0 3%;
        }
        .banner_item-picture{
            border-radius: 0px;
            width: auto;
            margin: 0;
        }
        .landing--jugueton .banner-single.todoenferreteria .content {
            top: 0%;
            height: 100%;
            width: 34%;
            padding: 0;
        }

        .banner-single p.banner-item_text {
            font-size: 0.5em;
            color: #000;
            text-align: left;
            padding-left: 15%;
        }

        .btn-slider-02 {
            border-radius: 20px;
            font-size: 0.43rem !important;
            margin: 4px 0 0;
            display: inline-block;
            position: absolute;
            right: calc(90% - 2.65rem) !important;
            bottom: calc(65% - 94px) !important;
            background-color: #fff !important;
            color: #000;
            padding: 7px 25px 7px !important;
            letter-spacing: 2px;
        }

        .btn-slider-03 {
            border-radius: 20px;
            font-size: 0.43rem !important;
            margin: 4px 0 0;
            display: inline-block;
            position: absolute;
            right: calc(80% - 2.5rem) !important;
            bottom: calc(75% - 94px) !important;
            background-color: #fff !important;
            color: #000;
            padding: 7px 25px 7px !important;
            letter-spacing: 2px;
        }


        .banner-principal {
            margin-left: auto;
            margin-right: auto;
        }

        .button-banner {
            bottom: calc(58% - 94px) !important;
            right: calc(77% - 2.5rem) !important;
            font-size: .4rem !important;
            padding: 10px 30px 10px !important;
        }

        .button-banner.clases {
            bottom: calc(62% - 94px) !important;
            right: calc(78% - 2.54rem) !important;
        }
    }

    @media (min-width: 990px) {
        .button-banner.clases {
            bottom: calc(55% - 94px) !important;
            right: calc(81% - 2.54rem) !important;
        }
    }

    @media (min-width: 1024px) {
        .btn-slider-02 {
            font-size: 0.5rem !important;
            right: calc(90% - 3rem) !important;
            bottom: calc(56% - 94px) !important;
            padding: 9px 31px 9px !important;
        }

        .btn-slider-03 {
            font-size: 0.5rem !important;
            right: calc(80% - 2.9rem) !important;
            bottom: calc(65% - 94px) !important;
            padding: 9px 31px 9px !important;
        }

        .button-banner {
            bottom: calc(49% - 94px) !important;
            font-size: .6rem !important;
            right: calc(73% - 0.5rem) !important;
        }

        .banner-single p.banner-item_text {
            font-size: 0.6em;
        }

        .button-banner2 {
            right: calc(80% - 4.54rem);
            bottom: calc(71% - 4.688rem);
            font-size: 0.5rem;
            padding: 8px 20px 8px;
        }
    }

    @media (min-width: 1280px) {
        .banner-single p.banner-item_text {
            font-size: 0.75em;
        }

        .button-banner2 {
            right: calc(75% - 4.54rem);
            bottom: calc(59% - 4.688rem);
            font-size: 0.7rem;
            padding: 9px 23px 9px;
        }

        .button-banner {
            bottom: calc(45% - 99px) !important;
            padding: 10px 45px 10px !important;
            font-size: .6rem !important;
            right: calc(73% - 0.7rem) !important;
        }

        .button-banner.clases {
            bottom: calc(45% - 99px) !important;
            padding: 12px 20px 12px !important;
            right: calc(83.5% - 2.54rem) !important;
        }

        .btn-slider-02 {
            font-size: 0.65rem !important;
            right: calc(89% - 3.1rem) !important;
            bottom: calc(48% - 94px) !important;
            padding: 10px 40px 10px !important;
        }

        .btn-slider-03 {
            font-size: 0.65rem !important;
            right: calc(79% - 2.9rem) !important;
            bottom: calc(57% - 94px) !important;
            padding: 10px 40px 10px !important;
        }
    }

    @media (min-width: 1440px) {
        .banner-single p.banner-item_text {
            font-size: 0.85em;
        }

        .button-banner {
            bottom: calc(12% - 0.5rem) !important;
            right: calc(73% - 0.8rem) !important;
            padding: 12px 50px 12px !important;
            font-size: .75rem !important;
        }

        .button-banner2 {
            right: calc(74% - 4.54rem);
            bottom: calc(55% - 4.688rem);
            font-size: 0.8rem;
            padding: 9px 24px 9px;
        }

        .btn-slider-02 {
            font-size: 0.75rem !important;
            right: calc(88% - 3.1rem) !important;
            bottom: calc(44% - 94px) !important;
            padding: 12px 50px 12px !important;
        }

        .btn-slider-03 {
            font-size: 0.75rem !important;
            right: calc(78% - 3rem) !important;
            bottom: calc(53% - 94px) !important;
            padding: 12px 50px 12px !important;
        }
    }

    @media (min-width: 1500px) {


        .button-banner.clases {
            bottom: calc(48% - 99px) !important;
            padding: 12px 20px 12px !important;
            right: calc(85.5% - 2.54rem) !important;
        }

    }


    @media (min-width: 1920px) {
        .banner-single p.banner-item_text {
            font-size: 0.9em;
        }

        .button-banner {
            bottom: calc(38% - 99px) !important;
            font-size: .85rem !important;
        }

        .button-banner2 {
            right: calc(72% - 4.54rem);
            bottom: calc(50% - 4.688rem);
            font-size: 0.9rem;
            padding: 12px 30px 12px;
        }

        .btn-slider-03 {
            font-size: 0.8rem !important;
            right: calc(78% - 3.1rem) !important;
            bottom: calc(51% - 94px) !important;
            padding: 12px 55px 12px !important;
        }

        .btn-slider-02 {
            font-size: 0.8rem !important;
            right: calc(88% - 3.1rem) !important;
            bottom: calc(42% - 94px) !important;
            padding: 12px 55px 12px !important;
        }
    }








    @media (min-width: 1440px) {
        .button-banner.clases.btn.d-md-block.m-0.btn-slider-02 {
            bottom: calc(41% - 99px) !important;
            padding: 15px 30px 15px !important;
            right: calc(83% - 2.54rem) !important;
        }

        .button-banner.clases.btn.d-md-block.m-0.btn-slider-03 {
            bottom: calc(41% - 99px) !important;
            padding: 15px 30px 15px !important;
            right: calc(83% - 2.54rem) !important;
        }
    }



    @media (min-width: 1920px) {
        .button-banner.clases.btn.d-md-block.m-0.btn-slider-02 {
            bottom: calc(39% - 99px) !important;
            padding: 15px 35px 15px !important;
            right: calc(83% - 2.54rem) !important;
        }

        .button-banner.clases.btn.d-md-block.m-0.btn-slider-03 {
            bottom: calc(39% - 99px) !important;
            padding: 15px 35px 15px !important;
            right: calc(83% - 2.54rem) !important;
        }
    }

    .nuestrapromesa .teofrecemos_container .background_nuestra-promesa {
        background-color: #27A85D !important;
    }

    #banner-slider-next .arrowCarrusel-right,
    #banner-slider-prev .arrowCarrusel-left {
        width: 30px !important;
        height: 30px !important;
    }
</style>