<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_ale.css" />
<!-- <link rel="stylesheet" href="https://cemacogt.vteximg.com.br/arquivos/main.min.css?v=20220216-15:45"> -->

<!--Portada solo con una imagen-->
<div class="single-board re-central">
    <div class="bannerprincipal_jugueton">
        <div class="row contentslide margin-banner-jugueton">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a href="">
                    <div class="mainimage-jugueton" title="juguetes">
                        <picture>
                            <source srcset="/arquivos/2022may_banner_grandes-marcas_mobile.jpg" media="(max-width: 767px)" />
                            <img src="/arquivos/2022may_banner_grandes-marcas_desk.jpg" alt=" Grandes marcas" />
                        </picture>
                        <!-- <div class="boton_banner">
                            <section class="button-flat secondary">COMPRA AQUÍ</section>
                        </div> -->
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Portada solo con una imagen-->


<!-- Empiezan Mini spiffs de temporada -->
<div class="minispiff general-padding-spiffs">
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/m/fisherprice">
                <picture>
                    <source srcset="/arquivos/2021_button_marcas_6_desk.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2021_button_marcas_6_desk.png" alt="Fisher Price">
                </picture>
                <div class=loguitos>
                    <img src="/arquivos/2022_mini-marca_fisher-price.png" alt="Fisher Price">
                </div>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/m/hotwheels">
                <picture>
                    <source srcset="/arquivos/2021_button_marcas_3_desk.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2021_button_marcas_3_desk.png" alt="Hot Wheels">
                </picture>
                <div class=loguitos>
                    <img src="/arquivos/2022_mini-marca_hot-wheels.png" alt="Hot Wheels">
                </div>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/m/barbie">
                <picture>
                    <source srcset="/arquivos/2021_button_marcas_2_desk.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2021_button_marcas_2_desk.png" alt="Barbie">
                </picture>
                <div class=loguitos-v2>
                    <img src="/arquivos/2022_mini-marca_barbie.png" alt="Barbie">
                </div>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/m/lego">
                <picture>
                    <source srcset="/arquivos/2021_button_marcas_1_desk.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2021_button_marcas_1_desk.png" alt="Lego">
                </picture>
                <div class=loguitos-v2>
                    <img src="/arquivos/2022_mini-marca_lego.png" alt="Lego">
                </div>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
</div>
<!-- Terminan Mini spiffs de temporada -->

