<!-- CEMACO CSS -->
<link rel="stylesheet" href="/arquivos/cemaco_andre.css?v=20220309-1112" id="cemacoStylesJ">
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css?2016-12-3:10 13 30" id="cemacoStyles" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css?2016-12-3:10 13 30" id="cemacoStylesJ" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_kim.css?2016-12-3:10 13 30" id="cemacoStylesK" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.css" />
<link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="/arquivos/bootstrap.v5.min.css?v=20211027-1711">

<div class="re-central">
    <!-- Empieza Banner portada -->  
    <div class="banner-ofertasdelasemana">
            <picture>
                <!-- Mobile .jpg-->
                <source srcset="https://www.cemaco.com/arquivos/2022_ciberdias_ofertas-mobile.png" media="(max-width: 767px)">
                <!-- Desktop .jpg-->
                <img src="https://www.cemaco.com/arquivos/2022_ciberdias_ofertas-desk.png" alt="Ciberdías">
            </picture>
    </div>
<!-- Termina Banner portada -->
    <h6 class="category-name py-4"><span>Compra por categoría</span></h6>
    <div class="d-flex flex-column flex-md-row py-2">
        <div class="row">
            <div class="category-item col-4 px-1 px-sm-2 p-md-4">
                <a href="/1606?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_muebles.png" alt="Muebles">
                    </picture>
                    <p class="text-center mt-3">Muebles</p>
                </a>
            </div>
            <div class="category-item col-4 px-1 px-sm-2 p-md-4">
                <a href="/1609?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_cocina.png" alt="Cocina">
                    </picture>
                    <p class="text-center mt-3">Cocina, mesa<br/> y electrodomésticos</p>
                </a>
            </div>
            <div class="category-item col-4 px-1 px-sm-2 p-md-4">
                <a href="/1613?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_herramientas.png" alt="Herramientas">
                    </picture>
                    <p class="text-center mt-3">Herramientas y<br/> ferretería</p>
                </a>
            </div>
            <div class="category-item d-none d-md-flex col-4 flex-column px-1 px-sm-2 p-md-4">
                <a href="/1615?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_juguetes.png" alt="Niños y niñas">
                    </picture>
                    <p class="text-center mt-3">Niños y niñas</p>
                </a>
            </div>
            <div class="category-item d-none d-md-flex col-4 flex-column px-1 px-sm-2 p-md-4">
                <a href="/1618?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_oferta.png" alt="Descuentos">
                    </picture>
                    <p class="text-center mt-3">Productos hasta 50%</p>
                </a>
            </div>
        </div>
        <div class="row pt-4 d-flex justify-content-center d-md-none">
            <div class="category-item col-4 px-1 px-sm-2 p-md-4">
                <a href="/1615?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_juguetes.png" alt="Niños y niñas">
                    </picture>
                    <p class="text-center mt-3">Niños y niñas</p>
                </a>
            </div>
            <div class="category-item col-4 px-1 px-sm-2 p-md-4">
                <a href="/1618?map=productClusterIds">
                    <picture>
                        <img src="https://www.cemaco.com/arquivos/2022_ciberdias_oferta.png" alt="Descuentos">
                    </picture>
                    <p class="text-center mt-3">Productos<br class="d-block d-md-none"/> hasta 50%</p>
                </a>
            </div>
        </div>
    </div>

    <h6 class="category-name py-md-4"><span>Ofertas Ciberdías</span></h6>
</div>


<style>
    .category-item a:hover{
        text-decoration: underline;
    }
    .ofertasdelasemana .banner-ofertasdelasemana{
        margin-bottom: 1.4rem;
    }
    .ofertasdelasemana .bread-crumbs, .ofertasdelasemana .category-name, .ofertasdelasemana .product-list__results-items{
        display: none;
    }

    
    .ofertasdelasemana .product-list__controls{
        display: flex;
        margin-top: 1rem;
    }
    main .re-central:nth-child(2){
        padding: 0;
    }

    .re-central--product-list {
        padding: 10px 20px;
        background: #F6F6F6;
        margin-top: 0.5rem;
    }

    .ofertasdelasemana .pre-footer {
        margin-top: 2rem
    }

    .ofertasdelasemana .product-item__wrapper .product-item{
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }

    .page-header--product-list{
        display: none;
    }
    .category-item{
        font-size: 0.66em;
    }
    .title-landing{
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 10px;
    }

    .filter-accordion__trigger {
        font-size: 0.8rem!important;
    }
    
    @media only screen and (min-width: 420px){
        .category-item{
            font-size: 0.8em;
        }
    }
    @media only screen and (min-width: 768px){
        .ofertasdelasemana .product-list__controls{
            display: none;
        }
        .col-4{
            width: 20%;
        }
        .category-item{
            font-size: 0.61em;
        }

    }
    @media only screen and (min-width: 1024px){
		.filter-accordion__trigger {
            font-size: 0.63rem!important;
        }
        .title-landing{
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }
        .category-item{
            font-size: 0.95em;
        }
	}
	
	@media only screen and (min-width: 1280px){
		.filter-accordion__trigger {
            font-size: 0.8rem!important;
        }
        .title-landing{
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }
	}
	
	@media only screen and (min-width: 1440px){
        .category-item{
            font-size: 1em;
        }
    }
	
	@media only screen and (min-width: 1440px){
		.filter-accordion__trigger {
            font-size: 0.9rem!important;
        }
        .title-landing{
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }
	}

    
    @media(min-width: 307px) and (max-width: 330px){
		/*empieza titulos de categorias*/
		.filter-accordion__trigger{
			font-size:1rem!important;
		}
		/*termina totulos de categorias*/
	}
	
	
	@media(min-width: 481px) and (max-width: 767px){
		/*empieza titulos de categorias*/
		.filter-accordion__trigger{
			font-size:1rem!important;
		}
		/*termina totulos de categorias*/
	}
	@media only screen and (min-width: 768px){
		/*empieza titulos de categorias*/
		.filter-accordion__trigger{
			font-size:1.1rem!important;
		}
		/*termina totulos de categorias*/
		
		.title-landing{
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
        }
	}
	
	
	
	
	

</style>