@charset "UTF-8";
/*!
----------------------------------------------------------------------------------------------------
* Important! - To edit this CSS, you must use the SCSS source file.

* Cemaco GT
----------------------------------------------------------------------------------------------------
*/
@media screen and (min-width:600px){img.video-loaded{display:none}}
.product-item__rating .yotpo-clr:first-child{height:17px}
.banners-slider__wrapper{position:relative}
.carruselCiberDiasU .swiper-button-next{right:15px}
@media screen and (max-width:479px){.product-list.grid-view .products-slider__container .product-item{padding-left:0;padding-right:0}}
.products-slider__container .product-item__main-image img{height:100%}
@media screen and (max-width:479px){.products-slider__container .swiper-initialized{margin-left:-15px;margin-right:-15px}}
.products-slider__container .swiper-initialized .product-item__main-image img{opacity:1}
.products-slider__container .swiper-initialized li[layout]{display:block}
.products-slider__container .swiper{padding-right:80px}
@media screen and (min-width:1024px){.products-slider__container .swiper{padding-right:105px;padding-left:24px}}
.products-slider__container .swiper>a,.products-slider__container .swiper>h2{margin-right:-80px;display:block}
.products-slider__container .swiper:after{content:"";display:block;width:25px;height:100%;position:absolute;right:0;top:0;z-index:2;background:white}
@media screen and (max-width:640px){.products-slider__container .swiper:after{display:none}}
.products-slider__container .yotpo.bottomLine .yotpo-bottomline .yotpo-stars{min-width:90px}
.swiper-button-next:after,.swiper-button-prev:after{content:""}
.swiper-button-prev{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.swiper-button-prev .arrowCarrusel-right{height:100%}
.swiper-button-next .arrowCarrusel-left{height:100%}
[class*=products-slider__wrapper]{opacity:1}
@media screen and (max-width:479px){.mb-blocks .swiper,.mb-blocks .swiper-slide,.mb-blocks .swiper-wrapper{display:block;position:static;-webkit-transform:none!important;transform:none!important}.mb-blocks .swiper-slide{margin-bottom:30px;width:100%!important}.mb-blocks .swiper-slide.swiper-slide-duplicate{display:none!important}.mb-blocks .swiper-slide.desk{display:none}}
@media screen and (min-width:480px) and (max-width:767px){.home #txt-proyectos-todo{font-size:0.9rem}}
.swiper{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}
@media screen and (min-width:1024px){.banners-slider__wrapper .swiper.swiper-initialized{padding-right:24px;padding-left:24px;margin-left:-25px;margin-right:-25px}}
.swiper-button-next,.swiper-button-prev{width:calc(var(--swiper-navigation-size)/ 20 * 20);color:#93D500}
.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:0}
.swiper-button-next{right:-30px!important;left:auto}
.banners-slider__wrapper .swiper-button-next{right:-5px}
.swiper-button-prev{left:-30px;right:auto}
.banners-slider__wrapper .swiper-button-prev{left:-5px}
:root{--swiper-navigation-size:30px}