<!-- Content 02 -->

<!--div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
	<a href="/1677?map=productClusterIds">
	<div class="content-marcas-banner d-flex flex-row justify-content-end justify-content-md-center align-items-end">
		<picture>
			<!-- Mobile 
			<source srcset="/arquivos/2021_cemaco-banner-Jugueton_MO_mob.min.jpg" type="image/webp" media="(max-width: 767px)" />
			<source srcset="/arquivos/2021_cemaco-banner-Jugueton_MO_mob.png" media="(max-width: 767px)" />
			<!-- Desktop 
			<source srcset="/arquivos/2021_cemaco-banner-Jugueton_MO_desk.min.jpg" type="image/webp"  media="(min-width: 768px)" />
			<img src="/arquivos/2021_cemaco-banner-Jugueton_MO_desk.png" alt="Jugueton Magicas Ofertas" />
		</picture>
		<span class="btn mb-2 mb-md-2">Compra aquí</span>
	</div>
	</a> 
	</div>-->
	
	
	<div class="banner-single mt-4 mb-3">
        <a href="/todoenferreteria">
        <picture>
            <!-- Mobile -->
            <source srcset="/arquivos/propositos22_ferre_mobile.png" media="(max-width: 767px)" type="image/webp" />
            <!-- wepb -> min.png -->
            <source srcset="/arquivos/propositos22_ferre_mobile.png" media="(max-width: 767px)" />
            <!-- Desktop -->
            <source srcset="/arquivos/propositos22_ferre_desk.png" type="image/webp" />
            <!-- wepb -> min.png -->
            <img src="/arquivos/propositos22_ferre_desk.png" alt="Ferreteria Completa, todo en ferreteria" />
        </picture>
        <div class="content">
            <h3 class="pb-1 pt-md-0">Visita la ferretería <br class="d-none d-md-block">más completa</h3>
            <span class="vermas fw-normal">Ver más</span>
        </div>
        </a>
        </div>
        
        <!-- Empieza conjunto de 3 spiffs -->
        <!-- <div class="banners-three">
        <div class="row mb-3">
        <div class="col-6">
            <a href="/c-cocina-y-mesa">
                <div class="content d-none d-md-block position-absolute position-absolute ps-4 pt-3">
                    <h3 class="pb-1">Cocina y <br>electrodomésticos </h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
                <picture>
                    <!-- Mobile -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_cocinaylectrodomesticos_mobile.min.jpg" media="(max-width: 767px)" type="image/webp" /> -->
                    <!-- wepb -> min.png -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_cocinaylectrodomesticos_mobile.jpg" media="(max-width: 767px)" /> -->
                    <!-- Desktop -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_cocinaylectrodomesticos_desk.min.jpg" type="image/webp" /> -->
                    <!-- wepb -> min.png -->
                    <!-- <img src="/arquivos/2021_cemaco_home01nov_navidad_spiff2_cocinaylectrodomesticos_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
                </picture>
                <div class="content d-md-none d-sm-block text-center">
                    <h3 class="pb-1">Cocina y electrodomésticos </h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="/c-tecnologia">
                <div class="content d-none d-md-block position-absolute position-absolute ps-4 pt-3">
                    <h3 class="pb-1">Tecnología</h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
                <picture>
                    <!-- Mobile -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_tecnologia_mobile.min.jpg" media="(max-width: 767px)" type="image/webp" /> -->
                    <!-- wepb --> 
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_tecnologia_mobile.jpg" media="(max-width: 767px)" /> -->
                    <!-- Desktop -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_tecnologia_desk.min.jpg" type="image/webp" /> -->
                    <!-- wepb -->
                    <!-- <img src="/arquivos/2021_cemaco_home01nov_navidad_spiff2_tecnologia_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
                </picture>
                <div class="content d-md-none d-sm-block text-center">
                    <h3 class="pb-1">Tecnología</h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
            </a>
        </div>
        </div>
        <div class="row mb-3">
        <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
            <a href="/c-muebles">
                <div class="content d-none d-md-block text-white position-absolute position-absolute ps-4 pt-3">
                    <h3 class="pb-1">Muebles</h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
                <picture>
                    <!-- Mobile -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_muebles_mobile.min.jpg" media="(max-width: 767px)" type="image/webp" /> -->
                    <!-- wepb --> 
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_muebles_mobile.jpg" media="(max-width: 767px)" /> -->
                    <!-- Desktop -->
                    <!-- <source srcset="/arquivos/2021_cemaco_home01nov_navidad_spiff2_muebles_desk2.min.jpg" type="image/webp" /> -->
                    <!-- wepb -->
                    <!-- <img src="/arquivos/2021_cemaco_home01nov_navidad_spiff2_muebles_desk2.jpg" alt="Días Privi Para tu cocina y mesa " />
                </picture>
                <div class="content d-md-none d-sm-block text-center">
                    <h3 class="pb-1">Muebles</h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
            </a>
        </div>
        </div>
        </div> -->
        <!-- Termina content 02 -->
        
        <!--
        <h2 class="d-none d-md-block text-center pb-0 mt-3 tag-title--level-3">Descuento en artículos navideños</h2>
        <div class="banner-single pt-3">
        <a href="/1539?map=productClusterIds">
        <picture>
            <source srcset="/arquivos/2021_banner_descuento-navidenos_mob.min.jpg" media="(max-width: 767px)" type="image/webp"/>
            <source srcset="/arquivos2021_banner_descuento-navidenos_mob.png" media="(max-width: 767px)" />
        
            <source srcset="/arquivos/2021_banner_descuento-navidenos_desk.min.jpg" type="image/webp"/> 
            <img src="/arquivos/2021_home-granventa-banner_ferreteriacompleta_desk.png" alt="Días Privi Para tu cocina y mesa " />
        </picture>
        <div class="content d-md-none">
            <h3 class="pb-1">Descuento en artículos navideños</h3>
            <span class="vermas">Ver más</span>
        </div>
        </a>
        </div>-->
        <!-- swipper fiambre -INICIO- -->
        <!--
        <div class="banners-slider__wrapper mb-blocks mt-5 mt-md-0" id="banners-slider__wrapper01">
        <div class="board-ferreteria marcas-ferre slider-categorias swiper">
        <div class="d-none d-md-block mb-md-4 mt-md-4">
            <h2 class="tag-title--level-3 pb-md-0">Fiambre</h2>
            <p class="text-center" id="ver-todo-txt"><a href="/1538?map=productClusterIds"><b>Ver todo</b> </a></p>
        </div>
        <ul class="marcasferre-slider swiper-wrapper">
            <a class="swiper-slide" href="/1538?map=productClusterIds">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre1_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre1_mob.jpg" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre1_desk.png" alt="Prepárate para el fiambre">
                    </picture>
                </li>
            </a>
            <a class="swiper-slide" href="/cocina/sartenes-ollas-y-mas?PS=12">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre2_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre2_mob.jpg" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre2_desk.png" alt="Prepara tu fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Prepara tu fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más </b>
                </p>
            </a>
            <a class="swiper-slide" href="/segundonivel/cocinaymesa#mesa">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre3_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre3_mob.png" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre3_desk.png" alt="Sirve el fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Sirve el fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más </b>
                </p>
            </a>
            <a class="swiper-slide" href="/organizacion/organizadores-de-cocina/contenedores-para-alimento">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre4_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre4_mob.jpg" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre4_desk.png" alt="Prepara tu fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Guarda el fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más </b>
                </p>
            </a>
            -->
        <!-- Desk -->
        <!-- 
            <a class="swiper-slide desk" href="/cocina/sartenes-ollas-y-mas?PS=12">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre2_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre2_mob.jpg" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre2_desk.png" alt="Prepara tu fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Prepara tu fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más </b>
                </p>
            </a>
            <a class="swiper-slide desk" href="/segundonivel/cocinaymesa#mesa">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre3_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre3_mob.png" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre3_desk.png" alt="Sirve el fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Sirve el fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más </b>
                </p>
            </a>
            <a class="swiper-slide desk" href="/organizacion/organizadores-de-cocina/contenedores-para-alimento">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre4_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre4_mob.jpg" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre4_desk.png" alt="Prepara tu fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Guarda el fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más </b>
                </p>
            </a>-->
        <!--/ END Desk -->
        <!--
            <a class="swiper-slide" href="/segundonivel/alimentos#enlatados">
                <li>
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre5_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <source srcset="/arquivos/2021_cemaco_carruselFiambre5_mob.jpg" media="(max-width: 480px)">
                        <img src="/arquivos/2021_cemaco_carruselFiambre5_desk.png" alt="Prepara tu fiambre">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Ingredientes para tu fiambre</b><br>
                </p>
                <p id="ver-todo-txt">
                    <b>Ver más</b>
                </p>
            </a>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
        </div>-->
        <!-- swipper fiambre -FIN- -->
        <!-- Importante para ti -INICIO- -->
        
        <!--div class="banners-slider__wrapper mb-blocks" id="banners-slider__wrapper01">
        <div class="board-ferreteria marcas-ferre slider-categorias swiper">
        <div class="desk">
            <h2 class="tag-title--level-3 pb-1">Los mejores regalos</h2>
            <p class="text-center mb-3" id="ver-todo-txt"><a href="/topregalosnavidad"><span>Ver todo</span> </a></p>
        </div>
        <ul class="marcasferre-slider swiper-wrapper">
            <a class="swiper-slide desk" href="/topregalosnavidad">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos1-v3_desk.png" alt="Ver todos los productos de Navidad">
                    </picture>
                </li>
            </a>
        
            <a class="swiper-slide desk" href="/c-cuidado-personal-y-bienestar">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos2_desk.png" alt="Árboles y luces">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Para cuidar de ti</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más </span>
                </p>
            </a>
            <a class="swiper-slide desk" href="/c-cocina-y-mesa">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos3_desk.png" alt="Cocina y mesa navideña">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Para los que aman cocinar</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más </span>
                </p>
            </a>
            <a class="swiper-slide desk" href="/c-decoracion">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos4_desk.png" alt="Decoración del árbol">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Para los que aman decorar</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más </span>
                </p>
            </a>
        
            <!-- Desk 
            <a class="swiper-slide desk" href="/c-cuidado-personal-y-bienestar">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos2_desk.png" alt="Árboles y luces">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                <b>Para cuidar de ti</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más </span>
                </p>
            </a>
            <a class="swiper-slide desk" href="/c-cocina-y-mesa">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos3_desk.png" alt="Cocina y mesa navideña">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Para los que aman cocinar</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más </span>
                </p>
            </a>
            <a class="swiper-slide desk" href="/c-decoracion">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos4_desk.png" alt="Decoración del árbol">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Para los que aman decorar</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más </span>
                </p>
            </a>
            <!--/ END Desk
            <a class="swiper-slide desk" href="/todoenferreteria">
                <li>
                    <picture>
                        <img src="/arquivos/2021_cemaco_carruselRegalos5_desk.png" alt="Decoración del interior">
                    </picture>
                </li>
                <p id="txt-proyectos-todo">
                    <b>Para los ferreteros</b><br>
                </p>
                <p id="ver-todo-txt">
                    <span>Ver más</span>
                </p>
            </a>
        </ul>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        </div>
        
        </div-->
        
        <!-- Spiffs Navidad 
        <div class="navidad-spiffs">
        <div class="lineal">
        <div class="text-center">
            <h3>Los mejores regalos</h3>
        </div>
        <a href="/topregalosnavidad" class="row mb-3">
            <picture>
                <source srcset="/arquivos/2021_cemaco_carruselRegalos1-v2_mob.png" media="(max-width: 767px)" type="image/webp">
                <img srcset="/arquivos/2021_cemaco_carruselRegalos1-v2_mob.png" media="(max-width: 767px)">
            </picture>
        </a>
        
        <div class="minispiff row text-center">
            <div class="minispiff-item col-6 col-md-3 mb-3">
                <a href="/c-cuidado-personal-y-bienestar">
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselRegalos2_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <img src="/arquivos/2021_cemaco_carruselRegalos2_mob.png" alt="Árboles y luces">
                    </picture>
                    <h4>Para cuidar <br class="d-md-none d-sm-block"> de ti</h4>
                    <p class="txt-p-spiff pt-1">
                        <span>Ver más</span>
                    </p>
                
                </a>
            </div>
        
            <div class="minispiff-item col-6 col-md-3 mb-3">
                <a href="/c-cocina-y-mesa">
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselRegalos3_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <img src="/arquivos/2021_cemaco_carruselRegalos3_mob.png" alt="Cocina y mesa navideña">
                    </picture>
                    <h4>Para los que <br class="d-md-none d-sm-block"> aman cocinar</h4>
                    <p class="txt-p-spiff pt-1">
                        <span>Ver más</span>
                    </p>
                
                </a>
            </div>
        
            <div class="minispiff-item col-6 col-md-3">
                <a href="/c-decoracion">
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselRegalos4_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <img src="/arquivos/2021_cemaco_carruselRegalos4_mob.png" alt="Decoración del árbol">
                    </picture>
                    <h4>Para los que <br class="d-md-none d-sm-block"> aman decorar</h4>
                    <p class="txt-p-spiff pt-1">
                        <span>Ver más</span>
                    </p>
                
                </a>
            </div>
        
            <div class="minispiff-item col-6 col-md-3">
                <a href="/todoenferreteria">
                    <picture>
                        <source srcset="/arquivos/2021_cemaco_carruselRegalos5_mob.min.jpg" media="(max-width: 480px)" type="image/webp">
                        <img src="/arquivos/2021_cemaco_carruselRegalos5_mob.png" alt="Decoración del interior">
                    </picture>
                    <h4>Para los <br class="d-md-none d-sm-block"> ferreteros</h4>
                    <p class="txt-p-spiff pt-1">
                        <span>Ver más</span>
                    </p>
                
                </a>
            </div>
        </div>
        <!-- Termina spiff Gran Venta 
        </div>
        
        </div>-->
        
        
        <!--Ofertas de la semana-->
        
        <div class="ofertas-semana-wrapper">
            <h2 class="tag-title--level-3 mb-md-3 d-none d-md-block">
                Ofertas de la semana 
                <a class="text-center d-none d-md-inline-block fw-normal" 
                    href="/1067?map=productClusterIds">
                    <p class="ms-3">Ver más</p>
                </a>
            </h2>
            <a href="/1067?map=productClusterIds">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/ofertas-de-la-semana_mobile.min.jpg" media="(max-width: 767px)" type="image/webp">
                    <!-- wepb -> min.png -->
                    <source srcset="/arquivos/ofertas-de-la-semana_mobile.png" media="(max-width: 767px)">
                    <!-- Desktop -->
                    <source srcset="/arquivos/ofertas-de-la-semana_desk.min.jpg" type="image/webp">
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/ofertas-de-la-semana_desk.png" alt="Ferreteria Completa, todo en ferreteria">
                </picture>
                <div class="content d-block d-md-none">
                    <h3 class="pb-1 pt-md-0">Ofertas de la semana</h3>
                    <span class="vermas fw-normal">Ver más</span>
                </div>
            </a>
            
        </div>
        
        <!-- Content Vacaciones-->
        <div class=" row banner_container mt-3 mb-3">
            <div class="desk col-12 pt-md-3">
                <h2 class="tag-title--level-2 d-block d-md-none pb-4">Cumple tus propósitos</h2>
                <h2 class="tag-title--level-3 d-none d-md-block pb-4">Cumple tus propósitos</h2>
                <!--<p class="text-center mb-3 vacaciones_vermas" id="ver-todo-txt"><a href="/1700?map=productClusterIds"><span>Ver todo</span> </a></p>-->
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/propositos">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_portada_mobile.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- wepb -->
                    <img src="/arquivos/propositos_propositos_portada_desk.png" alt="Banner vacaciones" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-1 pt-md-0"></h3>
                    <span class="banner-item_vermas">Ver todo</span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/ejercitateencasa">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_ejercicio_mobileD.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/propositos_propositos_ejercicio_desk.png" type="image/webp" />
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/propositos_propositos_ejercicio_desk.png" alt="Banner vacaciones 1" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-1 pt-md-0">Ejercicio en casa</h3>
                    <span class="banner-item_vermas">Ver más</span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/c-organizacion">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_ordena_mobile.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/propositos_propositos_ordena_desk.png" type="image/webp" />
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/propositos_propositos_ordena_desk.png" alt="Banner vacaciones 2" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pb-md-1 pt-md-0">Ordena tus espacios</h3>
                    <span class="banner-item_vermas">Ver más</span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/c-cocina-y-mesa">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_ejercicio_mobile.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/propositos_propositos_cocina_desk.png" type="image/webp" />
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/propositos_propositos_cocina_desk.png" alt="Banner vacaciones 3" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-4 pb-md-1 pt-md-0">Cocina saludable</h3>
                    <span class="banner-item_vermas">Ver más</span>
                </div>
                </a>
            </div>
            
        </div>