<!-- Carrusel MARCAS -Inicio- -->
<div class="prateleira vitrine brandCarrusel">
    <h2>Compra por categoría</h2>
    <ul class="brandCarrusel_container">
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_makita.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_aceHardware.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_truper.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_pretul.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_dewalt.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_bosch.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_stanley.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/esquinara-clarity-2-niveles-interdesign-1039906/p" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_craftsman.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
    </ul>
</div>     
<!-- Carrusel MARCAS -Final- -->