<div class="container-fluid pt-md-3 px-0 principal-banner">
	<div class="row">
		<!-- Empieza portada -->
		<div class="p-0 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center mt-3 mt-md-0 p-md-0">
			<a href="/1669?map=productClusterIds">
				<div class="mainimagehome m-md-0">
					<picture>
						<source srcset="/arquivos/bts22_portada_mobileD.jpg" media="(max-width: 767px)" type="image/webp">
						<source srcset="/arquivos/bts22_portada_desk.png" type="image/webp">
						<img src="/arquivos/bts22_portada_desk.png" alt="Árboles y luces">
					</picture>				
				</div>
			</a>
		</div>
	</div>
</div>
<!-- Termina portada -->

<!-- Empiezan las categorias -->
	<div class="container-fluid mt-3 py-md-3 p-0">
		<div class="row ">
			<div class="col-12 d-none d-md-flex justify-content-center">
				<h3 class="pb-3">Compra por categoría</h3>
			</div>
			<div class="col-6 col-md-2 mb-3 text-center col-xs-4 categorias-item">
				<a href="/1017?map=productClusterIds">
					<picture>
						<source srcset="/arquivos/bts22_dept_aprende-en-casa.png" media="(max-width: 762px)" />
						<img src="/arquivos/bts22_dept_aprende-en-casa.png" alt="Aprende en casa" />
					</picture>
					<p class="mt-2">Aprendiendo en casa</p>
				</a>
			</div>
			<div class="col-6 col-md-2 mb-3 text-center col-xs-4 categorias-item">
				<a href="/libreria">
					<picture>
						<source srcset="/arquivos/bts22_dept_libreria.png" media="(max-width: 762px)" />
						<img src="/arquivos/bts22_dept_libreria.png" alt="Librería" />
					</picture>
					<p class="mt-2">Librería</p>
				</a>
			</div>
			<div class="col-6 col-md-2 mb-3 text-center col-xs-4 categorias-item">
				<a href="/1018?map=productClusterIds">
					<picture>
						<source srcset="/arquivos/bts22_dept_estudio.png" media="(max-width: 762px)" />
						<img src="/arquivos/bts22_dept_estudio.png" alt="Equipa tu área de estudio" />
					</picture>
					<p class="mt-2">Equipa tu área de estudio</p>
				</a>
			</div>
			<div class="col-6 col-md-2 mb-3 text-center col-xs-4 categorias-item">
				<a href="/1019?map=productClusterIds">
					<picture>
						<source srcset="/arquivos/bts22_dept_tecnologia.png" media="(max-width: 762px)" />
						<img src="/arquivos/bts22_dept_tecnologia.png" alt="Tecnología" />
					</picture>
					<p class="mt-2">Tecnología</p>
				</a>
			</div>
			<div class="col-6 col-md-2 mb-3 text-center col-xs-4 categorias-item">
				<a href="/1420?map=productClusterIds ">
					<picture>
						<source srcset="/arquivos/bts22_dept_mochilas.png" media="(max-width: 762px)" />
						<img src="/arquivos/bts22_dept_mochilas.png" alt="Mochilas" />
					</picture>
					<p class="mt-2">Mochilas</p>
				</a>
			</div>
			<div class="col-6 col-md-2 mb-3 text-center col-xs-4 categorias-item" >
				<a href="/1702?map=productClusterIds">
					<picture>
						<source srcset="/arquivos/bts22_dept_prescolar.png" media="(max-width: 762px)">
						<img src="/arquivos/bts22_dept_prescolar.png" alt="Pre escolar">
					</picture>
					<p class="mt-2">Pre escolar</p>
				</a>
			</div>
		</div>
	</div>
	<!-- Nuestros departamentos -FIN- -->

	<!-- Empieza banners regreso a clases -->
<div class="re-central container-fluid banners-clases my-4 p-0 "> 
    <div class="row"> 
        <div class="col-xs-12 col-md-6 banners-clases-item px-0 pe-md-3 pb-3 pb-md-0">
            <a href="/1018?map=productClusterIds">
                <div class="cont-titular">
                    <h3 class="p-0 lh-1 fs-5 text">Sillas y escritorios<br/> para tu estudio</h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
                <picture>
                    <source srcset="/arquivos/021_cemaco_landing_regreso-clases_spiff_escritorio_desk.jpg">
                    <img class="sala-img"src="/arquivos/021_cemaco_landing_regreso-clases_spiff_escritorio_desk.jpg" alt="Escritorios"/>
				</picture>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 banners-clases-item  px-0 ">
            <a href="/1018?map=productClusterIds">
                <div class="cont-titular">
                    <h3 class="p-0 lh-1 fs-5 text">Sala virtual</h3>
                    <span class="text-decoration-underline">Ver más</span>
                </div>
                <picture>
                    <source srcset="/arquivos/021_cemaco_landing_regreso-clases_spiff_sala-virtual_desk.jpg">
                    <img src="/arquivos/021_cemaco_landing_regreso-clases_spiff_sala-virtual_desk.jpg" alt="Sala Virtual">
                </picture>
            </a>
        </div>
    </div>
</div>
<!-- Termina banners regreso a clases -->


<div class="carruselDepaAprendeU"></div>
<div class="carruselDepaAprendeD"></div>