<div class="row mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 p-md-auto text-center BannerHomeP">
        <a href="/1718?map=productClusterIds">
            <div class="mainimage position-relative">
                <picture>
                    <source srcset="/arquivos/2022_proposito_portada_movil.jpg" type="image/webp" media="(max-width: 767px)">
                    <source srcset="/arquivos/2022_proposito_portada_desk.jpg" type="image/webp">
                    <img src="/arquivos/2022_proposito_portada_desk.jpg" alt="Regreso a clases">
                </picture>
                <span class="btn d-md-block m-0 start-50 translate-middle-x">Ver más</span>
            </div>
        </a>
    </div>
</div>
<!-- Empieza minispiffs -->
<div class="row spiff__after-slider text-center g-0">
    <div class="col-6 col-md-3 mb-3 px-2 Homespiff">
        <a href="/ejercitateencasa">
            <picture>
                <source srcset="/arquivos/2022_proposito_minispiff2.jpg" type="image/webp">
                <img src="/arquivos/2022_proposito_minispiff2.jpg" alt="">
            </picture>
            <h4 class="pb-1">Ejercítate <br class="d-block d-md-none">en casa</h4>
            <p><!--Electrodomésticos, cocina <br class="d-block d-sm-none"> y mesa-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-3 px-2 Homespiff">
        <a href="/c-cocina-y-mesa">
            <picture>
                <source srcset="/arquivos/2022_proposito_minispiff1.jpg" type="image/webp">
                <img src="/arquivos/2022_proposito_minispiff1.jpg" alt="">
            </picture>
            <h4 class="pb-1">Cocina<br class="d-block d-md-none"> saludable</h4>
            <p><!--Tecnología, muebles y entretenimiento-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-3 px-2 Homespiff">
        <a href="/c-organizacion">
            <picture>
                <source srcset="/arquivos/2022_proposito_minispiff4.jpg" type="image/webp">
                <img src="/arquivos/2022_proposito_minispiff4.jpg" alt="">
            </picture>
            <h4 class="pb-1">Organiza tus <br class="d-block d-md-none">espacios</h4>
            <p><!--Descuento en ferretería-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-3 px-2 Homespiff">
        <a href="/c-dormitorio">
            <picture>
                <source srcset="/arquivos/2022_proposito_minispiff3.jpg" type="image/webp">
                <img src="/arquivos/2022_proposito_minispiff3.jpg" alt="">
            </picture>
            <h4 class="pb-1">Descansa y <br class="d-block d-md-none">renuévate</h4>
            <p><!--Dormitorio, baños, y más-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
</div>

<!-- Empieza spiffs -->
<div class="row py-3">
    <div class="col-12 col-md-6 mb-3 position-relative">
        <a href="/cuidatusalud">
            <picture>
                <source srcset="/arquivos/2022_proposito_spiff1_mob.jpg" type="image/webp">
                <img src="/arquivos/2022_proposito_spiff1_desk.jpg" alt="">
            </picture>
            <div  class="spiffs-item d-md-flex align-items-center flex-column">
                <h4 class="pb-1">Síguete cuidando</h4>
                <u class="fw-bold">Ver más</u>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 mb-3 position-relative">
        <a href="/c-cuidado-personal-y-bienestar">
            <picture>
                <source srcset="/arquivos/2022_proposito_spiff2_mob.jpg" type="image/webp">
                <img src="/arquivos/2022_proposito_spiff2_desk.jpg" alt="">
            </picture>
            <div class="spiffs-item d-md-flex align-items-center flex-column">
                <h4 class="pb-1">Consiéntete y relájate</h4>
                <u class="fw-bold">Ver más</u>
            </div>
        </a>
    </div>
</div>

<div class="bannerPropositosU"></div>
