        <!-- Tu felicidad, garantizada -->
        <div id="nuestrapromesa" class="row">
            <h2 class="text-md-center tag-title--level-3 mt-2 fs-4">Tu felicidad, garantizada</h2>
            <div class="banner-single txt-infront-image pointer position-relative" data-bs-toggle="modal" data-bs-target="#felicidadGarantizada">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home13oct_banner_promes_mobile.jpg" media="(max-width: 767px)" />
                    <img src="/arquivos/2021_cemaco_home13oct_banner_promes_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
                </picture>
                <div class="content text-white">
                    <h3 class="m-0 fw-normal">Si no estás 100% satisfecho <br class="d-block d-md-none"> con tu compra, <br class="d-none d-md-block">contáctanos y <br class="d-block d-md-none"> lo resolveremos.
                    </h3>
                    <span class="vermas fw-normal text-decoration-underline">Ver más</span>
                </div>
            </div>
        </div>

        <!-- Te ofrecemos -INICIO- -->
        <div class="container teofrecemos text-center mb-3 p-0">
            <div class="row mt-md-4 px-3 px-md-0 align-items-start pt-3 pb-3">
                <div class="col-6 col-md-3" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
                    <div class="ofrecemos-item-1 text-center">
                        <img src="/arquivos/2021_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
                        <p>Garantía total <br> y seguridad</p>
                        <span class="fw-bold text-decoration-underline">Ver más</span>
                    </div>
                </div>
                <div class="col-6 col-md-3" data-bs-toggle="modal" data-bs-target="#entregaRapida">
                    <div class="ofrecemos-item-2 text-center">
                        <img src="/arquivos/2021_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
                        <p>Entrega <br class="d-block d-md-none"> rápida</p>
                        <br class="d-none d-md-block"/>
                        <span class="fw-bold text-decoration-underline">Ver más</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 mt-3 py-3 mt-md-0 py-md-0 linea" data-bs-toggle="modal" data-bs-target="#retiraTienda">
                    <div class="ofrecemos-item-3 text-center">
                        <img src="/arquivos/2021_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
                        <p>Retira en <br> tienda y autoservicio</p>
                        <span class="fw-bold text-decoration-underline">Ver más</span>
                    </div>
                </div>
                <div class="col-6 col-md-3 mt-3 py-3 mt-md-0 py-md-0 linea" data-bs-toggle="modal" data-bs-target="#metodosPago">
                    <div class="ofrecemos-item-4 text-center">
                        <img src="/arquivos/2021_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="" class="mt-4">
                        <p>Métodos de pago: <br> tarjetas, cuotas <br class="d-md-none">y depósitos</p>
                        <span class="fw-bold text-decoration-underline">Ver más</span>
                    </div>
                </div>
            </div>
        </div>
            <style type="text/css">
            a:hover{
                text-decoration: none;
            }
            .Homespiff a h4, .spiffs-item h4{
                font-size: 1rem;
            }
            .Homespiff a p, .spiffs-item u{
                font-size: 0.8rem;
            }
            .teofrecemos{
                background-color: rgba(247,247,247,.4);
            }
            .linea{
                border-top: 1px solid #d8d8d8;
            }
            .ofrecemos-item-1{
                border-right: 1px solid #d8d8d8;
            }
            .ofrecemos-item-3{
                border-right: 1px solid #d8d8d8;
            }
            .ofrecemos-item-1 img{
                width: 44%;
                margin: 0 auto 10%;
            }
            .ofrecemos-item-2 img{
                width: 73%;
                margin: 0 auto 10%;
            }
            .ofrecemos-item-3 img{
                width: 54%;
                margin: 0 auto 10%;
            }
            .ofrecemos-item-4 img{
                width: 56%;
                margin: 0 auto 10%;
            }
            .ofrecemos-item-1 p, .ofrecemos-item-2 p, .ofrecemos-item-3 p, .ofrecemos-item-4 p{
                font-size: 0.78rem;
            }
            .ofrecemos-item-1 span, .ofrecemos-item-2 span, .ofrecemos-item-3 span, .ofrecemos-item-4 span{
                font-size: 0.8rem;
            }
            .spiffs-item{
                position: absolute;
                top:0;
                left: 30px;
                color: #fff;
            }
            .banner-single.txt-infront-image .content{
                position: absolute;
                bottom: 5%;
                width: 100%;
                color: #fff !important;
                text-align: center;
            }
            .banner-single.txt-infront-image .content h3{
                font-size: 1rem;
            }
            .propositos .mainimage .btn {
                bottom: 15%;
                background: #94d500;
                border-radius: 20px;
                padding: 5px 20px 5px;
                font-size: .7rem;
                font-weight: bold;
                margin: 4px 0 0;
                display: inline-block;
                position: absolute;
                padding: 5px 23px 5px;
            }
            @media (min-width: 375px) {
            
                .propositos .minispiff .minispiff-item h4 {
                    font-size: 1.2em;
                }
            }
            
            @media (min-width: 420px) {
                .ofrecemos-item-1 p, .ofrecemos-item-2 p, .ofrecemos-item-3 p, .ofrecemos-item-4 p{
                    font-size: 0.9rem;
                }
            }
            @media (min-width: 535px) {
                .ofrecemos-item-1 p, .ofrecemos-item-2 p, .ofrecemos-item-3 p, .ofrecemos-item-4 p{
                    font-size: 1.1rem;
                }
            }
            @media (min-width: 768px) {
                .ofrecemos-item-3 p, .ofrecemos-item-4 p{
                    padding-bottom: 10px;
                }
                .ofrecemos-item-3 img {
                    margin: 5% auto 10%;
                }  
                .banner-single.txt-infront-image .content{
                    position: absolute;
                    color: #fff;
                    top: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    padding: 0 0 0 2em;
                    text-align: inherit;
                }
                .propositos .banners-three .content h3 {
                    font-size: .9em;
                }
                .ofrecemos-item-3{
                    border-left: 1px solid #d8d8d8;
                }
                .linea{
                    border-top: 0;
                }
                .Homespiff a h4, .spiffs-item h4 {
                    font-size: 0.92rem;
                }
                .spiffs-item{
                    position: relative;
                    top:auto;
                    left: auto;
                    color: #000;
                }
                .ofrecemos-item-1 p, .ofrecemos-item-2 p, .ofrecemos-item-3 p, .ofrecemos-item-4 p{
                    font-size: 1rem;
                }
            }
            
            @media (min-width: 992px){
                .banner-item_text{
                    font-size: 1.118em;
                }
            }
            @media (min-width: 1024px){
                .Homespiff a h4, .spiffs-item h4 {
                    font-size: 1.1rem;
                }
            }
            
            @media (min-width: 1200px) {
                .propositos .banners-three .content h3 {
                    font-size: 1.25em;
                }
                .propositos .mainimage .btn {
                    font-size: .9rem;
                    padding: 7px 30px 7px;
                }

            }
            
            @media (min-width: 1400px) {
                .propositos .banners-three .content h3 {
                    font-size: 1.625em;
                }
            }
            </style>