<div class="landing-head re-cien">
    <div class="re-central">
        <span class="landing-breadcrumbs"><a href="/">Inicio</a> &gt; <a href="/revistas">Revistas</a></span>
        <h1 class="landing-h1">Revistas</h1>
    </div>
  </div>
  <div class="re-central row fullcontent-bebe">

    <section class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="c-revista">
            <a href="/revistas/propositos">
                <picture>
                    <source srcset="/arquivos/revista_thumbail_propositos_2022.min.jpg" type="image/webp">
                    <img src="/arquivos/revista_thumbail_propositos_2022.jpg">
                </picture> 
                <h2 class="landing-revista">Propósitos</h2>
                <br class="mobile-d">
            </a>
        </div>
    </section>

    <section class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="c-revista">
            <a href="/revistas/regresoaclases">
                <picture>
                    <source srcset="/arquivos/revistas_bts-cemaco_thumb.min.jpg" type="image/webp">
                    <img src="/arquivos/revistas_bts-cemaco_thumb.png">
                </picture> 
                <h2 class="landing-revista">Regreso a clases</h2>
                <br class="mobile-d">
            </a>
        </div>
    </section>
    
    
    <section class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="c-revista">
            <a href="/revistas/regresoaclasesjugueton">
                <picture>
                    <source srcset="/arquivos/revista_bts-jugueton_thumb.min.png" type="image/webp">
                    <img src="/arquivos/revista_bts-jugueton_thumb.png">
                </picture> 
                <h2 class="landing-revista">Regreso a clases Jugueton</h2>
                <br class="mobile-d">
            </a>
        </div>
    </section>

    <section class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="c-revista">
            <a href="/revistas/regresoaclasesbebe">
                <picture>
                    <source srcset="/arquivos/revista_bts-bebe_thumbT.min.png" type="image/webp">
                    <img src="/arquivos/revista_bts-bebe_thumbT.png">
                </picture> 
                <h2 class="landing-revista">Regreso a clases Bebejugueton</h2>
                <br class="mobile-d">
            </a>
        </div>
    </section>

    <section class="col-sm-12 col-md-6 col-lg-2 col-xl-2">
        <div class="c-revista">
            <a href="/revistas/ofertasdelasemana">
                <picture>
                    <source srcset="/arquivos/revista_oferta-semana_thumb.jpg" type="image/webp">
                    <img src="/arquivos/revista_oferta-semana_thumb.jpg">
                </picture> 
                <h2 class="landing-revista">Ofertas de la semana</h2>
                <br class="mobile-d">
            </a>
        </div>
    </section>


    
  <!-- Carrusel revistas -->
  <div class="carruselRevistasU">
  </div>
  </br>
  </br>
  
  <style>
    /* Se rompe el banner, se deja comentado por si se necesita en el futuro o se modifica algo más */
    /*.re-central{ margin: 40px auto;} */
    .re-central .c-revista h2 {
        font-size: 1.2rem; text-align: center; }
    .re-central.row.fullcontent-bebe {display: flex;justify-content: center !important; flex-wrap: wrap; padding: 0 0 48px;}

    @media(min-width: 320px){
        /* .revistas-cemaco .fullcontent-bebe section{
            flex: 1 0 52%;   
        } */
        .revistas-cemaco .c-revista img{
          border: 1px solid #F6F6F6;
        }
        .re-central .c-revista h2 {
          font-size: 0.8rem;
        }
    }
    @media(min-width: 768px){
        .re-central .c-revista h2 {
          font-size: 1.2rem;
        }
    }
  
    @media(min-width: 1024px) {
        .mobile-d {
            display: none;
        }
        .revistas-cemaco .fullcontent-bebe section{
            flex: unset;   
        }
    }
  
  </style>