<!-- Empieza tus marcas favoritas -->
<div class="row md-top-st banner-principal">
    <h2 class="tag-title--level-1 pd-0-st compra-por-edad-ft pdb-st-title pb-lg-1">Tus marcas favoritas</h2>
</div>
<div class="juguetes-mas compraedadtwo d-flex align-content-around flex-wrap">

    <div class="d-flex align-items-center col-4 col-md-2 p-1 px-md-2">
        <a href="/m/lego">
            <picture>
                <img src="/arquivos/2022jun_jugueton_home_bono_35.png" alt="LEGO" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="d-flex align-items-center col-4 col-md-2 p-1 px-md-2">
        <a href="/m/hotwheels">
            <picture>
                <img src="/arquivos/2022jun_jugueton_home_bono_41.png" alt="HotWheels" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="d-flex align-items-center col-4 col-md-2 p-1 px-md-2">
        <a href="/m/barbie">
            <picture>
                <img src="/arquivos/2022jun_jugueton_home_bono_42.png" alt="Barbie" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="d-flex align-items-center col-4 col-md-2 p-1 px-md-2">
        <a href="/m/fisherprice">
            <picture>
                <img src="/arquivos/2022jun_jugueton_home_bono_38.png" alt="Fisher Price" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="d-flex align-items-center col-4 col-md-2 p-1 px-md-2">
        <a href="/m/nerf">
            <picture>
                <img src="/arquivos/2022jun_jugueton_home_bono_33.png" alt="Nerf" class="img-compra-edad-st">
            </picture>
        </a>
    </div>

    <div class="d-flex align-items-center col-4 col-md-2 p-1 px-md-2">
        <a href="/m/distroller">
            <picture>
                <img src="/arquivos/2022jun_jugueton_home_bono_30.png" alt="Distroller" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
</div>
<!-- Termina tus marcas favoritas -->

<!-- Empieza compra por edad -->
<div class="row md-top-st">
    <h2 class="tag-title--level-1 pd-0-st compra-por-edad-ft pdb-st-title">Compra por edad</h2>
</div>
<div class="juguetes-mas compraedad">

    <div class="item-cocina">
        <a href="/1136?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad0-24_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad0-24_desk.png" alt="0-24 meses" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1137?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad2-4_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad2-4_desk.png" alt="2-4 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1138?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad5-7_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad5-7_desk.png" alt="5-7 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1139?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad8-10_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad8-10_desk.png" alt="8-10 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1140?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad11mas_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad11mas_desk.png" alt="11 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
</div>
<!-- Termina compra por edad -->

<!-- Spiff Despierta tu imaginación -->
<div class="med-spiff re-central celebremos text-center margin-depto-spiff-element fullwidth-container regreso-clases-container" style="margin-bottom: 5%;">
    <div class="re-central">
        <h4 style="color: #000;">Regreso a clases</h4>
        <div class="row">
            <div class="col-md-3 text-center celebration">
                <div class="border_radius principal">
                    <a href="/c-aprende-en-casa">
                        <picture>
                            <source srcset="/arquivos/2022_jugueton-bts_regresoClases-spiff01_mob.png"
                                media="(max-width: 480px)">
                            <img src="/arquivos/2022_jugueton-bts_regresoClases-spiff01_desk.png" alt="clases">
                        </picture>
                    </a>
                    <!--p>
                        <strong class="despiertatitular" style="color: #fff">Ver todo</strong>
                        <a href="/s/juguetes#figurasaccion" class="txt-ver-mas mobile" style="text-decoration:underline">Ver todo</a>
                    </p-->
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="border_radius">
                    <a href="/libreria?O=OrderByReleaseDateDESC">
                        <picture>
                            <source srcset="/arquivos/2022_jugueton-bts_regresoClases-spiff02_mob.png"
                                media="(max-width: 480px)">
                            <img src="/arquivos/2022_jugueton-bts_regresoClases-spiff02_desk.png" alt="librería">
                        </picture>
                    </a>
                    <p>
                        <a href="/libreria?O=OrderByReleaseDateDESC">
                            <strong class="despiertatitular">Librería</strong>
                        </a>
                        <a href="/libreria?O=OrderByReleaseDateDESC" class="txt-ver-mas"
                            style="text-decoration:underline">Ver más</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="border_radius">
                    <a href="/1702?map=productClusterIds&O=OrderByReleaseDateDESC">
                        <picture>
                            <source srcset="/arquivos/2022_jugueton-bts_regresoClases-spiff03_mob.png"
                                media="(max-width: 480px)">
                            <img src="/arquivos/2022_jugueton-bts_regresoClases-spiff03_desk.png" alt="Pre escolar">
                        </picture>
                    </a>
                    <p>
                        <a href="/1702?map=productClusterIds&O=OrderByReleaseDateDESC">
                            <strong class="despiertatitular">Pre escolar</strong>
                        </a>
                        <a href="/1702?map=productClusterIds&O=OrderByReleaseDateDESC" class="txt-ver-mas"
                            style="text-decoration:underline">Ver más</a>
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="border_radius">
                    <a href="/1420?map=productClusterIds&O=OrderByReleaseDateDESC">
                        <picture>
                            <source srcset="/arquivos/2022_jugueton-bts_regresoClases-spiff04_mob.png"
                                media="(max-width: 480px)">
                            <img src="/arquivos/2022_jugueton-bts_regresoClases-spiff04_desk.png" alt="mochilas">
                        </picture>
                    </a>
                    <p>
                        <a href="/1420?map=productClusterIds&O=OrderByReleaseDateDESC">
                            <strong class="despiertatitular">Mochilas</strong>
                        </a>
                        <a href="/1420?map=productClusterIds&O=OrderByReleaseDateDESC" class="txt-ver-mas"
                            style="text-decoration:underline">Ver más</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-- Termina Spiff despierta tu imaginacion -->

    <script>
        $("#hcgarantiatotal").on("click", function () {
            $(".contenedor-popups").show();
            $("#promgarantia").show();
        });

        $(".closepopup").on("click", function () {
            $(".contenedor-popups").hide();
            $(".cpopup-ofrecemos").hide();
        });

        $("#hcmetodospago").on("click", function () {
            $(".contenedor-popups").show();
            $("#prommetodopago").show();
        });

        $("#hcentregarapida").on("click", function () {
            $(".contenedor-popups").show();
            $("#promentregarapida").show();
        });

        $("#hcautoservicio").on("click", function () {
            $(".contenedor-popups").show();
            $("#promautoservicio").show();
        });

        $("#nuestrapromesa").on("click", function () {
            $(".contenedor-popups").show();
            $("#promfelicidad").show();
        });
    </script>

    <script>
        /*cambiar nombre carruseles vtex*/
        $(document).ready(function () {
            /* $('.landing--jugueton #productsSlider01 .vitrine').prepend("<h2 class='text-bottom'>Sorprende a mamá <a href='/1833?map=productClusterIds'><u>Ver más<u></a></h2>");*/
            $('.landing--jugueton #productsSlider01 .vitrine > h2').append("<a href='/1298?map=productClusterIds'><u class='px-2 pt-1 d-flex justify-content-center d-md-inline  align-middle bottom-carrusel'>Ver todo<u></a>");
        })
        /*termina cambiar nombre carruseles vtex*/
    </script>

    <style>
        .fullwidth-container{
            position: relative;
            margin-left: -50vw !important;
            width: 100vw !important;
            left: 50%;
        }
        .regreso-clases-container{
            background: #EAFEEC;
        }
        .txt-ver-mas.part {
            font-size: 0.6em !important;
        }

        .border_radius.principal {
            background-color: transparent !important;
        }

        .minispiff-item .border_radius a .loguitos img {
            width: 25%;
            margin: 0 auto;
            height: auto;
        }

        .minispiff-item .border_radius a .loguitos-v2 img {
            width: auto;
            margin: 0 auto;
            height: 30px;
        }

        .minispiff-item p strong {
            font-size: 1.25em;
        }

        .tag-title--level-3,
        .importante-parati h2,
        .main-cat-jugueton h2,
        .med-spiff h4 {
            font-size: 1.875em !important;
        }

        .slick-list {
            overflow: hidden;
        }

        .product-item__main-image img,
        .product-item__main-image img.img-centrada {
            width: 100%;
        }

        .anuncio-nuevositio.row {
            margin-bottom: 5%;
            margin-top: 5%;
        }

        .banner-cumpletito.row {
            margin-bottom: 5%;
        }

        .landing--jugueton .videoofertassemana {
            margin: 4% 0 0 0;
        }

        .desktop-xl {
            display: none;
        }

        .importanteparati {
            margin: 10% 0 10%;
        }

        .importanteparati h4 {
            text-align: center;
            margin: 2% 0 0%;
            font-size: 1.8rem;
        }

        .importanteparati img {
            width: auto;
            margin: 0 0 10px;
        }

        .importanteparati .col-md-6 p {
            text-align: center;
        }

        .importanteparati .image-text {
            display: flex;
            justify-content: center;
        }

        .importanteparati hr {
            margin: 20px 0 30px;
        }

        .importanteparati p u {
            font-weight: bold;
        }

        .slick-arrow.slick-prev,
        .slick-arrow.slick-next {
            display: none;
        }

        .landing--jugueton .videograndesofertas {
            margin: 4% 0 0;
        }

        .carrusel-importanteparati {
            text-align: center;
            padding: .4rem 1% .5rem;
            margin: 0 0 6%;
        }

        .carrusel-importanteparati hr {
            display: none;
        }

        .carrusel-importanteparati .image-text {
            margin: 0 auto;
        }

        .carrusel-importanteparati .salud .image-text {
            max-width: 240px;
            padding: 1rem 0 0.4rem;
        }

        .carrusel-importanteparati .lanoria .image-text {
            max-width: 93%;
            padding: 1rem 0 0.8rem;
        }

        .carrusel-importanteparati .impciberdias .image-text {
            max-width: 350px;
            padding: 1.5rem 0 1rem;
        }

        .carrusel-importanteparati .swiper-slide {
            padding: 0 23px;
            font-size: 0.9rem;
        }

        .carrusel-importanteparati .swiper-button-next,
        .carrusel-importanteparati .swiper-button-prev {

            display: block !important;
        }

        .carrusel-importanteparati .vermas {
            padding: 0.4rem 0 0;
        }

        .carrusel-importanteparati h4 {
            padding: 0;
        }

        .carrusel-importanteparati .swiper-button-next,
        .carrusel-importanteparati .swiper-button-prev {

            bottom: 14%;

        }

        @media only screen and (min-width: 375px) {

            .carrusel-importanteparati .swiper-slide {
                padding: 0 7%;
            }
        }

        @media only screen and (min-width: 414px) {
            .carrusel-importanteparati .swiper-slide {
                padding: 0 30px;
            }

            .carrusel-importanteparati .impciberdias .image-text {
                padding: 1rem 0 1rem;
            }

            .txt-ver-mas.part {
                font-size: 0.8em !important;
            }
        }

        @media only screen and (min-width: 768px) {
            .pad-top-titles-spiff {
                padding-top: 7% !important;
                padding-bottom: 4.3% !important;
            }


            .txt-ver-mas.part {
                font-size: 0.6em !important;
            }

            .despiertatitular.part {
                font-size: 0.8em;
            }

            .importanteparati .row {
                display: flex;
            }

            .importanteparati hr {
                margin: 0;
                border-right: 1px solid #dee2e6 !important;
                border-left: none;
            }

            .slick-arrow.slick-prev,
            .slick-arrow.slick-next {
                display: block;
            }

            .importanteparati {
                margin: 0 0 3%;
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 50%;
            }
        }

        @media only screen and (min-width: 1024px) {

            .despiertatitular.part {
                font-size: 1em;
            }

            .txt-ver-mas.part {
                font-size: 0.7em !important;
            }
        }

        @media only screen and (min-width: 1280px) {
            .despiertatitular.part {
                font-size: 1.2em;
            }

            .importanteparati hr {
                margin: 0 1% 0 0;
            }

            .txt-ver-mas.part {
                font-size: 0.8em !important;
            }
        }

        @media only screen and (min-width: 1440px) {
            .txt-ver-mas.part {
                font-size: 0.9em !important;
            }

            .despiertatitular.part {
                font-size: 1.4em;
            }

            .desktop-xl {
                display: block;
            }
        }
    </style>
    <!-- ES T I L O S  U N I C A M E N T E   D E  L O S  P O P U P S -->
    <style>
        .contenedor-popups {
            background: rgba(0, 0, 0, 0.4);
            position: fixed;
            z-index: 650;
            width: 100%;
            height: 100%;
            margin: auto auto;
            overflow: hidden;
            display: block;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }

        .cpopup-ofrecemos {
            position: fixed;
            width: 87%;
            margin: auto;
            text-align: center;
            /* top: 88em; */
            background-color: #fff;
            z-index: 999999999999;
            padding: 6% 2% 2%;
            left: 0;
            overflow: hidden;
            right: 0;
            top: 29%;
        }

        .cpopup-ofrecemos .closepopup {
            width: 100%;
            overflow: hidden;
            position: absolute;
            left: -2%;
            top: -1%;
        }

        .cpopup-ofrecemos .closepopup span {
            float: right;
            color: #94D500;
            font-weight: bold;
            font-size: 1.8em;
            margin: 0 0 -1% 0;
            cursor: pointer;
        }

        .cpopup-ofrecemos section p {
            line-height: 20px;
            font-size: 0.870em;
        }

        .cpopup-ofrecemos section p:nth-child(2) {
            margin: 0 0 6% 0;
        }

        .cpopup-ofrecemos section h4 {
            margin: 0 0 2% 0;
            padding: 1% 0 0;
        }

        #promautoservicio ul {
            text-align: left;
            list-style: disc !important;
            padding: 0 0 0 11%;
        }

        #promgarantia {
            top: 13%;
        }

        #promautoservicio {
            top: 23%;
        }

        #prommetodopago {
            top: 12%;
        }

        #promautoservicio ul li {
            list-style: disc;
            line-height: 21px;
            font-size: 0.870em;
        }

        #prommetodopago section article img {
            margin: 2% auto 3%;
        }

        #prommetodopago section article:nth-child(2) img {
            width: 15%;
        }

        #prommetodopago section article:nth-child(3) img {
            width: 34%;
        }

        #prommetodopago section article:nth-child(4) img {
            width: 42%;
        }

        #prommetodopago section p {
            margin: 0;
        }

        #prommetodopago section small {
            font-size: 0.6em;
        }

        #promautoservicio section img {
            width: 42%;
            display: block;
            margin: 2% 0 3% 6%;
        }

        #promautoservicio section article p {
            margin: 0;
        }

        #promfelicidad {
            top: 3%;
        }

        #promfelicidad section p {
            line-height: 18px;
            font-size: 0.820em;
        }

        @media only screen and (min-width: 360px) {
            #promgarantia {
                top: 2rem;
            }

            .cpopup-ofrecemos section p:nth-child(2) {
                margin: 0 0 2% 0;
            }

            #promfelicidad section p {
                line-height: 16px;
            }

            #promfelicidad {
                top: 3%;
            }

            #promautoservicio article.row {
                width: 100%;
                margin: 0;
            }

            #promautoservicio {
                top: 4rem;
            }

            #prommetodopago {
                top: 2rem;
            }
        }

        @media only screen and (min-width: 768px) {
            .cpopup-ofrecemos {
                width: 78%;
                padding: 2% 2% 2%;
            }

            .cpopup-ofrecemos section h4 {
                margin: 4% 0 2% 0;
            }

            #promgarantia {
                top: 14rem;
            }

            #prommetodopago {
                top: 14rem;
            }

            #promfelicidad {
                top: 12rem;
            }

            #promfelicidad section p {
                line-height: 23px;
                font-size: 0.870em;
            }
        }

        @media only screen and (min-width: 1024px) {
            .cpopup-ofrecemos {
                width: 62%;
            }

            .cpopup-ofrecemos section h4 {
                margin: 1% 0 2% 0;
                padding: 0;
            }

            #promfelicidad section p {
                line-height: 18px;
            }

            #promfelicidad {
                top: 10rem;
            }

            .cpopup-ofrecemos section p {
                line-height: 21px;
            }

            .cpopup-ofrecemos section p:nth-child(2) {
                margin: 0 0 2% 0;
            }

            #promgarantia {
                top: 12rem;
            }

            #promautoservicio ul li {
                line-height: 21px;
            }

            #promautoservicio {
                top: 12rem;
            }

            #prommetodopago {
                top: 8rem;
            }
        }

        @media only screen and (min-width: 1366px) {
            .cpopup-ofrecemos {
                width: 46%;
            }

            #promgarantia {
                top: 6rem;
            }

            #promautoservicio {
                top: 7rem;
            }

            #prommetodopago section article img {
                margin: 1% auto 2%;
            }

            #prommetodopago {
                top: 5rem;
            }

            #promfelicidad {
                top: 5rem;
            }
        }

        @media only screen and (min-width: 1440px) {
            .cpopup-ofrecemos {
                width: 42%;
            }

            .cpopup-ofrecemos section h4 {
                padding: 0;
                line-height: 20px;
            }

            .contenedor-popups #prommetodopago h4,
            .contenedor-popups #promautoservicio h4 {
                line-height: 1;
            }

            .cpopup-ofrecemos section p:nth-child(2) {
                margin: 0;
            }

            #promgarantia {
                top: 12rem;
            }

            #promautoservicio ul li {
                line-height: 19px;
            }

            #promautoservicio {
                top: 12rem;
            }

            #prommetodopago section article img {
                margin: 2% auto 0%;
            }

            #prommetodopago {
                top: 10rem;
            }

            #promfelicidad section p {
                line-height: 19px;
            }

            #promfelicidad {
                top: 12rem;
            }
        }

        @media only screen and (min-width: 1600px) {
            .cpopup-ofrecemos {
                width: 38%;
            }
        }

        @media only screen and (min-width: 2500px) {
            .cpopup-ofrecemos {
                width: 28%;
            }
        }
    </style>