<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_ale.css" />
<!-- <link rel="stylesheet" href="https://cemacogt.vteximg.com.br/arquivos/main.min.css?v=20220216-15:45"> -->

<!--Portada solo con una imagen-->
<div class="single-board re-central">
    <div class="bannerprincipal_jugueton">
        <div class="row contentslide margin-banner-jugueton">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <a href="/1094?map=productClusterIds">
                    <div class="mainimage-jugueton" title="juguetes">
                        <picture>
                            <source srcset="/arquivos/2022mar_banner_verano_mob.png" media="(max-width: 767px)" />
                            <img src="/arquivos/2022mar_banner_verano_desk.png" alt="Verano" />
                        </picture>
                        <div class="boton_banner">
                            <section class="button-flat secondary">COMPRA AQUÍ</section>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Portada solo con una imagen-->


<!-- Empiezan Mini spiffs de temporada -->
<div class="minispiff general-padding-spiffs">
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#muniecas">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff1_verano_mob.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2022mar_spiff1_verano_desk.png" alt="Muñecas">
                </picture>
                <h4>Muñecas</h4>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#figurasaccion">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff2_verano_mob.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2022mar_spiff2_verano_desk.png" alt="Figuras de acción">
                </picture>
                <h4>Figuras de acción</h4>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#vehiculospistas">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff3_verano_mob.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2022mar_spiff3_verano_desk.png" alt="carros y pistas">
                </picture>
                <h4>Vehículos y pistas</h4>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
    <div class="minispiff-item padding-spiffs-jugueton text-center">
        <div class="border_radius">
            <a href="/s/juguetes#preescolar">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff4_verano_mob.png" type="image/webp" media="(max-width: 480px)">
                    <img src="/arquivos/2022mar_spiff4_verano_desk.png" alt="Pre escolar">
                </picture>
                <h4>Pre escolar</h4>
                <p class="txt-p-spiff">
                    <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
</div>
<!-- Terminan Mini spiffs de temporada -->

<!-- Empieza compra por edad -->
<div class="row md-top-st">
    <h2 class="tag-title--level-1 pd-0-st compra-por-edad-ft pdb-st-title">Compra por edad</h2>
</div>
<div class="juguetes-mas compraedad row">
    
    <div class="item-cocina">
        <a href="/1136?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad0-24_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad0-24_desk.png" alt="0-24 meses" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1137?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad2-4_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad2-4_desk.png" alt="2-4 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1138?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad5-7_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad5-7_desk.png" alt="5-7 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1139?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad8-10_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad8-10_desk.png" alt="8-10 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
    <div class="item-cocina">
        <a href="/1140?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/2022_jugueton_button_edad11mas_mobile.png" media="(max-width: 767px)">
                <img src="/arquivos/2022_jugueton_button_edad11mas_desk.png" alt="11 años" class="img-compra-edad-st">
            </picture>
        </a>
    </div>
</div>
<!-- Termina compra por edad -->

<!-- Empieza banners regreso a clases -->
<div class="re-central container banners-clases firstdoublespiff padding-double-spiffs">
    <div class="row">
        <div class="col-xs-6 col-md-6 banners-clases-item">
            <div class="border_radius">
                <a href="/libreria">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_spiff_libreria_01marzo_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022_jugueton_spiff_libreria_01marzo_desk.png" alt="Libreria">
                    </picture>
                    <div class="cont-titular">
                        <h3>Librería</h3>
                        <span>Ver más</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-6 banners-clases-item">
            <div class="border_radius">
                <a href="/s/juguetes#juegosmesa">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_spiff_rompecabezas_01marzo_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022_jugueton_spiff_rompecabezas_01marzo_desk.png" alt="Rompecabezas">
                    </picture>
                    <div class="cont-titular">
                        <h3>Rompecabezas</h3>
                        <span>Ver más</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Termina banners regreso a clases -->