<div class="main-cat-jugueton re-central margin-depto-spiff-element">
    <h2 class="tag-title--level-3">Navega por departamento</h2>
    <div class="row categories-jugueton fullcontent-jugueton">
        
        <div class="col-md-2 text-center col-xs-4">
            <a href="/1094?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022_jugueton_categoria_verano.png" type="image/webp">
                    <img src="/arquivos/2022_jugueton_categoria_verano.png" alt="Verano">
                </picture>
                <span>Verano</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/1299?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022_categoria_ofertas-de_la_semana_deskmob.min.png" type="image/webp">
                    <img src="/arquivos/2022_categoria_ofertas-de_la_semana_deskmob.png" alt="Ofertas">
                </picture>
                <span>Ofertas de la semana</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#muniecas">
                <picture>
                    <source srcset="/arquivos/2021_cat_Munecas.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Munecas.png" alt="Muñecas">
                </picture>
                <span>Muñecas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#preescolar">
                <picture>
                    <source srcset="/arquivos/2021_cat_Preescolar.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Preescolar.png" alt="Preescolar">
                </picture>
                <span>Preescolar</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#lego">
                <picture>
                    <source srcset="/arquivos/2021_cat_Lego.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Lego.png" alt="LEGO">
                </picture>
                <span>Lego y <br class="mobile">construcción</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#figurasaccion">
                <picture>
                    <source srcset="/arquivos/2022_jugueton_categoria_figurasdeaccion.min.png" type="image/webp">
                    <img src="/arquivos/2022_jugueton_categoria_figurasdeaccion.png" alt="Figuras de acción">
                </picture>
                <span>Figuras de <br class="mobile">acción</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#vehiculospistas">
                <picture>
                    <source srcset="/arquivos/2021_cat_AutosPistas.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_AutosPistas.png" alt="Vehículos">
                </picture>
                <span>Vehículos <br class="mobile"> y pistas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#juegosmesa">
                <picture>
                    <source srcset="/arquivos/2021_cat_JuegosMesa.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_JuegosMesa.png" alt="Juegos de mesa">
                </picture>
                <span>Juegos de mesa <br />y rompecabezas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#artemanualidades">
                <picture>
                    <source srcset="/arquivos/2021_cat_Arte.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Arte.png" alt="Manualidades">
                </picture>
                <span>Arte y <br class="mobile">manualidades</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#juegosexterior">
                <picture>
                    <source srcset="/arquivos/2021_cat_Exterior.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Exterior.png" alt="Juegos de exterior">
                </picture>
                <span>Juguetes<br class="mobile"> de exterior</span>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#deportes">
                <picture>
                    <source srcset="/arquivos/2021_cat_Deportes.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Deportes.png" alt="Deportes">
                </picture>
                <span>Deportes</span>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#videojuegos">
                <picture>
                    <source srcset="/arquivos/2021_cat_Videojuegos.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Videojuegos.png" alt="Vídeo juegos">
                </picture>
                <span>Video juegos <br />y consolas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#cuandoseagrande">
                <picture>
                    <source srcset="/arquivos/2021_cat_Grande.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Grande.png" alt="Cocinitas">
                </picture>
                <span>Cuando sea<br class="mobile"> grande</span>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#peluches">
                <picture>
                    <source srcset="/arquivos/2022_jugueton_categoria_peluches.min.png" type="image/webp">
                    <img src="/arquivos/2022_jugueton_categoria_peluches.png" alt="Peluches">
                </picture>
                <span>Peluches</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#electronicos">
                <picture>
                    <source srcset="/arquivos/2021_cat_Electronicos.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Electronicos.png" alt="Electrónicos">
                </picture>
                <span>Electrónicos</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/s/juguetes#bebes">
                <picture>
                    <source srcset="/arquivos/2021_cat_Bebes.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Bebes.png" alt="Bebés">
                </picture>
                <span>Bebés</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/celebracion">
                <picture>
                    <source srcset="/arquivos/2021_jugueton_categoria_celebracion.min.png" type="image/webp">
                    <img src="/arquivos/2021_jugueton_categoria_celebracion.png" alt="Piñatas">
                </picture>
                <span>Celebraciones</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4">
            <a href="/c-juguetes">
                <picture>
                    <source srcset="/arquivos/2021_cat_Todo.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Todo.png" alt="Juguetes">
                </picture>
                <span>Ver todo</span>
            </a>
        </div>
    </div>
</div>

<script>
    $(".vertodos").on("click", function() {
        $(this).hide();
        $(this).nextAll().fadeIn();
        $(".ofertas1").hide();
        $(".ofertas2").show();
    });
</script>
<style>
    .categories-jugueton span {
        font-weight: normal;
    }
</style>