</div>

<!-- Spiff un mundo de diversion -->
<div class="med-spiff re-central mundodiversion text-center margin-depto-spiff-element">
    <h4>Un mundo de diversión </h4>
    <a href="/s/juguetes#muniecas" class="button-vermas">Ver más</a>
    <div class="row">
        
        <div class="col-md-3 text-center">
            <div class="border_radius principal">
                <a href="/s/juguetes#muniecas">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_mundodiversion_portada_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_mundodiversion_portada_desk.png" alt="muñecas">
                    </picture>
                </a>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="border_radius">
                <a href="/m/barbie">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_mundodiversion_spiffbarbie_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_mundodiversion_spiffbarbie_desk.png" alt="Barbie">
                    </picture>
                    <div class=loguitos>
                        <img src="/arquivos/2022_jugueton_muniecas_logo_barbie.png" alt="Barbie">
                    </div>
                    <span class="txt-ver-mas pb-1" style="text-decoration:underline">Ver más</span>
                </a>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="border_radius">
                <a href="/m/littlemommy">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_mundodiversion_spifflittlemommy_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_mundodiversion_spifflittlemommy_desk.png" alt="Little Mommy">
                    </picture>
                    <div class=loguitos>
                        <img src="/arquivos/2022_jugueton_muniecas_logo_littlemommy.png" alt="Little Mommy">
                    </div>
                    <span class="txt-ver-mas pb-1" style="text-decoration:underline">Ver más</span>
                </a>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <div class="border_radius">
                <a href="/m/babyalive">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_mundodiversion_spiffbabyalive_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_mundodiversion_spiffbabyalive_desk.png" alt="Baby Alive">
                    </picture>
                    <div class=loguitos>
                        <img src="/arquivos/2022_jugueton_muniecas_logo_babyalive.png" alt="Baby Alive">
                    </div>
                    <span class="txt-ver-mas pb-1" style="text-decoration:underline">Ver más</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Termina Spiff un mundo de diversion -->

<div class="main-cat-jugueton re-central margin-depto-spiff-element">
    <h2 class="tag-title--level-3 mb-2">Navega por departamento</h2>
    <div class="row categories-jugueton fullcontent-jugueton"> 


        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/ofertasdelasemanajugueton">
                <picture>
                    <source srcset="/arquivos/2022_categoria_ofertas-de_la_semana_deskmob.min.png" type="image/webp">
                    <img src="/arquivos/2022_categoria_ofertas-de_la_semana_deskmob.png" alt="ofertas de la semana">
                </picture>
                <span class="d-block">Ofertas de la semana</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#muniecas">
                <picture>
                    <source srcset="/arquivos/2021_cat_Munecas.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Munecas.png" alt="Muñecas">
                </picture>
                <span class="d-block">Muñecas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#preescolar">
                <picture>
                    <source srcset="/arquivos/2021_cat_Preescolar.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Preescolar.png" alt="Preescolar">
                </picture>
                <span class="d-block">Preescolar</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#lego">
                <picture>
                    <source srcset="/arquivos/2021_cat_Lego.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Lego.png" alt="LEGO">
                </picture>
                <span class="d-block">Lego <br class="mobile">y construcción</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#figurasaccion">
                <picture>
                    <source srcset="/arquivos/2022_jugueton_categoria_figurasdeaccion.min.png" type="image/webp">
                    <img src="/arquivos/2022_jugueton_categoria_figurasdeaccion.png" alt="figuras de acción">
                </picture>
                <span class="d-block">Figuras de <br class="mobile">acción</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#vehiculospistas">
                <picture>
                    <source srcset="/arquivos/2021_cat_AutosPistas.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_AutosPistas.png" alt="Vehículos">
                </picture>
                <span class="d-block">Vehículos <br class="mobile"> y pistas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#juegosmesa">
                <picture>
                    <source srcset="/arquivos/2021_cat_JuegosMesa.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_JuegosMesa.png" alt="Juegos de mesa">
                </picture>
                <span class="d-block">Juegos de mesa <br />y rompecabezas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#artemanualidades">
                <picture>
                    <source srcset="/arquivos/2021_cat_Arte.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Arte.png" alt="arte y manualidades">
                </picture>
                <span class="d-block">Arte y <br class="mobile">manualidades</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#juegosexterior">
                <picture>
                    <source srcset="/arquivos/2021_cat_Exterior.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Exterior.png" alt="juegos de exterior">
                </picture>
                <span class="d-block">Juguetes <br class="d-block d-md-none">de exterior</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#deportes">
                <picture>
                    <source srcset="/arquivos/2021_cat_Deportes.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Deportes.png" alt="Deportes">
                </picture>
                <span class="d-block">Deportes</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#videojuegos">
                <picture>
                    <source srcset="/arquivos/2021_cat_Videojuegos.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Videojuegos.png" alt="Videojuegos">
                </picture>
                <span class="d-block">Videojuegos <br />y consolas</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#cuandoseagrande">
                <picture>
                    <source srcset="/arquivos/2021_cat_Grande.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Grande.png" alt="cocinitas">
                </picture>
                <span class="d-block">Cuando sea<br class="mobile"> grande</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#peluches">
                <picture>
                    <source srcset="/arquivos/2022_jugueton_categoria_peluches.min.png" type="image/webp">
                    <img src="/arquivos/2022_jugueton_categoria_peluches.png" alt="Peluches">
                </picture>
                <span class="d-block">Peluches</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#electronicos">
                <picture>
                    <source srcset="/arquivos/2021_cat_Electronicos.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Electronicos.png" alt="Electrónicos">
                </picture>
                <span class="d-block">Electrónicos</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/s/juguetes#bebes">
                <picture>
                    <source srcset="/arquivos/2021_cat_Bebes.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Bebes.png" alt="Bebés">
                </picture>
                <span class="d-block">Bebés</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/celebracion">
                <picture>
                    <source srcset="/arquivos/2021_jugueton_categoria_celebracion.min.png" type="image/webp">
                    <img src="/arquivos/2021_jugueton_categoria_celebracion.png" alt="Celebraciones">
                </picture>
                <span class="d-block">Celebraciones</span>
            </a>
        </div>
        <div class="col-md-2 text-center col-4 col-sm-4 px-0">
            <a href="/c-juguetes">
                <picture>
                    <source srcset="/arquivos/2021_cat_Todo.min.png" type="image/webp">
                    <img src="/arquivos/2021_cat_Todo.png" alt="Juguetes">
                </picture>
                <span class="d-block">Ver todo</span>
            </a>
        </div>
    </div>
</div>

<!-- Spiff Despierta tu imaginación -->
<div class="med-spiff re-central celebremos text-center margin-depto-spiff-element" style="margin-bottom: 5%;">
    <h4 style="color: #000;">Despierta tu imaginación</h4>
    <a href="/s/juguetes#figurasaccion" class="button-vermas">Ver más</a>
    <div class="row">
        <div class="col-md-3 text-center celebration">
            <div class="border_radius principal">
                <a href="/s/juguetes#figurasaccion">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_imaginacion_portada_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_imaginacion_portada_desk.png" alt="Figuras de acción">
                    </picture>
                </a>
                <!--p>
                    <strong class="despiertatitular" style="color: #fff">Ver todo</strong>
                    <a href="/s/juguetes#figurasaccion" class="txt-ver-mas mobile" style="text-decoration:underline">Ver todo</a>
                </p-->
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="border_radius">
                <a href="/juguetes/figuras-de-accion/figuras-de-accion/">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_imaginacion_superheroes_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_imaginacion_superheroes_desk.png" alt="Superhéroes">
                    </picture>
                </a>
                <p>
                    <a href="/juguetes/figuras-de-accion/figuras-de-accion/">
                        <strong class="despiertatitular">Superhéroes</strong>
                    </a>
                    <a href="/juguetes/figuras-de-accion/figuras-de-accion/" class="txt-ver-mas"
                        style="text-decoration:underline">Ver más</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="border_radius">
                <a href="/juguetes/figuras-de-accion/animales-y-dinosaurios">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_imaginacion_dinosaurios_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_imaginacion_dinosaurios_desk.png" alt="Dinosaurios">
                    </picture>
                </a>
                <p>
                    <a href="/juguetes/figuras-de-accion/animales-y-dinosaurios">
                        <strong class="despiertatitular">Dinosaurios</strong>
                    </a>
                    <a href="/juguetes/figuras-de-accion/animales-y-dinosaurios" class="txt-ver-mas"
                        style="text-decoration:underline">Ver más</a>
                </p>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="border_radius">
                <a href="/juguetes/figuras-de-accion/robots">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_imaginacion_robots_mobile.png"
                            media="(max-width: 480px)">
                        <img src="/arquivos/2022_jugueton_imaginacion_robots_desk.png" alt="Robots">
                    </picture>
                </a>
                <p>
                    <a href="/juguetes/figuras-de-accion/robots">
                        <strong class="despiertatitular">Robots</strong>
                    </a>
                    <a href="/juguetes/figuras-de-accion/robots" class="txt-ver-mas"
                        style="text-decoration:underline">Ver más</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Termina Spiff despierta tu imaginacion -->



<!-- Banners compra aqui-->

<div class="re-central banners-clases mb-3">
    <div class="row">
        <div class="col-6 col-md-6 banners-clases-item pb-3">
            <div class="border_radius">
                <a href="/s/juguetes#juegosmesa">
                    <picture>
                        <source srcset="/arquivos/2022jun_jugueton_home_bono_14.jpg" media="(max-width: 767px)">
                        <img src="/arquivos/2022jun_jugueton_home_bono_12.jpg" alt="Rompecabezas">
                    </picture>
                    <div class="cont-titular">
                        <h3>Rompecabezas</h3>
                        <span>Ver más</span>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-6 col-md-6 banners-clases-item pb-3">
            <div class="border_radius">
                <a href="/s/juguetes#deportes">
                    <picture>
                        <source srcset="/arquivos/2022jun_jugueton_home_bono_15.jpg" media="(max-width: 767px)">
                        <img src="/arquivos/2022jun_jugueton_home_bono_13.jpg" alt="Deportes">
                    </picture>
                    <div class="cont-titular">
                        <h3>Deportes</h3>
                        <span>Ver más</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 banners-clases-item padding-spiff-banner-ft mt-3 mb-5 mb-md-0">
            <div class="border_radius">
                <a href="/bebe-jugueton">
                    <picture>
                        <source srcset="/arquivos/2022_jugueton_verano_banner_bebejugueton_mobile.png"
                            media="(max-width: 767px)">
                        <img src="/arquivos/2022_jugueton_verano_banner_bebejugueton_desk.png" alt="Bebés">
                    </picture>
                    <div class="cont-titular ">
                        <h3>Encuentra los mejores productos para tu bebé</h3>
                        <span style="font-weight: normal">Ver productos</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Banners compra aqui-->

<!-- Carrusel Recomendaciones para ti -->
<div class="carruselHomeJuguetonE mb-0"></div>




<script>
    $(".vertodos").on("click", function() {
        $(this).hide();
        $(this).nextAll().fadeIn();
        $(".ofertas1").hide();
        $(".ofertas2").show();
    });
</script>
<style>
    .categories-jugueton span {
        font-weight: normal;
    }
</style>