</div>
<!-- empieza banner celebremos-->
<h2 class="tag-title--level-3 pb-2 pt-3">
    Celebremos a los chicos
    <!--<a class="text-center d-inline-block fw-normal d-inline-block" href="/celebracion">
        <p class="ms-2 text-decoration-underline d-none d-md-block">Ver más</p>
    </a>-->
</h2>
<div class="fullwidth-container" style="background: #EAF8FF;">
    <div class="ofertas-daymom-wrapper pt-3 re-central">
        <div class="contenedor-m mb-3 mb-md-1">
            <a href="/celebracion">
                <div class="content-mom position-absolute ps-md-4 ps-3 pt-2 pt-xl-5">
                    <h4> Ideas de regalos <br>para piñatas</h4>
                    <main>Regalos de menos de <br class="d-block d-md-none">Q100 ideales <br class="d-none d-md-block">para
                        las<br class="d-block d-md-none"> piñatas del cole</main>
                    <p class="vertodobutton text-decoration-underline pt-2 d-block">Ver todo</p>
                </div>
                <picture>
                    <source srcset="/arquivos/2022jun_jugueton_home_bono_50.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022jun_jugueton_home_bono_51.png" alt="Piñatas">
                </picture>
            </a>
        </div>
    </div>
    <!-- finaliza banner celebremos-->