<script>
    /*var swiper = new Swiper(".carrusel-importanteparati", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });*/
  var vwImportant = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
  if( vwImportant < 768 ){
      var swiper = new Swiper(".carrusel-importanteparati", {
          slidesPerView: 1,
          slidesPerGroup: 1,
          spaceBetween: 0,
          loop: true,
          loopFillGroupWithBlank: false,
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
    });
  }
</script>

<!-- Initialize Swiper -->
<script>
  var vwImportant = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
  if( vwImportant < 768 ){
      const marcasswiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
          spaceBetween: 5,
          freeMode: true,
          loop: true,
          pagination: false,
          autoplay: {
              delay: 5000,
          },
          breakpoints:{
              320:{
                  slidesPerView: 3,
                  spaceBetween:5
              },
              480:{
                  slidesPerView: 3,
                  spaceBetween:5
              },
              640:{
                  slidesPerView: 6,
                  spaceBetween:5
              },
              1025:{
                  slidesPerView: 6,
                  spaceBetween:5
              },
          }
      });
  }
  
</script>