<div class="datatrics-box-grid datatrics-box-grid datatrics-box-grid-b3-i3">
    <div class="datatrics-box-col datatrics-box-image datatrics-box-image-active">
        <div class="datatrics-box-title">
      Productos Apple ahora<br class='next-line'/> en Guatemala
    </div>
        <img src='https://images.datatrics.com/4a47c8181ef049ae039f81dd13c6059a.jpeg'/>
    </div>
    <div class="datatrics-box-col datatrics-box-body datatrics-box-body-center">
        <div class="datatrics-box-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sollicitudin rhoncus scelerisque. Phasellus ut lobortis sapien, non consectetur lacus.
          </div>
        <div><button type="button" onclick="window.location='#';" formtarget="" href="https://images.datatrics.com/6fa18bf282c45ac11b9ab658504868f7.jpeg" class="datatrics-box-button ">VER PRODUCTOS</button>
    </div>
    </div>
</div>
