<div class="row bannerjuguetonbebe desktop">
    <a href="/jugueton">
        <div class="border_radius p-0">
            <a href="/jugueton">
                <picture>
                    <source srcset="/arquivos/2022_bebejugueton_verano_banner_jugueton_mobile.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022_bebejugueton_verano_banner_jugueton_desk.png" alt="Bebés">
                </picture>
                <div class="content-titular">
                    <h3>VAMOS A JUGAR</h3>
                    <span><u>Ver más</u></span>
                </div>
            </a>
        </div>
    </a>
</div>