<!-- Importante para ti -inicio- -->
<div id="importanteParaTi" class="importante-para-ti">
    <h5 class="importante_title">Importante para ti</h5>
    <div class="importante_general">
        <div id="importanteparati" class="importante_container swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide importante_item">
                    <a href="/areasdenocobertura" class="importante_a">
                            <div class="importante_item-picture">
                                <picture>
                                    <img src="/arquivos/2021_cemaco_bannerImportanteParaTi_entregas.png" class="img-importante" alt="">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Entregamos miles de productos en 24 horas en la <br> capital y en 48 a 72 horas en el interior del país.<br> <u>Conoce mas aquí</u></p>
                            </div>
                    </a>
                </div>
                <div class="swiper-slide importante_item">
                    <a href="/autoservicio" class="importante_a">
                            <div class="importante_item-picture">
                                <picture>
                                    <source srcset="/arquivos/bts22_home_rt-autoservicio.png" media="(max-width: 762px)">
                                    <img src="/arquivos/bts22_home_rt-autoservicio.png" class="img-importante" alt="Cemaco Retirar en tienda">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Elige los productos que necesitas, selecciona la<br> opción de retirar en tienda, 
                                espera nuestra<br> notificación y ¡Listo! te entregaremos tu pedido<br> en la tienda a tu conveniencia.
                                <u class="">Conoce más aquí</u>
                                </p>
                            </div>
                    </a>
                </div>
                <div class="swiper-slide importante_item">
                    <a href="/prevencion" class="importante_a">
                            <div class="importante_item-picture">
                                <picture>
                                    <img src="/arquivos/2021_cemaco_home_importante_salud_ago-27.png" class="img-importante" alt="">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Nuestra misión es ser el lugar más seguro para <br> trabajar y comprar. Estamos tomando medidas <br> importantes para tu seguridad y la de nuestro equipo.<br><u class="">Conócelas</u></p>
                            </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next importante"></div>
            <div class="swiper-button-prev importante"></div>
        </div>
        <div class="row importante_container-desk">
                <div class="importante_item col-md-4">
                    <a href="/areasdenocobertura" class="importante_a">
                        <div class="importante_sub-item">
                            <div class="importante_item-picture">
                                <picture>
                                    <img src="/arquivos/2021_cemaco_bannerImportanteParaTi_entregas.png" class="picture-img" alt="">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Entregamos miles de productos en 24 horas en la capital<br> y en 48 a 72 horas en el interior del país.<br><u class="">Conoce mas aquí</u></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="importante_item col-md-4">
                    <a href="/autoservicio" class="importante_a">
                        <div class="importante_sub-item">
                            <div class="importante_item-picture">
                                <picture>
                                    <source srcset="/arquivos/bts22_home_rt-autoservicio.png" media="(max-width: 762px)">
                                    <img src="/arquivos/bts22_home_rt-autoservicio.png" class="picture-img" alt="Cemaco Retirar en tienda">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Elige los productos que necesitas, selecciona la<br> opción de retirar en tienda, 
                                espera nuestra<br> notificación y ¡Listo! te entregaremos tu pedido en la<br> tienda a tu conveniencia.
                                <u class="">Conoce más aquí</u>
                                </p>
                            </div>
                        </div>
                    </a>
            
                </div>
                <div class="importante_item col-md-4">
                    <a href="/prevencion" class="importante_a">
                        <div class="importante_sub-item">
                            <div class="importante_item-picture">
                                <picture>
                                    <img src="/arquivos/2021_cemaco_home_importante_salud_ago-27.png" class="picture-img" alt="">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Nuestra misión es ser el lugar más seguro para  trabajar y<br> comprar. Estamos tomando medidas importantes para tu<br> seguridad y la de nuestro equipo. <u class="">Conócelas</u></p>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>
<!-- Importante para ti -FIN- -->