<!-- Carrusel MARCAS -Inicio- -->

<h2 class="text-center herramientasCategoria__titulo">Más de tus marcas favoritas</h2>
<div class="marcas-container">
<div class="prateleira vitrine brandCarrusel electricosLanding">
    <ul class="brandCarrusel_container">
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/sylvania" class="product-item__main-image">
                            <img src="/arquivos/2022mar_logo_electricos_sylvania.png" style="cursor: pointer;" alt="Sylvania">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/tecno-lite" class="product-item__main-image">
                            <img src="/arquivos/2022mar_logo_electricos_tecnolite.png" style="cursor: pointer;" alt="Tecnolite">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/bticino" class="product-item__main-image">
                            <img src="/arquivos/2022mar_logo_electricos_bticino.png" style="cursor: pointer;" alt="Bticino">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/nexxt" class="product-item__main-image">
                            <img src="/arquivos/2022mar_logo_electricos_next.png" style="cursor: pointer;" alt="Nexxt">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/tripp-lite" class="product-item__main-image">
                            <img src="/arquivos/2022mar_logo_electricos_tripp-litte.png" style="cursor: pointer;" alt="Tripp-Lite">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/volteck" class="product-item__main-image">
                            <img src="/arquivos/2022mar_logo_electricos_voltech.png" style="cursor: pointer;" alt="Volteck">
                        </a>
                </figure>
                </div>
            </div>
        </li>
    </ul>
</div>     
</div>   
<!-- Carrusel MARCAS -Final- -->