<!-- Tu felicidad, garantizada -->
<div id="nuestrapromesa" class="nuestrapromesa">
    <h5 class="mt-2">Tu felicidad, garantizada</h5>
    <p class="nuestrapromesa_p">Si no estás 100% satisfecho con tu compra, <br class="show-block">contáctanos y lo resolveremos.</p>
    <div class="teofrecemos_container">
        <div data-bs-toggle="modal" data-bs-target="#felicidadGarantizada">
            <picture class="col-md-4 teofrecemos_img-picture">
                <source srcset="/arquivos/2022_cemaco_felicidad_banner_mobile.jpg" media="(max-width: 767px)" />
                <img class="nuestrapromesa_img" src="/arquivos/2022_cemaco_felicidad_banner_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
            </picture>
        </div>
        <!-- Te ofrecemos -INICIO- -->
        <div id="teofrecemos" class="background_nuestra-promesa teofrecemos swiper text-center teofrecemos_mobile">
            <ul class="swiper-wrapper">
                <li class= "swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
                    <div class="teofrecemos_text">
                        <p>Garantía total <br> y seguridad</p>
                    </div>
                </li>
                <li class="swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#retiraTienda">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
                    <div class="teofrecemos_text">
                        <p>Retira en tienda<br> y autoservicio</p>
                    </div>
                </li>
                <li class= "swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#entregaRapida">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
                    <div class="teofrecemos_text">
                        <p>Entrega rápida</p>
                    </div>
                </li>
                <li class="swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#metodosPago">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="">
                    <div class="teofrecemos_text">
                        <p>Métodos de pago: <br> tarjetas, cuotas y depósitos</p>
                    </div>
                </li>
            </ul>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div class="background_nuestra-promesa text-center teofrecemos_desk col-md-8">
            <ul class="teofrecemos-desk_container row">
                <li class= "teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
                    <div class="teofrecemos_text">
                        <p>Garantía total <br> y seguridad</p>
                    </div>
                </li>
                <li class="teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#retiraTienda">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
                    <div class="teofrecemos_text">
                        <p>Retira en tienda<br> y autoservicio</p>
                    </div>
                </li>
                <li class= "teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#entregaRapida">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
                    <div class="teofrecemos_text teofrecemos_text-entrega">
                        <p>Entrega rápida</p>
                    </div>
                </li>
                <li class="teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#metodosPago">
                    <img src="/arquivos/2022_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="">
                    <div class="teofrecemos_text">
                        <p>Métodos de pago: <br> tarjetas, cuotas y depósitos</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>