<!--  -->
<link rel="shortcut icon" href="/arquivos/cemacogt-favicon.ico"/>
<!-- CSS - Botones v2 -->
<link rel="stylesheet" href="/arquivos/main.botones.min.css?v=20220322-1653"/>
<!-- CSS - Generals -->
<link rel="stylesheet" href="/arquivos/bootstrap.v5.min.css?v=20211027-1711"/>
<link rel="stylesheet" href="/arquivos/css-js_styles.min.css?v=20220223-1445" id="globalStyles"/>
<!--<link rel="stylesheet" type="text/css" href="/arquivos/global.min.css?v=20211019-1539" />-->
<link rel="stylesheet" type="text/css" href="/arquivos/global.min.css?v=20220210-0932" />
<!-- <link rel="stylesheet" type="text/css" href="/arquivos/global.css?v=20211209-1812" />  -->
<link rel="stylesheet" href="/arquivos/css-js_global-components.min.css?v=20220214-1202" />
<!-- Must be in before head -->
<script src="/arquivos/angular.min.js?v=20211019-1539"></script>
<script src="/arquivos/angular-route.min.js?v=20211019-1539"></script>