<!-- Nuestros departamentos -INICIO- -->
<div class="re-central">
    <h2 class="tag-title--level-3 mb-md-3" id="departaments">Navega por departamento</h2>
    <div class="row categories-bebe fullcontent-bebe">
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/magicasofertas">
                <picture>
                    <source srcset="/arquivos/2021_home_cat-MO.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_home_cat-MO.jpg" alt="Magicas ofertas" />
                </picture>
                <span class="text-nowrap">Mágicas ofertas</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/topregalosnavidad">
                <picture>
                    <source srcset="/arquivos/2021_home_cat-guia-regalos_mob.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_home_cat-guia-regalos_mob.jpg" alt="Guia de regalos" />
                </picture>
                <span class="text-nowrap">Guía de Regalos</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/navidad">
                <picture>
                    <source srcset="/arquivos/2021_home_cat-navidad_v3.0.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_home_cat-navidad_v3.0.png" alt="Navidad" />
                </picture>
                <span>Navidad</span>
            </a>
        </div>
        <!-- <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/1067?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home2104_catOfertasSemana2_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home2104_catOfertasSemana2.png" alt="Ofertas de la semana" />
                </picture>
                <span>Grandes ofertas</span>
            </a>
        </div> -->
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/cuidatusalud">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catSalud_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catSalud_mobile.jpg" alt="Cuida tu salud" />
                </picture>
                <span>Cuida tu salud</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/electrodomesticos/ambiente-y-temperatura/calentadores">
                <picture>
                    <source srcset="/arquivos/2021_home_cat-calefactores_mob.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_home_cat-calefactores_mob.jpg" alt="Cuida tu salud" />
                </picture>
                <span>Calefactores</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" >
            <a href="/c-electrodomesticos-y-linea-blanca">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catElectrodomesticos_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catElectrodomesticos_mobile.jpg" alt="Electrodomésticos y Línea blanca">
                </picture>
                <span id="cat-electrodom-linea-blanca">Electrodomésticos <br />y línea blanca</span>
            </a>
        </div>
        <!--<div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-guatemalanuestra">
        <picture>
            <img src="/arquivos/2021_cemaco_home_catGuate_desk.jpg" alt="100% de Guate" />
        </picture>
        <span>100% Guate</span>
        </a>
    </div>-->
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/ejercitateencasa">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catEjercitate_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catEjercitate_mobile.jpg" alt="ejercicio en casa" />
                </picture>
                <span>Ejercítate en casa</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-herramientas">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catHerramientas_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catHerramientas_mobile.jpg" alt="Herramientas">
                </picture>
                <span>Herramientas</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-cocina-y-mesa">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catCocina_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catCocina_mobile.jpg" alt="Cocina y Mesa" />
                </picture>
                <span>Cocina y mesa</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-dormitorio">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catBlancos_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catBlancos_mobile.jpg" alt="Dormitorio" />
                </picture>
                <span>Dormitorio</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-organizacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catOrganizacion_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catOrganizacion_mobile.jpg" alt="organizacion" />
                </picture>
                <span>Organización</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-limpieza-y-lavanderia">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catLimpieza_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catLimpieza_mobile.jpg" alt="limpieza y lavanderia" />
                </picture>
                <span>Limpieza y lavandería</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-plomeria">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catPlomeria_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catPlomeria_mobile.jpg" alt="Plomeria" />
                </picture>
                <span>Plomería</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-electricos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catIluminacion_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catIluminacion_mobile.jpg" alt="Eléctricos">
                </picture>
                <span>Eléctricos</span>
            </a>
        </div>
        <!--div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/1189?map=productClusterIds">
        <picture>
            <img src="arquivos/2021_cemaco_home2104_catNovedades.png" alt="" />
        </picture>
        <span>Novedades</span>
        </a>
    </div-->
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-cuidado-personal-y-bienestar">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catSaludBelleza_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catSaludBelleza_mobile.jpg" alt="Cuidado Personal y Bienestar" />
                </picture>
                <span>Cuidado personal <br />y bienestar</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-banos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catBanos_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catBanos_mobile.jpg" alt="Baños" />
                </picture>
                <span>Baños</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-muebles">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catMuebles_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catMuebles_mobile.jpg" alt="Muebles" />
                </picture>
                <span>Muebles</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte vertodos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catVerTodo_mobile-v2.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catVerTodo_mobile-v2.png" alt="Ver todos los departamentos" />
            </picture>
            <span>Nuestros departamentos</span>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-alimentos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catAlimentos_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catAlimentos_mobile.jpg" alt="alimentos" />
                </picture>
                <span>Alimentos</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-tecnologia">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catElectronica_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catElectronica_mobile.jpg" alt="Tecnología" />
                </picture>
                <span>Tecnología</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-decoracion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catDeco_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catDeco_mobile.jpg" alt="Decoración" />
                </picture>
                <span>Decoración</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-iluminacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catLamparas_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catLamparas_mobile.jpg" alt="iluminación" />
                </picture>
                <span>Iluminación</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-aprende-en-casa">
                <picture>
                    <source srcset="/arquivos/2021_cat_regresoaclases_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cat_regresoaclases_mobile.jpg" alt="Aprende en Casa" />
                </picture>
                <span>Regreso a clases</span>
            </a>
        </div>
        <!--<div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-aprende-en-casa">
        <picture>
            <img src="/arquivos/2021_cemaco_home_catAprendeEnCasa_desk.jpg" alt="Aprende en Casa"/>
        </picture>
        <span>Aprende en casa</span>
        </a>
    </div> -->
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-pinturas">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catPinturas_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catPinturas_mobile.jpg" alt="pinturas" />
                </picture>
                <span>Pinturas</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-autos-y-motos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catAutos_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catAutos_mobile.jpg" alt="Autos y motos" />
                </picture>
                <span>Autos y motos</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-ferreteria">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catFerreteria_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catFerreteria_mobile.jpg" alt="Ferreteria" />
                </picture>
                <span>Ferretería</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-cortinas-alfombras-y-pisos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catCortinaje_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catCortinaje_mobile.jpg" alt="cortinas, alfombras y pisos" />
                </picture>
                <span>Cortinas, alfombras <br />y pisos</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-ninas-y-ninos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catNin_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catNin_mobile.jpg" alt="niños y niñas" />
                </picture>
                <span>Niños y niñas</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-juguetes">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catJuguetes_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catJuguetes_mobile.jpg" alt="juguetes" />
                </picture>
                <span>Juguetes</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-bebes">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catBebes_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catBebes_mobile.jpg" alt="Bebés" />
                </picture>
                <span>Bebés</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-mascotas">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catMascotas_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catMascotas_mobile.jpg" alt="Mascotas" />
                </picture>
                <span>Mascotas</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-patio-y-jardin">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catJardineria_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catJardineria_mobile.png" alt="Patio y jardin" />
                </picture>
                <span>Patio y jardín</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-materiales-de-construccion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catMaterialesConstruccion_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catMaterialesConstruccion_mobile.jpg" alt="Materiales de construcción" />
                </picture>
                <span class="d-none d-md-block">Materiales <br> de construcción</span>
                <span class="d-sm-block d-md-none">Acabados y materiales de <br> construcción</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-acabados">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catAcab_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catAcab_mobile.jpg" alt="acabados" />
                </picture>
                <span>Acabados</span>
            </a>
        </div>
        <div class="col-6 col-sm-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/liquidacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home18agosto_categorias_liquidacion_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home18agosto_categorias_liquidacion_mobile.png" alt="liquidacion" />
                </picture>
                <span>Liquidación</span>
            </a>
        </div>
    </div>
</div>
<!-- Nuestros departamentos -FIN- -->