<!-- Carrusel MARCAS -Inicio- -->
<div class="prateleira vitrine brandCarrusel">
    <h2 class="text-center herramientasCategoria__titulo">Más de tus marcas favoritas</h2>
    <ul class="brandCarrusel_container">
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/1146?map=productClusterIds" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_makita.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/1108?map=productClusterIds" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_aceHardware.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/m/truper" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_truper.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/m/pretul" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_pretul.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/buscar?q=dewalt" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_dewalt.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/buscar?q=bosch" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_bosch.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/buscar?q=stanley" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_stanley.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="https://www.cemaco.com/buscar?q=craftsman" class="product-item__main-image">
                            <img src="/arquivos/2022_marcas_craftsman.png">
                        </a>
                </figure>
                </div>
            </div>
        </li>
    </ul>
</div>     
<!-- Carrusel MARCAS -Final- -->