<!--content categoria-->
<div class="herramientasCategoria">
    <h2 class="text-center herramientasCategoria__titulo">Nuestras categorías <br class="mobile">más buscadas</h2>
    <div class="row categories-bebe fullcontent-bebe text-center">

        <div class="col-md-2 text-center col-xs-4 col-bs-4">
            <a href="/c-herramientas/herramientas-electricas/barrenos-y-atornilladores">
                <picture>
                    <source srcset="/arquivos/2022_cat_herra_barrenos_feb.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022_cat_herra_barrenos_feb.png" alt="barrenos y atornilladores" />
                </picture>
                <p>Barrenos y <br>atornilladores</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-bs-4">
            <a href="/c-herramientas/herramientas-electricas/hidrolavadoras">
                <picture>
                    <source srcset="/arquivos/2022_cat_herra_hidro_feb.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022_cat_herra_hidro_feb.png" alt="hidrolavadoras" />
                </picture>
                <p>Hidrolavadoras</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-bs-4">
            <a href="/herramientas/herramientas-electricas/compresores">
                <picture>
                    <source srcset="/arquivos/2022_cat_herra_compre_feb.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022_cat_herra_compre_feb.png" alt="compresores" />
                </picture>
                <p>Compresores</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-bs-4">
            <a href="/c-herramientas/cajas-de-herramientas-y-organizadores/cajas-y-porta-herramientas">
                <picture>
                    <source srcset="/arquivos/2022_cat_herra_cajas_feb.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022_cat_herra_cajas_feb.png" alt="cajas de herramientas" />
                </picture>
                <p>Cajas de<br> herramientas</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-bs-4">
            <a href="/herramientas/herramientas-electricas/sierras">
                <picture>
                    <source srcset="/arquivos/2022_cat_herra_sierras_feb.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022_cat_herra_sierras_feb.png" alt="sierras eléctricas" />
                </picture>
                <p>Sierras<br> eléctricas</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-bs-4">
            <a href="/herramientas/herramientas-electricas/esmeriladoras">
                <picture>
                    <source srcset="/arquivos/2022_cat_herra_esmeriladora_feb.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022_cat_herra_esmeriladora_feb.png" alt="esmeriladoras" />
                </picture>
                <p>Esmeriladoras</p>
            </a>
        </div>
    </div>
</div>

<!-- Termina div de cateogrias -->