<div class="re-central">
    
    <!-- Inicia embed live -->
<div id="nizza-player"></div>



<script id="nizza-player-script" type="module" src="https://cdn.nizza.com/player/prod/nz-index.es.js?id=7d92f31f-3563-46b0-ab59-8ccbcec29070&#38;account=cemacogt&#38;inactiveSidebarProducts=true&#38;inactiveProductsCarousel=false&#38;inactivateChat=true&#38;inactivateLike=true&#38;inactivateViewers=true&#38;isInfinite=true&#38;time=10&#38;pdp=true&#38;kuikpay=false&#38;quickView=true"></script>

    <!-- Inicia embed live -->
    <!-- Inicia banner principal 
    <div class="banner-novedades mb-3">
        <picture>
            <source srcset="/arquivos/2022ago_novedades_banner_main_nodevadescemaco_mob.png" media="(max-width: 762px)">
            <img src="/arquivos/2022ago_novedades_banner_main_nodevadescemaco_desk.png" alt="Banner novedades">
        </picture>
    </div>
    <!-- Termina banner principal -->
    
    
    <!--inicia spiff dobles variedad-->
    <div class="row pe-md-3 ps-md-3 mx-md-0 pe-lg-5 ps-lg-5 mx-lg-0 pe-lg-5 ps-lg-5 mx-xl-2 ">
        <div class="col-12">
            <h2 class="text-center general-title pb-4 pt-4 pt-md-4 pb-md-4">Más variedad en CEMACO.com</h2>
        </div>
        
        <div class="col-12 col-md-6 mb-4 ps-md-5 pe-md-4">
            <div class="content-general-spiff overflow-hidden">
                <a href="/m/josephjoseph">
                    <picture>
                        <source srcset="/arquivos/2022ago_novedades_spiff_joseph_joseph_mob.png?v=637971242954330000" media="(max-width: 767px)">
                        <img src="/arquivos/2022ago_novedades_spiff_joseph_joseph_desk.png?v=637971242964630000" alt="josephjoseph">
                    </picture>
                    <div class="content-description d-flex flex-column align-items-start color-blue">
                        <h3 class="pb-2 pt-3 pt-md-2 mb-md-0">Lo más nuevo de Joseph Joseph</h3>
                        <p>Diseño inteligente y de tendencia. Encuentra artículos innovadores para tu cocina, baño y hogar que facilitarán tu día a día.</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-12 col-md-6 mb-4 ps-md-4 pe-md-5">
            <div class="content-general-spiff overflow-hidden">
                <a href="/m/umbra">
                    <picture>
                        <source srcset="/arquivos/2022ago_novedades_spiff_umbra_mob.png?v=637971243064670000" media="(max-width: 767px)">
                        <img src="/arquivos/2022ago_novedades_spiff_umbra_desk.png?v=637971242970300000" alt="umbra">
                    </picture>
                    <div class="content-description d-flex flex-column align-items-start color-gray">
                        <h3 class="pb-2 pt-3 pt-md-2 mb-md-0">Dale un toque a tu hogar con Umbra</h3>
                        <p>Artículos con un diseño moderno, casual y funcional. Da ese toque especial a cada espacio de tu hogar.</p>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    <!--termina spiff dobles variedad-->
    
    
    <!--empieza seccion banner bodum-->
    <div class="mt-4 mt-lg-5 mb-4 mb-md-4">
        <a href="/m/bodum">
            <picture>
                <source srcset="/arquivos/2022ago_novedades_banner_bodum_hora_del_cafe_mob.png" media="(max-width: 767px)">
                <img src="/arquivos/2022ago_novedades_banner_bodum_hora_del_cafe_desk.png" alt="bodum">
            </picture>
            <div class="content-marca-description">
                <img src="/arquivos/2022ago_novedades_logo_prov_bodum.png"/>
                <h3 class="banner-item_text" title="Encuentra todo lo que necesitas para disfrutar a tu gusto ¡un edlicioso café!">Hora del café</h3>
                <p>La tradición del café lento mezclado con innovación.</p>
                <p>Encuentra lo que necesitas para disfrutar <br class="d-none d-md-block"> de tu café como a ti te gusta</p>
            </div>
        </a>
    </div>
    <!--termina seccion banner bodum-->
    
    
    <!--inicia spiff dobles categorías-->
    <div class="row mt-0 mb-0 mx-lg-0">
        <div class="col-12">
            <h2 class="text-center general-title pb-4 pt-4 pt-md-4 pb-md-4">Tecnología</h2>
        </div>
        
        <div class="col-12 col-md-7 p-0">
    
            <div class="row  text-center mt-0 mb-0 mx-lg-0">
                
                <div class="col-12 col-md-12 mb-3 mb-md-4 pe-4 ps-4 ps-md-0 pe-md-0 banner_item p-0">
                    <div class="content-spiff overflow-hidden boxshadow">
                        <a href="/m/apple">
                            <picture>
                                <source srcset="/arquivos/2022ago_novedades_tecnologia_apple_mob.png?v=637971242774900000" media="(max-width: 767px)">
                                <img src="/arquivos/2022ago_novedades_tecnologia_apple_desk.png?v=637971242774600000" alt="apple">
                            </picture>
                        </a>
                    </div>
                </div>
                
            </div>
            
        </div>
        
        
        <div class="col-12 col-md-5 ps-md-4 pe-md-0">
            
            <div class="row text-center mt-0 mb-0 mx-lg-1">
                
                <div class="col-6 col-md-12 mb-0 mb-md-2 pe-2 ps-md-0 pe-md-0 banner_item">
                    <div class="content-spiff overflow-hidden boxshadow">
                        <a href="/m/bose">
                            <picture>
                                <source srcset="/arquivos/2022ago_novedades_tecnologia_bose_mob.png?v=637971242776630000" media="(max-width: 767px)">
                                <img src="/arquivos/2022ago_novedades_tecnologia_bose_desk.png?v=637971242776500000" alt="bose">
                            </picture>
                        </a>
                    </div>
                </div>
                
                <div class="col-6 col-md-12 mt-0 mt-md-2 ps-2 ps-md-0 pe-md-0 banner_item">
                    <div class="content-spiff overflow-hidden boxshadow">
                        <a href="/smarthome">
                            <picture>
                                <source srcset="/arquivos/2022ago_novedades_tecnologia_smarthome_mob.png?v=637971242776800000" media="(max-width: 767px)">
                                <img src="/arquivos/2022ago_novedades_tecnologia_smarthome_desk.png?v=637971242776800000" alt="smarthome">
                            </picture>
                        </a>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
    <!--termina spiff dobles categorías-->
    
    
    <!-- Empieza seccion compra por categoría -->
    <div class="general-content-categoria pt-3 pb-4 pb-md-5">
        <h2 class="text-center general-title pb-4 pt-4 pt-md-4 pb-md-4">Compra por categoría</h2>
        <div class="row content-categories text-center">
    
            <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-3 px-xl-4 mb-3 mb-md-0">
                <a href="/1987?map=productClusterIds">
                    <picture>
                  
                        <img src="/arquivos/2022ago_novedades_cat_cocina.png?v=637971242938630000" alt="Cocina">
                    </picture>
                    <p>Cocina</p>
                </a>
            </div>
    
            <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-3 px-xl-4 mb-3 mb-md-0">
                <a href="/1988?map=productClusterIds">
                    <picture>
             
                        <img src="/arquivos/2022ago_novedades_cat_organizacion.png?v=637971242958870000" alt="Organización">
                    </picture>
                    <p>Organización</p>
                </a>
            </div>
    
            <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-3 px-xl-4 mb-3 mb-md-0">
                <a href="/1989?map=productClusterIds">
                    <picture>
                   
                        <img src="/arquivos/2022ago_novedades_cat_tecnologia.png?v=637971242939400000" alt="Tecnología">
                    </picture>
                    <p>Tecnología</p>
                </a>
            </div>
    
            <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-3 px-xl-4 mb-3 mb-md-0">
                <a href="/1990?map=productClusterIds">
                    <picture>
        
                        <img src="/arquivos/2022ago_novedades_cat_juguetes.png?v=637971242951930000" alt="Juguetes">
                    </picture>
                    <p>Juguetes</p>
                </a>
            </div>
    
            <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-3 px-xl-4 mb-3 mb-md-0">
                <a href="/1991?map=productClusterIds">
                    <picture>
      
                        <img src="/arquivos/2022ago_novedades_cat_herramientas.png?v=637971242926100000" alt="Herramientas">
                    </picture>
                    <p>Herramientas</p>
                </a>
            </div>
            
            <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-3 px-xl-4 mb-3 mb-md-0">
                <a href="/1992?map=productClusterIds">
                    <picture>
         
                        <img src="/arquivos/2022ago_novedades_cat_bebes.png?v=637971242928130000" alt="Bebés">
                    </picture>
                    <p>Bebés</p>
                </a>
            </div>
    
        </div>
    </div>
    <!-- Termina seccion compra por categoría -->
    
    
    <!-- empieza banner lego -->
    <div class="row  text-center mt-0 mb-0 mx-lg-1">
                
        <div class="col-12 col-md-12 mb-4 ps-md-0 pe-md-0 banner_item">
            <div class="content-spiff overflow-hidden">
                <a href="/m/lego">
                    <picture>
                        <source srcset="/arquivos/2022ago_novedades_banner_lego_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022ago_novedades_banner_lego_desk.png" alt="lego">
                    </picture>
                </a>
            </div>
        </div>
        
    </div>
    <!-- termina banner lego-->
    
    
    <!--inicia spiff dobles proyectos-->
    <div class="row pe-md-3 ps-md-3 mx-md-0 pe-lg-5 ps-lg-5 mx-lg-0 pe-lg-5 ps-lg-5 mx-xl-2 ">
        
        <div class="col-12">
            <h2 class="text-center general-title pb-4 pt-4 pt-md-4 pb-md-4">Termina tus proyectos</h2>
        </div>
        


        
        <div class="col-12 col-md-6 mb-4 ps-md-5 pe-md-4">
            <div class="content-general-spiff overflow-hidden">
                <a href="/m/truper">
                    <picture>
                        <source srcset="/arquivos/2022ago_novedades_spiff_truper_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022ago_novedades_spiff_truper_desk.png" alt="truper">
                    </picture>
                    <div class="content-description d-flex flex-column align-items-start color-yellow">
                        <h3 class="pb-2 pt-3 pt-md-2 mb-md-0">Truper</h3>
                        <p>Desde herramientas básicas hasta herramientas especializadas. En Truper encuentras calidad, variedad y garantía total para que ese proyecto sea realidad.</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div class="col-12 col-md-6 mb-4 ps-md-4 pe-md-5">
            <div class="content-general-spiff overflow-hidden">
                <a href="/m/Bosch">
                    <picture>
                        <source srcset="/arquivos/2022ago_novedades_spiff_bosch_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022ago_novedades_spiff_bosch_desk.png" alt="Bosch">
                    </picture>
                    <div class="content-description d-flex flex-column align-items-start color-gblue">
                        <h3 class="pb-2 pt-3 pt-md-2 mb-md-0">Con Bosch, es posible</h3>
                        <p>Innovación y durabilidad, las herramientas que estás buscando para culminar ese proyecto, están aquí.<br class="break-line">&nbsp; </p>
                    </div>
                   
                </a>
            </div>
        </div>
        
    </div>
    <!--termina spiff dobles proyectos-->
    
    
</div>


<!-- estilos product list -->
<style>
    .circle-cat:hover a{text-decoration: underline;}
    .fullcontent-bebe p {font-size: 0.79em;}
    .banner-novedades{margin-right: -15px;margin-left: -15px;}
    .novedades .bread-crumbs{display: none;}
    .novedades .product-list__results-items{display: none;}
    .novedades .product-list__controls{display: flex;margin-top: 0.5rem;margin-bottom: 1rem;}
    .novedades .re-central--product-list{padding: 10px 20px;background: #F6F6F6;}
    .novedades .product-item__wrapper .product-item{padding-right: 0.4rem;padding-left: 0.4rem;}
    .novedades h3.tittle-lactancia, .novedades #h1_name{display:none!important;}
    h1.category-name {display:none!important;}
    .novedades .pre-footer{margin-top: 1.2rem;}
    .ft-size-title{font-size: 1.235rem;}
    @media only screen and (min-width: 768px){
        .fullcontent-bebe p {font-size: 0.9em;}
        .banner-novedades{margin-right: 0px;margin-left: 0px;}
        .novedades h1.category-name{margin-top: 1.4rem;}
        .novedades .product-list__controls{display: none;}
        .ft-size-title{font-size: 1.813rem;}
    }
</style>


<style type="text/css">
    .content-general-spiff{
        border-radius:60px;
    }
    
    .color-blue{
        background-color:#D7E9F2;
    }
    .color-gray{
        background-color:#888B8E;
        color:#fff;
    }
    .color-yellow{
        background-color:#FFDC9F;
    }
    .color-gblue{
        background-color:#8EB6CC;
    }

    .content-description{
        padding: 17px 30px 40px;
        text-align: start;
    }
    .content-description h3{
        font-size: 1.1rem;
    }
    .content-description p{
        font-size: 0.82rem;
    }
    
    .content-marca-description{
        color:#fff;
        margin-top: -20.5%;
        width: 100%;
        padding-bottom: 8%;
    }
    
    .content-marca-description img{
        width: 14%;
        display: block;
        margin: auto;
    }
    
    .content-marca-description h3{
        text-align: center;
        font-size: 1.6rem;
    }
    
    .content-marca-description p{
        text-align: center;
        font-size: 0.7rem;
    }
    
    

    .boxshadow{
        box-shadow: 0px 5px 10px rgba(0,0,0,0.18);
        border-radius: 18px;
    }
    
    
    
    .row.content-categories {
        justify-content: center;
    }
    
    .general-content-categoria img {
        padding: 0 0 10% 0;
    }
    
    .break-line{
        display:none;
    }
    ._productAddCart_bt6xi_1{
        color: #fff!important;
        background-color: #101e8e!important;
        border-radius: 2em!important;
        height: auto!important;
        padding: 0.6rem .7rem!important;
        line-height: normal!important;
        font-size: .9rem!important;
        font-family: Helvetica,Arial,sans-serif!important;
        font-weight: bold !important;
        letter-spacing: .11em !important;
        width: auto!important;
    }
    ._productAddCart_bt6xi_1:hover{
        background-color: #0A1462 !important;
    }
    @media screen and (min-width: 280px) and (max-width: 359px){
        .general-title{
            font-size: 1em;
        }
        .content-general-spiff {
            border-radius: 43px;
        }
        .content-description h3 {
            font-size: 0.9rem;
        }
        
        .content-description {
            padding: 5px 13px 27px;
            text-align: start;
        }
        .content-description p {
            font-size: 0.7rem;
        }
        
        .content-general-spiff {
            border-radius: 29px;
        }

        .content-marca-description {
            color: #fff;
            margin-top: -36.5%;
            width: 100%;
            padding-bottom: 0%;
        }

        .content-marca-description img {
            width: 25%;
            display: block;
            margin: 0 10px;
        }
        
        .content-marca-description h3 {
            text-align: start;
            font-size: 0.9rem;
            margin-left: 18px;
            padding-bottom: 0px;
        }
        .content-marca-description p {
            text-align: start;
            font-size: 0.55rem;
            margin-left: 18px;
            margin-bottom: 0;
            margin-right: 0.5rem;
        }
        .content-categories p {
            font-size: 0.7rem;
        }
    }
    
    @media screen and (min-width: 360px) and (max-width: 767px){
        .general-title {
            font-size: 1.2em;
        }
        .content-general-spiff {
            border-radius: 43px;
        }
        
        .content-marca-description {
            color: #fff;
            margin-top: -36.5%;
            width: 100%;
            padding-bottom: 0%;
        }
        .content-marca-description img {
            width: 25%;
            display: block;
            margin: 0 10px;
        }
        
        .content-marca-description h3 {
            text-align: start;
            font-size: 0.9rem;
            margin-left: 18px;
        }
        .content-marca-description p {
            text-align: start;
            font-size: 0.76rem;
            margin-left: 18px;
            margin-bottom: 0;
            margin-right: 20px;
        }
        .content-categories p{
            font-size: 0.8rem;
        }
        .content-description {
            padding: 2px 19px 40px;
            text-align: start;
        }
    }
    
    @media screen and (min-width: 768px){
        ._productAddCart_bt6xi_1{
            width: 100%!important;
            padding: 0.313rem .625rem!important;
            font-size: .75rem!important;
        }
        .general-title {
            font-size: 1.2em;
        }
        .col-md-5 {
            flex: 0 0 auto;
            width: 39.5%;
        }
        .col-md-7 {
            flex: 0 0 auto;
            width: 60.5%;
        }
        .break-line{
            display:block;
        }
        .content-general-spiff {
            border-radius: 28px;
        }
        .content-description h3 {
            font-size: 0.8rem;
        }
        .content-marca-description {
            margin-top: -21.5%;
            padding-bottom: 4%;
        }

        .content-description {
            padding: 9px 12px 28px;
            text-align: start;
        }
        .content-description p {
            font-size: 0.72rem;
        }
        .content-marca-description h3 {
            font-size: 1.2rem;
        }
        .content-marca-description img {
            width: 12%;
        }
        .content-marca-description p {
            font-size: 0.6rem;
        }
        .content-spiff.overflow-hidden.boxshadow {
            margin: 0px 7px;
        }
        .content-categories p {
            font-size: 0.75rem;
        }
        
        

    }


    @media screen and (min-width: 1024px){
        .general-title {
            font-size: 1.413em;
        }
        .content-description h3 {
            font-size: 0.9rem;
        }
        .content-description p {
            font-size: 0.57rem;
        }
        .content-description {
            padding: 15px 25px 30px;
            text-align: start;
        }
        .content-general-spiff {
            border-radius: 35px;
        }
        .content-marca-description {
            margin-top: -20%;
            padding-bottom: 7%;
        }
        .content-categories p{
            font-size: 0.9rem;
        }
        .content-spiff.overflow-hidden.boxshadow {
            margin: 0px 0px;
        }
    }
    
    @media screen and (min-width: 1280px){
        .general-title{
            font-size: 1.813em;
        }
        .content-categories p {
            font-size: 0.9rem;
        }
        .content-marca-description {
            margin-top: -22%;
            padding-bottom: 7%;
        }
        
        
        .content-description h3 {
            font-size: 1.35rem;
        }
        .content-description p {
            font-size: 0.8rem;
        }
        .content-marca-description h3 {
            text-align: center;
            font-size: 1.9rem;
        }
        .content-marca-description p {
            font-size: 0.85rem;
        }
        .content-general-spiff {
            border-radius: 48px;
        }
    }
    
    @media screen and (min-width: 1440px){
        .content-description {
            padding: 27px 37px 50px;
        }
        .content-description h3 {
            font-size: 1.55rem;
        }
        .content-description p {
            font-size: 0.85rem;
        }
        .content-marca-description h3 {
            text-align: center;
            font-size: 2rem;
        }
        .content-marca-description p {
            font-size: 1rem;
        }
        .content-categories p {
            font-size: 1rem;
        }
        .content-marca-description {
            margin-top: -22%;
            padding-bottom: 8%;
        }
    }
    
    
    @media screen and (min-width: 1920px){
        .general-title {
            font-size: 2em;
        }
       
        .content-description p {
            font-size: 0.97rem;
        }
        .content-general-spiff {
            border-radius: 60px;
        }
    }

</style>
