<!--banner guia de regalos-->
<!-- CEMACO CSS -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.css" />

<!-- Banner head -->
<div class="re-cien bannerhead" style="padding: 0px;">
    <picture>
        <!-- Mobile -->
        <source srcset="/arquivos/banner-guiaderegalos-madre_mobile.png" media="(max-width: 767px)">

        <!-- Desktop Optimization -->
        <source srcset="/arquivos/banner-guiaderegalos-madre_desktop.min.jpg" media="(min-width: 768px)" type="image/webp">
        
        <!-- Desktop -->
        <img src="/arquivos/banner-guiaderegalos-madre_desktop.png" alt="pinturas" class="cocina-web">

    </picture>

    <div class="re-central head-text px-md-0">
        <h1>
            <b class="display-1 font-weight-bold">Sorprende a mamá</b></br>
        </h1>
        <h2>
            Encuentra las mejores opciones <br> para festejarla
        </h2>
    </div>
</div>
<!-- end Banner head  -->

<style>
#productsLifeStyleSlider01 .prateleira.vitrine{
    padding-top: 4%;
}
#productsLifeStyleSlider01 h2, #productsSlider01 h2{
    display: none;
}
.banner-single.portaditaslifestyle {
    position: relative;
    /* margin: 0; */
    overflow: hidden;
    border-radius: 14px;
    padding: 0;
}
.contnt-gray-spiff-carrusel {
    margin-top: 2.3%;
    margin-left: -15px;
    margin-right: -15px;
}
.banner-single.portaditaslifestyle .content {
    position: absolute;
    color: #000;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    padding: 0 0 0 2em;
    align-items: flex-start;
}
    .banner-single.bannermiddle {
    position: relative;
    margin: 0;
    overflow: hidden;
    border-radius: 15px;
}
.bannermiddle .content {
    position: absolute;
    color: #fff;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68%;
    padding: 0 0 0 0%;
    text-align: center;
}

    .contnt-gray-spiff-carrusel .content-spiff,
    .banner-nuestros-top-deptos .content-spiff,
    .herramientas .content-spiff,
    .spiff__after-slider .content-spiffs {
        background: #eeeeee;
        border-radius: 15px;
    }

    .banner-item_vermas {
        font-size: .875em;
        text-decoration: underline;
    }

    .banner-item_text {
        font-size: 0.9em;
        text-align: center;
    }

    .head-text h2 {
        font-weight: normal;
    }

    .carruselcarruselRegalosU {
        position: relative;
        margin-left: -50vw;
        margin-top: 0;
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
        width: 100vw;
        left: 50%;
    }

    @media screen and (min-width: 320px) {
    .banner-single.portaditaslifestyle .content {
        width: 53%;
        padding: 0 0 0 1em;
    }
    .spiffscat img {
        margin-bottom: 10%;
        border-radius: 20px;
    }
        .carruselcarruselRegalosU h4.tag-other-products {
            font-size: 1.3em;
        }

        .brandCarrusel h2.herramientasCategoria__titulo {
            font-size: 1.3em !important;
        }

        .bannerhead h1 {
            padding-top: 0em;
            padding-bottom: 0em;
        }

        .bannerhead .head-text {
            color: #363636;
        }

        .desktop {
            display: none;
        }

        .fullcontent-bebe p {
            font-size: 0.7em;
        }

        .categories-bebe .col-md-2 {
            margin: 0 0 5%;
            padding: 0 2% 1% 2%;
        }

        .herramientasCategoria .secundario img {
            width: 100%;
        }

        img.img-las-mejores-marcas {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }


        .row.fullcontent-bebe {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .head-text {
            margin-top: -32%;
            margin-bottom: 58px;
        }

        .display-1.font-weight-bold {
            font-size: 0.46em;
        }

        .bannerhead h2 {
            font-size: 0.65em;
        }

        h2.text-center.herramientasCategoria__titulo {
            padding-bottom: 7%;
            font-size: 1.3em;
        }

        .herramientasCategoria img {
            padding: 0px 5px 10% 5px;
        }

        .carruseldemarcas .swiper-button-next {
            display: none;
        }

        .carruseldemarcas .swiper-button-prev {
            display: none;
        }

        .carruseldemarcas {
            margin-bottom: 10%;
        }
        .contnt-gray-spiff-carrusel.tercero {
            background-color: #F4FFFD;
        }
    }

    @media screen and (min-width: 360px) {
        .banner-single.portaditaslifestyle .content {
            padding: 0 0 0 0.7em;
        }
        .carruselcarruselRegalosU h4.tag-other-products {
            font-size: 1.5em;
        }

        .fullcontent-bebe p {
            font-size: 0.8em;
        }

        .brandCarrusel h2.herramientasCategoria__titulo {
            font-size: 1.5em !important;
        }

        .display-1.font-weight-bold {
            font-size: 0.55em;
        }

        .bannerhead h2 {
            font-size: 0.7em;
        }

        h2.text-center.herramientasCategoria__titulo {
            padding-bottom: 7%;
            font-size: 1.5em;
        }
    }
    @media screen and (min-width: 375px) {
        .banner-single.portaditaslifestyle .content {
            padding: 0 0 0 0.9em;
        }
    }
    @media screen and (min-width: 410px) {
        .head-text {
            margin-top: -31%;

        }

        .bannerhead h2 {
            font-size: 0.8em;
        }

        .display-1.font-weight-bold {
            font-size: 0.65em;
        }
        .banner-item_text {
    font-size: 1em;
    text-align: center;
}
    }


    @media screen and (min-width: 414px) {
        .banner-single.portaditaslifestyle .content {
            padding: 0 0 0 1.25em;
        }
        .carruselcarruselRegalosU h4.tag-other-products {
            font-size: 1.7em;
        }

        .brandCarrusel h2.herramientasCategoria__titulo {
            font-size: 1.7em !important;
        }

        .fullcontent-bebe p {
            font-size: 0.9em;
        }

        h2.text-center.herramientasCategoria__titulo {
            font-size: 1.7em;
        }
    }

    @media screen and (min-width: 480px) {
        .banner-single.portaditaslifestyle .content {
            padding: 0 0 0 1.5em;
        }
        .banner-item_text {
            font-size: 1.25em;
        }

        .head-text {
            margin-top: -27%;
        }

        .display-1.font-weight-bold {
            font-size: 0.75em;
        }

        .bannerhead h2 {
            font-size: 0.9em;
        }
    }


    @media screen and (min-width: 768px) {

        .contnt-gray-spiff-carrusel {
            margin-left: 0px;
            margin-right: 0px;
        }
        #productsLifeStyleSlider01 .prateleira.vitrine{
            padding-top: 1.5%;
        }
        .herramientasCategoria .secundario img {
            width: 100%;
        }

        .carruselcarruselRegalosU h4.tag-other-products {
            font-size: 1.5em;
        }

        .brandCarrusel h2.herramientasCategoria__titulo {
            font-size: 1.5em !important;
        }

        .bannerhead h2 {
            font-size: 0.8em;
        }

        .view-more-txt-ft {
            font-size: 0.85rem !important;
            font-weight: 400 !important;
        }

        .banner-item_text {
            font-size: 1em;
        }

        .categories-bebe img {
            width: 100%;
        }

        .fullcontent-bebe p {
            font-size: 0.6em;
        }

        .carruseldemarcas .swiper-button-next {
            right: 0%;
            left: auto;
            top: 28%;
            display: block;
        }

        .carruseldemarcas .swiper-button-prev {
            top: 28%;
            left: 0%;
            right: auto;
            display: block;
        }

        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }

        h2.text-center.herramientasCategoria__titulo {
            padding-bottom: 3%;
            font-size: 1.5em;
        }

        .row.fullcontent-bebe {
            display: flex;
            flex-wrap: nowrap;
        }
        .re-cien.bannerhead{
            position: relative;
        }
        .bannerhead .head-text {
            position: absolute;
            color: #363636;
            margin-top: 0 !important;
            margin-left: 0 !important;
            margin-bottom: 0 !important;
            top: 0;
            left: 1em;
        }

        .bannerhead h1 {
            font-size: 3.4em;
            padding-bottom: 0%;
            padding-top: 0.1em;
        }

        .bannerhead .display-1.font-weight-bold {
            font-size: 0.43em;
        }

        .row.fullcontent-bebe.secundario {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .herramientasCategoria .banner-triple.catherramientasnew {
            position: relative;
            margin: 0;
            overflow: hidden;
        }

        .carruseldemarcas {
            margin-bottom: 4%;
        }

        .categories-bebe .col-md-2 {
            margin: 0 0 2%;
            padding: 0 1% 1% 1%;
        }
        .bannermiddle .content {
    width: 37%;
}
.contnt-gray-spiff-carrusel .content-spiff, .banner-nuestros-top-deptos .content-spiff, .herramientas .content-spiff, .spiff__after-slider .content-spiffs {
    background: #eeeeee;
    border-radius: 15px;
}
    }
    @media screen and (min-width: 830px){
        .bannerhead h1{
            padding-top: 2%;
        }
        .bannerhead .display-1.font-weight-bold {
            font-size: 0.5em;
        }
        .bannerhead h2 {
            font-size: 0.9em;
        }
    }
    @media screen and (min-width: 930px){
        .bannerhead .display-1.font-weight-bold {
            font-size: 0.56em;
        }
        .bannerhead h2 {
            font-size: 1em;
        }
    }
    @media screen and (min-width: 1024px) {
        .carruselcarruselRegalosU h4.tag-other-products {
            font-size: 1.813em;
        }

        .brandCarrusel h2.herramientasCategoria__titulo {
            font-size: 1.813em !important;
        }

        .banner-item_text {
            font-size: 1.118em;
        }


        .bannerhead .display-1.font-weight-bold {
            font-size: 0.60em;
        }

        .bannerhead h2 {
            font-size: 1em !important;
        }

        h2.text-center.herramientasCategoria__titulo {
            padding-bottom: 3%;
            font-size: 1.813em;
        }

        .carruseldemarcas .swiper-button-next {
            top: 29%;
            right: 2%;
        }

        .carruseldemarcas .swiper-button-prev {
            top: 29%;
            left: 2%;
        }

        .fullcontent-bebe p {
            font-size: 0.65em;
        }
    }
    @media screen and (min-width: 1200px){
        .banner-single.portaditaslifestyle .content {
            padding: 0 0 0 2em;
        }
    }
    @media screen and (min-width: 1280px) {
        .banner-item_text {
            font-size: 1.3em;
        }

        .bannerhead .display-1.font-weight-bold {
            font-size: 0.8em;
        }

        .bannerhead h2 {
            font-size: 1.25em !important;
        }

        .fullcontent-bebe p {
            font-size: 0.86em;
        }

        .carruseldemarcas .swiper-button-next {
            top: 29%;
            right: 3%;
        }

        .carruseldemarcas .swiper-button-prev {
            top: 29%;
            left: 3%;
        }

        .bannermiddle h3.banner-item_text {
    font-size: 1.7em;
}
    }

    @media screen and (min-width: 1440px) {
        .bannerhead h1{
            padding-top: 3%;
        }
        .view-more-txt-ft {
            font-size: 0.95rem !important;
            font-weight: 400 !important;
        }

        .bannerhead .display-1.font-weight-bold {
            font-size: 0.9em;
        }

        .bannerhead h2 {
            font-size: 1.45em !important;
        }

        .fullcontent-bebe p {
            font-size: 0.98em;
        }

        .banner-item_text {
            font-size: 1.4em;
        }
        .bannermiddle h3.banner-item_text {
    font-size: 1.9em;
}
    }

    @media screen and (min-width: 1920px) {
        .banner-single.portaditaslifestyle .content {
            padding: 0 0 0 2.25em;
        }
        .carruselRegalosU h4.tag-other-products {
            font-size: 2em;
        }

        .brandCarrusel h2.herramientasCategoria__titulo {
            font-size: 2em !important;
        }

        .head-text {
            color: #ffffff;
            margin-top: -15%;
            margin-left: 5%;
        }

        .bannerhead h1 {
            font-size: 3.4em;
            padding-bottom: 0%;
        }

        .bannerhead h2 {
            font-size: 1.5em !important;
        }

        .bannerhead .display-1.font-weight-bold {
            font-size: 1em;
        }

        h2.text-center.herramientasCategoria__titulo {
            font-size: 2em;
        }

        .fullcontent-bebe p {
            font-size: 1em;
        }

        .carruseldemarcas .swiper-button-next {
            top: 32%;
            right: 10%;
        }

        .carruseldemarcas .swiper-button-prev {
            top: 32%;
            left: 10%;
        }
    }
</style>