
<!--duplex categorías-->

<div class=" row banner_container herramientas text-center mt-4 mb-2 mb-md-3 ms-md-1">
    <!--<h2 class="text-center herramientasCategoria__titulo">Tiempo de impermeabilizar</h2>-->
    <div class="col-6 col-md-6 mb-4 pe-1 ps-md-0 pe-md-3 banner_item">
        <div class="content-spiff overflow-hidden">
            <a href="/c-certificados-de-regalo">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_certificados_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_certificados_desk.png" alt="Certificados de regalo">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Certificados de regalo</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-6 col-md-6 mb-4 ps-1 ps-md-2 pe-md-2 banner_item">
        <div class="content-spiff overflow-hidden">
            <a href="/1059?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_chocolates_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_chocolates_desk.png" alt="Dulces y chocolates">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Dulces y chocolates</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!--duplex categorías-->

<!-- Banner middle -->
<div class="banner-single mt-3 mt-lg-4 mb-3 bannermiddle">
    <picture>
        <source srcset="/arquivos/2022mar_bannermiddle_guiaderegalos_mob.png" media="(max-width: 767px)">
        <img src="/arquivos/2022mar_bannermiddle_guiaderegalos_desk.png" alt="Empaque de regalo gratis">
    </picture>
    <div class="content">
        <h3 class="banner-item_text">
        Empacamos <br>tu regalo gratis
        </h3>
    </div>
</div>
<!-- end Banner middle  -->

<!--Div de categoria-->
<div class="herramientasCategoria mt-3 mb-3">
    <h2 class="text-center herramientasCategoria__titulo">¿Buscas para otra ocasión?</h2>
    <div class="row categories-bebe fullcontent-bebe secundario text-center">

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/1789?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_cat_guiasderegalo_bodas.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_cat_guiasderegalo_bodas.png" alt="Bodas" />
                </picture>
                <p>Bodas</p>
            </a>
        </div>
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/1790?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_cat_guiaderegalos_tes.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_cat_guiaderegalos_tes.png" alt="Té" />
                </picture>
                <p>Tés</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/1791?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_cat_guiaderegalos_babyshower.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_cat_guiaderegalos_babyshower.png" alt="Baby Shower" />
                </picture>
                <p>Baby Shower</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/celebracion">
                <picture>
                    <source srcset="/arquivos/2022mar_cat_guiaderegalos_pinatas.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_cat_guiaderegalos_pinatas.png" alt="Piñatas" />
                </picture>
                <p>Piñatas</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/1792?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_cat_guiaderegalos_mudanza.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_cat_guiaderegalos_mudanza.png" alt="nueva mudanza" />
                </picture>
                <p>Nueva mudanza</p>
            </a>
        </div>
    </div>
</div>

<!-- Termina div de cateogrias -->




<!--spiffs categorias-->
<div class="spiffscat mb-3">
    <h2 class="text-center herramientasCategoria__titulo">¿Para quién estás <br class="d-block d-md-none">buscando?</h2>
    <div class="row categories-bebe fullcontent-bebe secundario text-center">

        <div class="col-md-3 text-center col-xs-6 col-6 pe-1 pb-4 px-md-2">
            <a href="/1742?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_el_mob.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_el_desk.png" alt="Regalos para caballero" />
                </picture>
                <p>Para él</p>
            </a>
        </div>
        <div class="col-md-3 text-center col-xs-6 col-6 ps-1 pb-4 px-md-2">
            <a href="/1741?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_ella_mob.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_ella_desk.png" alt="Regalos para dama" />
                </picture>
                <p>Para ella</p>
            </a>
        </div>

        <div class="col-md-3 text-center col-xs-6 col-6 pe-1 pb-4 px-md-2">
            <a href="/1748?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_ninos_mob.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_ninos_desk.png" alt="Regalos para niños y niñas" />
                </picture>
                <p>Niños y niñas</p>
            </a>
        </div>

        <div class="col-md-3 text-center col-xs-6 col-6 ps-1 pb-4 px-md-2">
            <a href="/1793?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_bebes_mob.png" media="(max-width: 762px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_bebes_desk.png" alt="Regalos para bebé" />
                </picture>
                <p>Bebés</p>
            </a>
        </div>
    </div>
</div>

<!-- Termina spiffs categorias -->




<!--duplex categorías-->

<div class=" row banner_container herramientas text-center mt-4 mb-3 mb-md-5">
    <!--<h2 class="text-center herramientasCategoria__titulo">Tiempo de impermeabilizar</h2>-->
    <div class="col-12 mb-4 banner_item">
        <div class="content-spiff overflow-hidden">
            <a href="https://www.cemaco.com/_secure/mesa-de-regalos/boda/crea">
                <picture>
                    <source srcset="/arquivos/2022mar_spiff_guiaderegalos_registro_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022mar_spiff_guiaderegalos_registro_desk.png" alt="Registro de eventos">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Registra tu evento</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
</div>
<!--duplex categorías-->

<!--carrusel datatrics-->
<div class="carruselRegalosU"></div>
<!--carrusel datatrics-->

<!--Content1-guias de regalos-->