<!--Div de categoria-->
<div class="herramientasCategoria mt-4 mt-md-5 mb-5 mb-md-4">
    <h2 class="text-center herramientasCategoria__titulo">Busca por categoría</h2>
    <div class="categories-bebe fullcontent-bebe secundario text-center d-block d-md-none">
        <div class="row pb-3">
            <div class="text-center col-4">
                <a href="/c-electrodomesticos-y-linea-blanca">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_electrodomesticos.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_electrodomesticos.png" alt="Electrodomésticos" />
                    </picture>
                    <p>Electrodomésticos</p>
                </a>
            </div>
            <div class="text-center col-4">
                <a href="/c-cuidado-personal-y-bienestar">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_saludybelleza.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_saludybelleza.png" alt="Salud y belleza" />
                    </picture>
                    <p>Salud y belleza</p>
                </a>
            </div>
            <div class="text-center col-4">
                <a href="/c-cocina-y-mesa">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_cocinaymesa.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_cocinaymesa.png" alt="Cocina y mesa" />
                    </picture>
                    <p>Cocina y mesa</p>
                </a>
            </div>
        </div>
        <div class="row pb-3">
            <div class="text-center col-4">
                <a href="/tecnologia/audio-y-sonido/auriculares">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_audifonos.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_audifonos.png" alt="Audífonos" />
                    </picture>
                    <p>Audífonos</p>
                </a>
            </div>
            <div class="text-center col-4">
                <a href="/ejercitateencasa">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_ejercicio.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_ejercicio.png" alt="Ejercicio" />
                    </picture>
                    <p>Ejercicio</p>
                </a>
            </div>
            <div class="text-center col-4">
                <a href="/c-decoración">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-decoracion.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-decoracion.png" alt="Decoracion" />
                    </picture>
                    <p>Decoración</p>
                </a>
            </div>
        </div>
        <div class="row pb-3">
            <div class="text-center col-4">
                <a href="/c-dormitorio">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-dormitorio.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-dormitorio.png" alt="Dormitorio" />
                    </picture>
                    <p>Dormitorio</p>
                </a>
            </div>
            <div class="text-center col-4">
                <a href="/banos/batas-pantuflas-y-sandalias/batas?O=OrderByReleaseDateDESC">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-vestuarioAccesorios.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-vestuarioAccesorios.png" alt="Vestuario" />
                    </picture>
                    <p>Vestuario y accesorios</p>
                </a>
            </div>
            <div class="text-center col-4">
                <a href="/1694?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-nuevaMama.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-nuevaMama.png" alt="Ejercicio" />
                    </picture>
                    <p>Para la nueva mamá</p>
                </a>
            </div>
        </div>
    </div>
    <div class="categories-bebe fullcontent-bebe secundario text-center d-none d-md-block">
        <div class="row d-flex justify-content-center">
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/c-electrodomesticos-y-linea-blanca">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_electrodomesticos.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_electrodomesticos.png" alt="Electrodomésticos" />
                    </picture>
                    <p>Electrodomésticos</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/c-cuidado-personal-y-bienestar">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_saludybelleza.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_saludybelleza.png" alt="Salud y belleza" />
                    </picture>
                    <p>Salud y belleza</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/c-cocina-y-mesa">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_cocinaymesa.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_cocinaymesa.png" alt="Cocina y mesa" />
                    </picture>
                    <p>Cocina y mesa</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/tecnologia/audio-y-sonido/auriculares">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_audifonos.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_audifonos.png" alt="Audífonos" />
                    </picture>
                    <p>Audífonos</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/ejercitateencasa">
                    <picture>
                        <source srcset="/arquivos/2022mar_cat_guiaderegalos_ejercicio.png" media="(max-width: 762px)">
                        <img src="/arquivos/2022mar_cat_guiaderegalos_ejercicio.png" alt="Ejercicio" />
                    </picture>
                    <p>Ejercicio</p>
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/c-decoración">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-decoracion.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-decoracion.png" alt="Decoracion" />
                    </picture>
                    <p>Decoración</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/c-dormitorio">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-dormitorio.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-dormitorio.png" alt="Dormitorio" />
                    </picture>
                    <p>Dormitorio</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/banos/batas-pantuflas-y-sandalias/batas?O=OrderByReleaseDateDESC">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-vestuarioAccesorios.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-vestuarioAccesorios.png" alt="Vestuario" />
                    </picture>
                    <p>Vestuario y accesorios</p>
                </a>
            </div>
            <div class="col-md-2 text-center px-md-3 px-lg-4">
                <a href="/1694?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/guia-categoria-nuevaMama.png" media="(max-width: 762px)">
                        <img src="/arquivos/guia-categoria-nuevaMama.png" alt="Ejercicio" />
                    </picture>
                    <p>Para la nueva mamá</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Termina div de cateogrias -->


<!-- Carrusel Ideas de regalo clase desktop-nofullwidth para abarcar toda la pantalla -->
<div class="contnt-gray-spiff-carrusel tercero mt-3 ">
    <div class="banner_container px-3 pt-2 mt-3 mb-3 padding-rl-content-spiff">

            <div class="banner-single mt-2 mb-2 portaditaslifestyle">
                <a href="/1828?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/guia-hero-ideasRegalo_mobile.png" media="(max-width: 767px)" />
                    <!-- Desktop Optimization -->
                    <source srcset="/arquivos/guia-hero-ideasRegalo_desktop.min.jpg" media="(min-width: 768px)" type="image/webp">
                    <!-- Desktop  -->
                    <img src="/arquivos/guia-hero-ideasRegalo_desktop.png" alt="Limpieza de cocina" />
                </picture>
                <div class="content">
                    <h5 class="pb-1 pt-md-0 text-start">Organiza y limpia <br>tu cocina</h5>
                    <span class="vermas fw-normal d-md-block text-start">Ver todo</span>
                </div>
                </a>
            </div>
        </div>
        <!-- Ideas de regalo-->