</div>
<!-- CEMACO CSS -->
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_ale.css" />
<link rel="stylesheet" href="/arquivos/main.home.test.min.css?v=v=20211108-1412" />

<div class="re-central">

     <!--empieza Portada una imagen-->
    <div class="row mb-4 padding-banner-main">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <a href="/1089?map=productClusterIds">
                <div class="mainimage mainimage-bb" title="Ofertas bebés">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022mar_bebe_jugueton_verano_banner_v2_mob.png" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <img src="/arquivos/2022mar_bebe_jugueton_verano_banner_v2_desk.png" alt="Verano" />
                    </picture>
                    <button class="button-flat secondary">COMPRA AQUÍ</button>
                </div>
            </a>
        </div>
    </div>
    <!--termina Portada una imagen-->
    
    

    <!--Empiezan 4 spiffs-->
    <div class="row bebe-spiffs pad-four-spiffs">
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center  bebe-spiffs_item mb-bebe-spiffs-main-1">
            <div class="spiff-radius">
                <a href="/1089?map=productClusterIds">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022_bebejugueton_verano_spiff_disfrutaverano_mobile.png" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <img src="/arquivos/2022_bebejugueton_verano_spiff_disfrutaverano_desk.png" alt="Verano" />
                    </picture>
                    <h4 class="pb-1">Disfruta el verano</h4>
                    <u class="fw-bold spiffs-vermas spiffs-vermas-superiores">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center bebe-spiffs_item mb-bebe-spiffs-main-1">
            <div class="spiff-radius">
                <a href="/1770?map=productClusterIds">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022_bebejugueton_verano_spiff_trajesdebanio_mobile.png" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <img src="/arquivos/2022_bebejugueton_verano_spiff_trajesdebanio_desk.png" alt="Trajes de baño" />
                    </picture>
                    <h4 class="pb-1">Trajes de baño</h4>
                    <u class="fw-bold spiffs-vermas spiffs-vermas-superiores">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center bebe-spiffs_item mb-bebe-spiffs-main-2">
            <div class="spiff-radius">
                <a href="/s/bebes#transporte">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022_bebejugueton_verano_spiff_transporte_mobile.png" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <img src="/arquivos/2022_bebejugueton_verano_spiff_transporte_desk.png" alt="Transporte" />
                    </picture>
                    <h4 class="pb-1">Transporte</h4>
                    <u class="fw-bold spiffs-vermas">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center bebe-spiffs_item mb-bebe-spiffs-main-2">
            <div class="spiff-radius">
                <a href="/s/bebes#actividad">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022_bebejugueton_verano_spiff_actividades_v2_mob.png" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <img src="/arquivos/2022_bebejugueton_verano_spiff_actividades_v2_desk.png" alt="Actividades" />
                    </picture>
                    <h4 class="pb-1">Actividades</h4>
                    <u class="fw-bold spiffs-vermas">Ver más</u>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <!--Termina 4 spiffs-->


    <!--Empieza seccion compra por edad-->
    <div class="re-central compraedad">
        <h3 class="text-center">Compra por edad</h3>
        <div class="content-compraedad">
            <div class="content-item">
                <a href="/1123?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2022feb_compra_por_edad_0_2_meses_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022feb_compra_por_edad_0_2_meses_desk.png" alt="0-2 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1125?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2022feb_compra_por_edad_3_5_meses_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022feb_compra_por_edad_3_5_meses_desk.png" alt="3-5 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1127?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2022feb_compra_por_edad_6_8_meses_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022feb_compra_por_edad_6_8_meses_desk.png" alt="6-8 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1128?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2022feb_compra_por_edad_9_11_meses_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022feb_compra_por_edad_9_11_meses_desk.png" alt="9-11 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1134?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2022feb_compra_por_edad_12_13_meses_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022feb_compra_por_edad_12_13_meses_desk.png" alt="12-13 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1135?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2022feb_compra_por_edad_14_meses_mob.png" media="(max-width: 767px)">
                        <img src="/arquivos/2022feb_compra_por_edad_14_meses_desk.png" alt="14 meses">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    <!--Termina seccion compra por edad-->


    <!--Empieza banner cuidado personal y bienestar-->
    <div class="row fiesta topregalos">
        <a href="/s/bebes#cuidado">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="spiff-radius">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2022_jugueton_banner_cuidadopersonal_mobile.png" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <img src="/arquivos/2022_jugueton_banner_cuidadopersonal_desk.png" alt="Cuidado personal" />
                    </picture>
                    <div class="text-center linear-cuidado">
                        <h3 class="txt-cuidado-personal">Cuidado personal y bienestar</h3>
                        <a href="/s/bebes#cuidado" class="cuidado-personal-ver-mas"><u>Ver más</u></a>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!--Termina banner cuidado personal y bienestar-->

    <!--Empieza banner fiesta de grandes descuentos-->
    <!--
    <div class="row fiesta topregalos">
            <a href="/1069?map=productClusterIds">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="spiff-radius">
                        <picture>
                 
                            <source srcset="/arquivos/2022_bebejugueton_verano_banner_fiestadescuentos_mobile.png" media="(max-width: 767px)" />
                      
                            <img src="/arquivos/2022_bebejugueton_verano_banner_fiestadescuentos_desk.png" alt="Descuentos" />
                        </picture>
                        <div class="text-center linear-cuidado">
                            <h3 class="txt-cuidado-personal">Fiesta de grandes descuentos</h3>
                            <a href="/1069?map=productClusterIds"><u>Ver más</u></a>
                        </div>
                    </div>
                </div>
            </a>
    </div>
    -->
    <!--Termina banner fiesta de grandes descuentos-->