</div>
<!-- CEMACO CSS -->
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_ale.css" />
<link rel="stylesheet" href="/arquivos/main.home.test.min.css?v=v=20211108-1412" />

<div class="re-central">

    <!--Portada una imagen-->
    <!-- <div class="row bannerprincipal">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4 mt-md-0">
            <a href="/1680?map=productClusterIds">
                <div class="mainimage-bb" title="de todo para consentir a tu bebé">
                    <button class="button-flat secondary">Compra aquí</button>
                </div>
            </a>

        </div>
    </div> -->
    <div class="row mb-4">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <a href="/1702?map=productClusterIds">
                <div class="mainimage mainimage-bb" title="de todo para consentir a tu bebé">
                    <picture>
                        <!-- Mobile -->
                        <source srcset="/arquivos/2021_sliderHomeBebe_regreso-a-clases_mob.jpg" type="image/webp" media="(max-width: 767px)" />
                        <!-- Desktop -->
                        <source srcset="/arquivos/2021_sliderHomeBebe_regreso-a-clases_desk.jpg" type="image/webp"  media="(min-width: 768px)" /> 
                        <img src="/arquivos/2021_sliderHomeBebe_regreso-a-clases_desk.jpg" alt="Home Banner bebe holidays" />
                    </picture>
                    <button class="button-flat secondary">Compra aquí</button>
                </div>
            </a>
        </div>
    </div>
    <!--Portada una imagen-->

    <!--Empiezan 4 spiffs-->
    <div class="row bebe-spiffs">
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center  bebe-spiffs_item">
            <a href="/juguetes/pre-escolar/juguetes-educativos?filter_indicator=2002161">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_bebe_jugueton_spiff4.jpg" type="image/webp">
                    <img src="/arquivos/2021_cemaco_bebe_jugueton_spiff4.jpg" alt="Melissa & Doug">
                </picture>
                <h4 class="pb-1">Melissa & Doug</h4>
                <u class="fw-bold spiffs-vermas">Ver más</u>
                </p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center  bebe-spiffs_item">
            <a href="/bebes/estimulacion-temprana/gimnasios-y-playmats">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_bebe_jugueton_spiff1.jpg" type="image/webp">
                    <img src="/arquivos/2021_cemaco_bebe_jugueton_spiff1.jpg" alt="Gimnasios">
                </picture>
                <h4 class="pb-1">Gimnasios</h4>
                <u class="fw-bold spiffs-vermas">Ver más</u>
                </p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center  bebe-spiffs_item">
            <a href="/bebes/estimulacion-temprana/educacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_bebe_jugueton_spiff3.jpg" type="image/webp">
                    <img src="/arquivos/2021_cemaco_bebe_jugueton_spiff3.jpg" alt="Educación">
                </picture>
                <h4 class="pb-1">Educación</h4>
                <u class="fw-bold spiffs-vermas">Ver más</u>
                </p>
            </a>
        </div>
        <div class="col-xs-6 col-md-3 col-sm-6 col-lg-3 text-center  bebe-spiffs_item">
            <a href="/segundonivel/juguetes#preescolar">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_bebe_jugueton_spiff2.jpg" type="image/webp">
                    <img src="/arquivos/2021_cemaco_bebe_jugueton_spiff2.jpg" alt="Pre-escolar">
                </picture>
                <h4 class="pb-1">Pre-escolar</h4>
                <u class="fw-bold spiffs-vermas">Ver más</u>
                </p>
            </a>
        </div>
    </div>
    

    <!--Termina 4 spiffs-->


    <!--Empieza seccion compra por edad-->
    <div class="re-central compraedad">
        <h3 class="text-center">Compra por edad</h3>
        <div class="content-compraedad">
            <div class="content-item">
                <a href="/1123?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2021_bebejugueton_home01nov_compraedad_0-2meses_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2021_bebejugueton_home01nov_compraedad_0-2meses_desk.png" alt="0 a 24 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1125?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2021_bebejugueton_home01nov_compraedad_3-5meses_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2021_bebejugueton_home01nov_compraedad_3-5meses_desk.png" alt="0 a 24 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1127?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2021_bebejugueton_home01nov_compraedad_6-8meses_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2021_bebejugueton_home01nov_compraedad_6-8meses_desk.png" alt="0 a 24 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1128?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2021_bebejugueton_home01nov_compraedad_9-11meses_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2021_bebejugueton_home01nov_compraedad_9-11meses_desk.png" alt="0 a 24 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1134?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2021_bebejugueton_home01nov_compraedad_12-13meses_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2021_bebejugueton_home01nov_compraedad_12-13meses_desk.png" alt="0 a 24 meses">
                    </picture>
                </a>
            </div>
            <div class="content-item">
                <a href="/1135?map=productClusterIds">
                    <picture>
                        <source srcset="/arquivos/2021_bebejugueton_home01nov_compraedad_14meses_mobile.png" media="(max-width: 767px)">
                        <img src="/arquivos/2021_bebejugueton_home01nov_compraedad_14meses_desk.png" alt="0 a 24 meses">
                    </picture>
                </a>
            </div>
        </div>
    </div>
    <!--Termina seccion compra por edad-->

<!--Empieza banner lista de deseos-->

<!-- <div class="row fiesta topregalos">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <a href="/1619?map=productClusterIds">
            <div class="bannerfiesta topregalos" title="">
                <button class="button-flat fiestadisfraces topregalos">Conoce más aquí</button>
            </div>
        </a>
    </div>
</div> -->

<!--Termina banner lista de deseos-->


    <!--Empiezan 4 spiffs-->

<!-- 
<div class="row spiff-four-blocks fullcontent-bebe">
    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 text-center">
        <a href="/segundonivel/bebe#alimentacion">
            <img src="/arquivos/2021_SpiffHomeDisfraces_1.png" alt="alimentación del bebé" />
            <div class="logos"><img src="{{media url="wysiwyg/2021/homepages/feb/1bebe/loguito_skiphop.jpg"}}" alt="" /></div> 
            <h3>Alimentación</h3>
            <content>Biberones, platos, <br class="mobile"> vasos <br class="desktop">entrenadores y <br
                    class="mobile">accesorios.</content> ->
            <span>Ver más<span>
        </a>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 text-center">
        <a href="/segundonivel/bebe#dormitorio">
            <img src="/arquivos/2021_SpiffHomeDisfraces_2.png" alt="dormitorio del bebé" />
            <div class="logos"><img src="{{media url="wysiwyg/2021/homepages/feb/1bebe/loguito_oxo.jpg"}}" alt="" /></div>
            <h3>Dormitorio</h3>
            <content>Cunas, colchones,<br class="mobile"> edredones <br class="mobile"><br class="desktop">
                y complementos.</content> ->
            <span>Ver más<span>
        </a>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 text-center">
        <a href="/segundonivel/bebe#actividad">
            <img src="/arquivos/2021_SpiffHomeDisfraces_3.png" alt="actividades bebé" />
            <div class="logos"><img src="{{media url="wysiwyg/2021/homepages/feb/1bebe/loguito_munchkin.jpg"}}" alt="" /></div>
            <h3>Actividades</h3>
            <content>Gimnasios, arañas, <br>columpios y más.</content> 
            <span>Ver más<span>
        </a>
    </div>
    <div class="col-xs-6 col-md-6 col-sm-6 col-lg-3 text-center">
        <a href="/segundonivel/bebe#ropa">
            <img src="/arquivos/2021_SpiffHomeDisfraces_4.png" alt="ropa de bebé" />
            <div class="logos"><img src="{{media url="wysiwyg/2021/homepages/feb/1bebe/loguito_greensprouts.jpg"}}" alt="" /></div>
            <h3>Ropa</h3>
            <content>Sets, pijamas, trajes<br>y accesorios.</content>
            <span class="span4">Ver más<span>
        </a>
    </div>
</div> -->

    <!--Terminan 4 spiffs-->