<script>
    var vwImportant = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
    if (vwImportant < 768) {
        var swiper = new Swiper('.importante-parati', {
            loop: true,
            slidesPerView: 1,
            slidesPerGroup: 1,
            spaceBetween: 10,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    }
</script>

<!-- Initialize Swiper -->
<script>
	/*const marcasswiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
	    spaceBetween: 5,
	    freeMode: true,
	    loop: true,
	    pagination: false,
	 
		breakpoints:{
		    320:{
		        slidesPerView: 3,
		        spaceBetween:5
		    },
		    480:{
		        slidesPerView: 3,
		        spaceBetween:5
		    },
		    640:{
		        slidesPerView: 6,
		        spaceBetween:5
		    },
		    1025:{
		        slidesPerView: 6,
		        spaceBetween:5
		    },
		}
	});*/

    
</script>