<!-- Carrusel MARCAS -Inicio- -->

<h2 class="text-center herramientasCategoria__titulo">Más de tus marcas favoritas</h2>
<div class="marcas-container">
<div class="prateleira vitrine brandCarrusel banosNewLanding">
    <ul class="brandCarrusel_container">
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/livimnaturalhome" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-livim.png" alt="Livim Natural Home" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/interdesign" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-idesing.png" alt="IDesign" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/1734?map=productClusterIds" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-viva.png" alt="viva" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/umbra" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-umbra.png" alt="Umbra" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>

        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/1736?map=productClusterIds" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-zenith.png" alt="Zenith" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/graccioza" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-graccioza.png" alt="Graccioza" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/graccioza" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-AmericanStandard.png" alt="Graccioza" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/graccioza" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-Foset.png" alt="Graccioza" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/graccioza" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-Corona.png" alt="Graccioza" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/graccioza" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-Moen.png" alt="Graccioza" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        <li class="brandCarrusel_item" >
            <div class="product-item__wrapper" data-height="siblings">
                <div class="product-item">
                    <figure class="product-item__figure">
                        <a href="/m/graccioza" class="product-item__main-image">
                            <img src="/arquivos/2022_c-banos_bannerMarcas-Fame.png" alt="Graccioza" style="cursor: pointer;">
                        </a>
                    </figure>
                </div>
            </div>
        </li>
        
        
    </ul>
</div>    
</div>    
<!-- Carrusel MARCAS -Final- -->