<!-- Empieza seccion lo más buscado -->
<div class="herramientasCategoria pt-3">
    <h2 class="text-center herramientasCategoria__titulo pt-md-4">Compra por categoría</h2>
    <div class="row categories-bebe fullcontent-bebe text-center">

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#toallas">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_toallas_y_alfombras_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_toallas_y_alfombras_banos_desk.png" alt="Toallas">
                </picture>
                <p>Toallas y <br class="mobile">alfombras</p>
            </a>
        </div>
        
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#organizacion">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_organizacion_y_accesorios_de_bano_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_organizacion_y_accesorios_de_bano_banos_desk.png" alt="Organización de baño">
                </picture>
                <p>Organización y <br class="mobile">accesorios de baño</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#cortinas">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_cortinas_y_accesorios_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_cortinas_y_accesorios_banos_desk.png" alt="Cortinas de baño">
                </picture>
                <p>Cortinas y <br>accesorios</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#muebles">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_muebles_y_espejos_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_muebles_y_espejos_banos_desk.png" alt="muebles de baños">
                </picture>
                <p>Muebles y <br class="mobile">espejos</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#sanitarios">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_sanitarios_lavamanos_y_griferia_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_sanitarios_lavamanos_y_griferia_banos_desk.png" alt="Sanitarios">
                </picture>
                <p>Sanitarios, <br class="mobile">lavamanos <br class="desktop">y <br class="mobile">grifería</p>
            </a>
        </div>
        
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#calentadores">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_calentadores_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_calentadores_banos_desk.png" alt="Calentadores">
                </picture>
                <p>Calentadores</p>
            </a>
        </div>
        
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#batas">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_batas_pantuflas_y_sandalias_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_batas_pantuflas_y_sandalias_banos_desk.png" alt="batas">
                </picture>
                <p>Batas, pantuflas <br class="mobile">y sandalias</p>
            </a>
        </div>
        
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#ninos">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_ninos_y_bebes_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_ninos_y_bebes_banos_desk.png" alt="niños">
                </picture>
                <p>Niños y bebés</p>
            </a>
        </div>
        
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#accesorios">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_accesorios_para_seguridad_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_accesorios_para_seguridad_banos_desk.png" alt="Accesorios de seguridad">
                </picture>
                <p>Accesorios <br class="mobile">para <br class="desktop">seguridad</p>
            </a>
        </div>
       
    </div>
</div>
<!-- Termina seccion lo más buscado -->




<!--Empieza spiff dobles categorías-->
<div class="row banner_container herramientas text-center mt-lg-5 mb-4 mx-lg-1 content-doublespiff">

    <div class="col-6 col-md-6 mb-6 ps-md-0 pe-md-3 banner_item doublespiff">
        <div class="content-spiff overflow-hidden">
            <a href="/banos/toallas/toallas-de-bano">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerLavamanos-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerLavamanos-desktop.jpg" alt="Toallas de baño">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Toallas de baño</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-6 col-md-6 mb-6 ps-md-3 pe-md-0 banner_item doublespiff">
        <div class="content-spiff overflow-hidden">
            <a href="/hogar/cortinas-y-accesorios/cortinas?PS=12">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerGrifo-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerGrifo-desktop.jpg" alt="Cortinas">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Cortinas</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
</div>
<!--Termina spiff dobles categorías-->




<!-- Empieza seccion compra por categoría -->
<div class="herramientasCategoria pt-1 pb-2">
    <h2 class="text-center herramientasCategoria__titulo pt-md-4">Los más buscados</h2>
    <div class="row categories-bebe fullcontent-bebe text-center">

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/s/banos#organizacion">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_accesorios_de_bano_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_accesorios_de_bano_banos_desk.png" alt="Accesorios de baño">
                </picture>
                <p>Accesorios <br class="d-block d-md-none">de baño</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/plomeria/calentadores-de-agua/duchas-electricas-y-calentadores-de-inmersion">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_calentadores_de_punto_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_calentadores_de_punto_banos_desk.png" alt="Calentadores">
                </picture>
                <p>Calentadores <br class="d-block d-md-none">de punto</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/c-banos/organizacion-y-accesorios-de-bano/sets-de-accesorios">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_sets_de_accesorios_banos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_sets_de_accesorios_banos_desk.png" alt="Set de accesorios">
                </picture>
                <p>Sets de <br class="d-block d-md-none">Accesorios</p>
            </a>
        </div>

        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/c-banos/organizacion-y-accesorios-de-bano/porta-papel-higienico">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_porta_papel_higienico_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_porta_papel_higienico_desk.png" alt="porta papel">
                </picture>
                <p>Porta papel <br class="d-block d-md-none">higiénico</p>
            </a>
        </div>
        
        <div class="col-md-2 text-center col-xs-4 col-4 px-md-3 px-lg-4">
            <a href="/muebles/muebles-y-espejos-de-bano/espejos">
                <picture>
                    <source srcset="/arquivos/2022abr_circle_cat_espejos_mob.png" media="(max-width: 767px)">
                    <img src="/arquivos/2022abr_circle_cat_espejos_desk.png" alt="Espejos">
                </picture>
                <p>Espejos</p>
            </a>
        </div>
        
    </div>
</div>
<!-- Termina seccion compra por categoría -->



<!--triplets categorías-->
<div class="row banner_container herramientas text-center mt-0 mb-3 mx-lg-1">
    <h2 class="text-center herramientasCategoria__titulo">Remodela tu baño</h2>
    
    <div class="col-12 col-md-4 mb-4 ps-md-0 pe-md-3 banner_item">
        <div class="content-spiff overflow-hidden">
            <a href="/c-banos/sanitarios-lavamanos-y-griferia/griferia-y-accesorios">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerIluminacion-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerIluminacion-desktop.jpg" alt="Grifería">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Grifería y accesorios</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-12 col-md-4 mb-4 ps-md-2 pe-md-2 banner_item">
        <div class="content-spiff overflow-hidden">
            <a href="/s/plomeria#sanitarios">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerAcabados-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerAcabados-desktop.jpg" alt="Sanitarios, tinas y lavamanos">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Sanitarios, tinas y lavamanos</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-12 col-md-4 mb-4 ps-md-3 pe-md-0 banner_item">
        <div class="content-spiff overflow-hidden">
            <a href="/1738?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerLimpieza-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerLimpieza-desktop.jpg" alt="Limpieza">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Limpieza de baños</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
</div>
<!--triplets categorías-->