<!--Empieza spiff dobles categorías-->
<div class="row banner_container herramientas text-center mt-lg-5 mb-4 mx-lg-1 content-doublespiff">

    <div class="col-12 col-md-6 mb-6 ps-md-0 pe-md-3 banner_item doublespiff">
        <div class="content-spiff overflow-hidden">
            <a href="/c-plomeria/bombas-filtros-y-depositos-de-agua/bombas-de-agua">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerBombas-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerBombas-desktop.jpg" alt="Bombas de agua">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Bombas de agua</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
    <div class="col-12 col-md-6 mb-6 ps-md-3 pe-md-0 banner_item doublespiff">
        <div class="content-spiff overflow-hidden">
            <a href="/1942?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2022_c-banos_bannerRemodelacion-mobile.jpg" media="(max-width: 767px)">
                    <img src="/arquivos/2022_c-banos_bannerRemodelacion-desktop.jpg" alt="remodelación">
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pt-3 pt-md-2 mb-md-0">Ideas para tu remodelación</h3>
                    <span class="banner-item_vermas pb-3 view-more-txt-ft">Ver más</span>
                </div>
            </a>
        </div>
    </div>
    
</div>
<!--Termina spiff dobles categorías-->

<div class="banner-single mt-4 mt-lg-5 mb-4 mb-md-5 banner-portugal">
    <a href="/portugal">
        <picture>
            <source srcset="/arquivos/2022_c-banos_bannerPortugal-mobile.jpg" media="(max-width: 767px)">
            <img src="/arquivos/2022_c-banos_bannerPortugal-desktop.jpg" alt="Portugal" class="banner-portugal-img">
        </picture>
        <div class="content banner-portugal-content">
            <h3 class="banner-item_text d-block d-md-none">
                Productos inspirados <br/>en Portugal
            </h3>
            <span class="vermas fw-normal d-block d-md-none view-more-txt-ft "><u>Ver más</u></span>

            <h3 class="pb-1 pt-md-0 d-none d-md-block text-center">Productos inspirados en Portugal</h3>
            <span class="vermas fw-normal d-none d-md-block text-center view-more-txt-ft"><u>Ver más</u></span>
        </div>
    </a>
</div>