<!-- Nuestras marcas -INICIO- -->
<div class="re-central">
    <h2 class="tag-title--level-3 mb-md-3" id="departaments">Más de tus marcas favoritas</h2>
    <div class="row categories-bebe fullcontent-bebe">
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/1436?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas01.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas01.jpg" alt="logo Livim Natural Home" />
                </picture>
                <span class="text-nowrap">Livim Natural <br class="d-block d-md-none"/>Home</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/interdesign">
                <picture>
                    <source srcset="/arquivos/2021_marcas02.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas02.jpg" alt="Logo IDesign" />
                </picture>
                <span class="text-nowrap">InterDesign</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/1734?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas03.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas03.jpg" alt="Logo Viva" />
                </picture>
                <span>Viva</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/umbra">
                <picture>
                    <source srcset="/arquivos/2021_marcas04.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas04.jpg" alt="logo Umbra" />
                </picture>
                <span>Umbra</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/1736?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas05.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas05.jpg" alt="logo Zenith" />
                </picture>
                <span>Zenith</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte vertodos d-md-none">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catVerTodo_mobile-v2.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catVerTodo_desk.jpg" alt="Ver todos" />
            </picture>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2" >
            <a href="/graccioza">
                <picture>
                    <source srcset="/arquivos/2021_marcas06.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_marcas06.jpg" alt="Logo Graccioza">
                </picture>
                <span id="cat-electrodom-linea-blanca">Graccioza</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2">
            <a href="/FOSET">
                <picture>
                    <source srcset="/arquivos/2021_marcas07.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas07.jpg" alt="Logo Foset" />
                </picture>
                <span>Foset</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2">
            <a href="/1145?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas08.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_marcas08.jpg" alt="Logo American Standard">
                </picture>
                <span>American <br class="d-block d-md-none"/>Standard</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2">
            <a href="/1735?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas09.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_marcas09.jpg" alt="Logo Corona" />
                </picture>
                <span>Corona</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2">
            <a href="/1120?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas10.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_marcas10.jpg" alt="logo PFister" />
                </picture>
                <span>Pfister</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2">
            <a href="/1147?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas11.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas11.jpg" alt="logo Moen" />
                </picture>
                <span>Moen</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte d-md-block marcas2">
            <a href="/1733?map=productClusterIds">
                <picture>
                    <source srcset="/arquivos/2021_marcas12.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_marcas12.jpg" alt="Logo Fame" />
                </picture>
                <span>Fame</span>
            </a>
        </div>
    </div>
</div>

<div class="carruselPlomerialanU mobile-fullwidth"></div>

<!-- Tu felicidad, garantizada -->
<div id="nuestrapromesa">
    <h2 class="text-md-center tag-title--level-3 mt-2">Tu felicidad, garantizada</h2>
    <div class="banner-single txt-infront-image pointer" data-bs-toggle="modal" data-bs-target="#felicidadGarantizada">
        <picture>
            <!-- Mobile -->
            <!--source srcset="/arquivos/2021_banner_descuento-navidenos_mob.min.jpg" media="(max-width: 767px)" /-->
            <!-- wepb -> min.png -->
            <source srcset="/arquivos/2021_cemaco_home13oct_banner_promes_mobile.jpg" media="(max-width: 767px)" />
            <!-- Desktop -->
            <!--source srcset="/arquivos/2021_banner_descuento-navidenos_desk.min.jpg" /-->
            <!-- wepb -> min.png -->
            <img src="/arquivos/2021_cemaco_home13oct_banner_promes_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
        </picture>
        <div class="content text-white">
            <h3 class="m-0 fw-normal">Si no estás 100% satisfecho <br class="d-block d-md-none"> con tu compra, <br class="d-none d-md-block">contáctanos y <br class="d-block d-md-none"> lo resolveremos.
            </h3>
            <span class="vermas fw-normal">Ver más</span>
        </div>
    </div>
    </div>
    <!-- Te ofrecemos -INICIO- -->
    <div class="teofrecemos text-center mb-3">
    <!--<h2 class="text-center">Te ofrecemos</h2>-->
        <div class="row mt-md-4 px-3 px-md-0 align-items-start pt-3 pb-3">
            <div class="col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
                <section class="spiffs-item text-center">
                    <img src="/arquivos/2021_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
                    <p>Garantía total <br> y seguridad</p>
                    <span>Ver más</span>
                </section>
            </div>
            <div class="col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#entregaRapida">
                <section class="spiffs-item text-center">
                    <img src="/arquivos/2021_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
                    <p>Entrega <br class="d-block d-md-none"> rápida</p>
                    <span>Ver más</span>
                </section>
            </div>
            <div class="mt-3 py-3 mt-md-0 py-md-0 col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#retiraTienda">
                <section class="spiffs-item text-center">
                    <img src="/arquivos/2021_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
                    <p>Retira en <br> tienda y autoservicio</p>
                    <span>Ver más</span>
                </section>
            </div>
            <div class="mt-3 py-3 mt-md-0 py-md-0 col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#metodosPago">
                <section class="spiffs-item text-center">
                    <img src="/arquivos/2021_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="" class="mt-4 mt-md-0">
                    <p>Métodos de pago: <br> tarjetas, cuotas <br class="d-md-none">y depósitos</p>
                    <span>Ver más</span>
                </section>
            </div>
        </div>
    </div>