<!-- Content 02 -->

<!-- Large spiffs -->
<div class="row spiff__after-slider">

  <div class="banner-single mt-4 mb-2 mb-md-3 mt-md-3 col-md-6 p-0 px-md-2 position-relative">
    <a href="/segundonivel/plomeria#mueblesespejos">
      <picture>
        <!-- Mobile -->
        <source
          srcset="/arquivos/2022_especial-plomeria_banner1_mobil.jpg"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <!-- Desktop -->
        <source
          srcset="/arquivos/2022_especial-plomeria_banner1_desk.jpg"
          type="image/webp"
        />
        <!-- wepb -> min.png -->
        <img
          src="/arquivos/2022_especial-plomeria_banner1_desk.jpg"
          alt="Muebles y espejo de baño"
        />
      </picture>
      <div class="pt-md-3 container-banner_furnitures">
        <h4 class="pb-1 pt-md-0">Muebles y espejos<br class="d-block d-md-none"/> para baños</h4>
        <p><u class="vermas fw-bold d-block">Ver más</u></p>
      </div>
    </a>
  </div>

  <div class="banner-single mt-2 mb-3 mt-md-3 col-md-6 p-0 px-md-2 position-relative">
    <a href="/segundonivel/banos#calentadores">
      <picture>
        <!-- Mobile -->
        <source
          srcset="/arquivos/2022_especial-plomeria_banner2_mobil.jpg"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <!-- Desktop -->
        <source
          srcset="/arquivos/2022_especial-plomeria_banner2_desk.jpg"
          type="image/webp"
        />
        <img
          src="/arquivos/2022_especial-plomeria_banner2_desk.jpg"
          alt="Calentador de agua"
        />
      </picture>
      <div class=" pt-md-3 container-banner_furnitures">
        <h4 class="pb-1 pt-md-0">Calentadores</h4>
        <p><u class="vermas fw-bold d-block">Ver más</u></p>
      </div>
    </a>
  </div>
</div>
<!-- Large spiffs -->

<!-- Nuestros departamentos -INICIO- -->
<div class="re-central">
  <h2 class="tag-title--level-3 mb-md-3" id="departaments">
    Explora más categorías
  </h2>
  <div class="row categories-bebe fullcontent-bebe">
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
      <a href="/1739?map=productClusterIds">
        <picture>
          <source
            srcset="/arquivos/2022_especial-plomeria_categorias1.jpg"
            media="(max-width: 762px)"
          />
          <img src="/arquivos/2022_especial-plomeria_categorias1.jpg" alt="Iluminación de baño" />
        </picture>
        <p class="text-nowrap">Iluminación</>
      </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
      <a href="/1738?map=productClusterIds">
        <picture>
          <source
            srcset="/arquivos/2022_especial-plomeria_categorias2.jpg"
            media="(max-width: 762px)"
          />
          <img
            src="/arquivos/2022_especial-plomeria_categorias2.jpg"
            alt="Limpiadores de baño"
          />
        </picture>
        <p class="text-nowrap">Limpieza y </br class="d-block d-md-none">mantenimiento</>
      </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
      <a href="/segundonivel/banos#accesorios">
        <picture>
          <source
            srcset="/arquivos/2022_especial-plomeria_categorias3.jpg"
            media="(max-width: 762px)"
          />
          <img src="/arquivos/2022_especial-plomeria_categorias3.jpg" alt="Accesorios de seguridad de baños" />
        </picture>
        <p class="text-nowrap">Accesorios </br class="d-block d-md-none">de seguridad</p>
      </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
      <a href="/segundonivel/plomeria#bombasfiltros">
        <picture>
          <source
            srcset="/arquivos/2022_especial-plomeria_categorias4.jpg"
            media="(max-width: 762px)"
          />
          <img
            src="/arquivos/2022_especial-plomeria_categorias4.jpg"
            alt="bombas de agua"
          />
        </picture>
        <p class="text-nowrap">Bombas</p>
      </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
      <a href="/1740?map=productClusterIds">
        <picture>
          <source
            srcset="/arquivos/2022_especial-plomeria_categorias5.jpg"
            media="(max-width: 762px)"
          />
          <img
            src="/arquivos/2022_especial-plomeria_categorias5.jpg"
            alt="herramientas de plomería"
          />
        </picture>
        <p class="text-nowrap">Herramientas </br class="d-block">para plomería</p>
      </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
      <a href="/c-acabados">
        <picture>
          <source
            srcset="/arquivos/2022_especial-plomeria_categorias6.jpg"
            media="(max-width: 762px)"
          />
          <img
            src="/arquivos/2022_especial-plomeria_categorias6.jpg"
            alt="Pisos para baño"
          />
        </picture>
        <p class="text-nowrap">Acabados</p>
      </a>
    </div>
  </div>
</div>
<!-- Nuestros departamentos -FIN- -->

<div class="row">
  <div class="banner-single mt-4 mb-3 col-12 position-relative">
    <a href="/segundonivel/banos#toallas">
      <picture>
        <!-- Mobile -->
        <source
          srcset="/arquivos/2022_especial-plomeria_banner-toallas_mobil.jpg"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <!-- Desktop -->
        <source
          srcset="/arquivos/2022_especial-plomeria_banner-toallas_desk.jpg"
          type="image/webp"
        />
        <!-- wepb -> min.png -->
        <img
          src="/arquivos/2022_especial-plomeria_banner-toallas_desk.jpg"
          alt="la más amplia variedad de toallas de baño"
        />
      </picture>
      <div class="position-absolute container-towels">
        <h4 class="title-info-towels">La más amplia<br class="d-block d-md-none"/> variedad de toallas</h4>
        <p class="text-info-towels"><u>Ver más</u></p>
      </div>
    </a>
  </div>
</div>

<style type="text/css">
    .home .mainimage .btn {
        color: #000;
        /* margin: 37% auto 0; */
        background-color: #94d500;
        font-weight: bold;
        padding: 0.55em 2em;
        border-radius: 20px;
        right: 0;
        bottom: 0;
        height: 30px;
        width: 114px;
    }
    .home .products-slider__wrapper .prateleira.vitrine p .svg-icon {
        width: 0.7rem;
        height: 0.7rem;
    }
        .home .products-slider__wrapper .prateleira.vitrine h2 {
        display: none;
    }
    p.text-nowrap{
      font-size: 0.7rem;
    }
    .container-towels{
      top: 50%;
      transform: translateY(-50%);
      padding-left: 1em;
    }
    .title-info-towels{
      color:white;
      font-size: 0.8rem;
    }
    .text-info-towels{
      color:white;
      font-size: 0.6rem;
    }
    .container-banner_furnitures{
      position: absolute;
      color: white;
      top: 0;
      padding-left: 1em;
    }
    .container-banner_furnitures h4, .container-banner_furnitures p u{
      text-align: start;
    }
    .products-slider__container{
      margin-left: -15px!important;
      margin-right: -15px!important;
    }
    .marcas2{
      display: none;
    }
    @media screen and (min-width: 420px){
      p.text-nowrap{
        font-size: 0.85rem;
      }
      .title-info-towels{
        font-size: 1rem;
      }
      .text-info-towels{
        font-size: 0.8rem;
      }
    }
    @media screen and (min-width: 480px){
      .products-slider__container {
        margin-left: -20px!important;
        margin-right: -20px!important;
      }
    }
    @media screen and (min-width: 768px){
      .products-slider__container .product-list{
        padding: 0 1rem;
      }
      .products-slider__container .swiper:after{
        background: none;
      }
      .swiper-button-next{
        right: -30px;
      }
      .swiper-button-prev{
        left: -30px;
      }
      .container-towels{
        top: 50%;
        text-align: center;
        transform: translate(-50%,-50%);
        left: 50%;
        padding-left: 0;
      }
      .title-info-towels{
        font-size: 0.9rem;
      }
      .text-info-towels{
        font-size: 0.7rem;
      }
      .products-slider__container{
        padding-bottom: 2rem;
        margin-left: auto!important;
        margin-right: auto!important;
      }
      .container-banner_furnitures{
        position: relative;
        color: black;
        padding-left: 0;
      }
      .container-banner_furnitures h4, .container-banner_furnitures p u{
        text-align: center;
      }
      .home .mainimage .btn{
        margin-bottom: 0.5em;
      }
      .home .categories-bebe span {
        font-size: .6em;
      }
    }
    @media screen and (min-width: 900px){
      .title-info-towels{
        font-size: 1rem;
      }
      .text-info-towels{
        font-size: 0.8rem;
      }
      .home .mainimage .btn{
        margin-bottom: 1em;
      }
    }
    @media screen and (min-width: 1024px){
      .home .categories-bebe span {
        font-size: .8em;
      }
    }
    @media screen and (min-width: 1200px){
      .home .mainimage .btn {
        margin-bottom: 2em;
      }
    }
    @media screen and (min-width: 1300px){
      .home .mainimage .btn {
        margin-bottom: 2.5em;
      }
    }
    @media screen and (min-width: 1400px){
      .home .mainimage .btn {
        height: 36px;
        width: 140px;
        margin-bottom: 3em;
      }
      p.text-nowrap{
        font-size: 1rem;
      }
      .title-info-towels{
        font-size: 1.2rem;
      }
      .text-info-towels{
        font-size: 1rem;
      }
    }
    @media screen and (min-width: 1800px){
      .home .mainimage .btn {
        margin-bottom: 3.5em;
      }
    }
</style>

