<!-- Empieza Banner principal -->
<div class="row mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <a href="/1749?map=productClusterIds">
            <div class="mainimage position-relative">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/2022_especial-plomeria_portada_mobile.jpg" type="image/webp" media="(max-width: 767px)">
                    <!-- Desktop -->
                    <source srcset="/arquivos/2022_especial-plomeria_portada_desk.jpg" type="image/webp"  media="(min-width: 768px)" />
                    <img src="/arquivos/2022_especial-plomeria_portada_desk.jpg" alt="expo baño y plomería: baño decorado y accesorios" />
                </picture>
                <span class="position-absolute top-60 start-50 translate-middle btn">Ver más</span>
            </div>
        </a>
    </div>
</div>
<!-- Empieza spiffs -->
<div class="row spiff__after-slider text-center">
    <div class="col-12 col-md-4 mb-3">
        <a href="/segundonivel/banos#sanitarios">
            <picture>
                <source srcset="/arquivos/2022_especial-plomeria_spiff1_mobil.jpg" type="image/webp" media="(max-width: 767px)">
                <source srcset="/arquivos/2022_especial-plomeria_spiff1_desk.jpg" type="image/webp">
                <img src="/arquivos/2022_especial-plomeria_spiff1_desk.jpg" alt="Sanitarios, lavamanos y grifería">
            </picture>
            <h4 class="pt-3 pb-1">Sanitarios, lavamanos <br class="d-block"/>y grifería</h4>
            <p>
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <a href="/segundonivel/banos#cortinas">
            <picture>
                <source srcset="/arquivos/2022_especial-plomeria_spiff2_mobil.jpg" type="image/webp" media="(max-width: 767px)">
                <source srcset="/arquivos/2022_especial-plomeria_spiff2_desk.jpg" type="image/webp">
                <img src="/arquivos/2022_especial-plomeria_spiff2_desk.jpg" alt="Cortina de baño, set de accesorios y ganchos para toallas">
            </picture>
            <h4 class="pt-3 pb-1">Cortinas y accesorios</h4>
            <p>
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-12 col-md-4">
        <a href="/segundonivel/banos#organizacion">
            <picture>
                <source srcset="/arquivos/2022_especial-plomeria_spiff3_mobil.jpg" type="image/webp" media="(max-width: 767px)">
                <source srcset="/arquivos/2022_especial-plomeria_spiff3_desk.jpg" type="image/webp">
                <img src="/arquivos/2022_especial-plomeria_spiff3_desk.jpg" alt="Mueble de baño, organizador de ducha y organizadores de baño">
            </picture>
            <h4 class="pt-3 pb-1">Organización y baño</h4>
            <p>
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
</div>