<div class="re-central">
    <!-- Nuestros departamentos -INICIO- -->
    <div class="re-central pt-md-4">
    <a id="catdepartamentos" class="d-block position-relative visually-hidden fix-anchor"></a>
    <h2 class="tag-title--level-3 mb-md-3" id="departaments">Navega por departamento</h2>
    <div class="row categories-bebe fullcontent-bebe">
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-aprende-en-casa">
                <picture>
                    <source srcset="/arquivos/bts22_home_deptos_regresoaclases.png" media="(max-width: 762px)" />
                    <img src="/arquivos/bts22_home_deptos_regresoaclases.png" alt="Regreso a clases" />
                </picture>
                <span class="text-nowrap">Regreso a clases</span>
            </a>
        </div>
    
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/propositos">
                <picture>
                    <source srcset="/arquivos/propositos_deptos_propositos.png" media="(max-width: 762px)" />
                    <img src="/arquivos/propositos_deptos_propositos.png" alt="Cuida tu salud" />
                </picture>
                <span>Cumple tus propósitos</span>
            </a>
        </div>
    
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/cuidatusalud">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catSalud_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catSalud_desk.jpg" alt="Cuida tu salud" />
                </picture>
                <span>Cuida tu salud</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/electrodomesticos/ambiente-y-temperatura/calentadores">
                <picture>
                    <source srcset="/arquivos/2021_home_cat-calefactores_mob.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_home_cat-calefactores_desk.png" alt="Cuida tu salud" />
                </picture>
                <span>Calefactores</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/ejercitateencasa">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catEjercitate_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catEjercitate_desk.jpg" alt="ejercicio en casa" />
                </picture>
                <span>Ejercítate en casa</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" >
            <a href="/c-electrodomesticos-y-linea-blanca">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catElectrodomesticos_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catElectrodomesticos_desk.jpg" alt="Electrodomésticos y Línea blanca">
                </picture>
                <span id="cat-electrodom-linea-blanca">Electrodomésticos <br />y línea blanca</span>
            </a>
        </div>
        
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-herramientas">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catHerramientas_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catHerramientas_desk.jpg" alt="Herramientas">
                </picture>
                <span>Herramientas</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-cocina-y-mesa">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catCocina_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catCocina_desk.jpg" alt="Cocina y Mesa" />
                </picture>
                <span>Cocina y mesa</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-dormitorio">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catBlancos_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catBlancos_desk.jpg" alt="Dormitorio" />
                </picture>
                <span>Dormitorio</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-organizacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catOrganizacion_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catOrganizacion_desk.jpg" alt="organizacion" />
                </picture>
                <span>Organización</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-limpieza-y-lavanderia">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catLimpieza_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catLimpieza_desk.jpg" alt="limpieza y lavanderia" />
                </picture>
                <span>Limpieza y lavandería</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-plomeria">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catPlomeria_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catPlomeria_desk.jpg" alt="Plomeria" />
                </picture>
                <span>Plomería</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-electricos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catIluminacion_mobile.jpg" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catIluminacion_desk.jpg" alt="Eléctricos">
                </picture>
                <span>Eléctricos</span>
            </a>
        </div>
    
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-cuidado-personal-y-bienestar">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catSaludBelleza_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catSaludBelleza_desk.jpg" alt="Cuidado Personal y Bienestar" />
                </picture>
                <span>Cuidado personal <br />y bienestar</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-banos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catBanos_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catBanos_desk.jpg" alt="Baños" />
                </picture>
                <span>Baños</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-muebles">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catMuebles_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catMuebles_desk.jpg" alt="Muebles" />
                </picture>
                <span>Muebles</span>
            </a>
        </div>
        
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
            <a href="/c-alimentos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catAlimentos_mobile.png" media="(max-width: 762px)">
                    <img src="/arquivos/2021_cemaco_home_catAlimentos_desk.png" alt="alimentos" />
                </picture>
                <span>Alimentos</span>
            </a>
        </div>
    
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte vertodos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catVerTodo_mobile-v2.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catVerTodo_desk.jpg" alt="Ver todos los departamentos" />
            </picture>
            <span>Nuestros departamentos</span>
        </div>
    
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-tecnologia">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catElectronica_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catElectronica_desk.jpg" alt="Tecnología" />
                </picture>
                <span>Tecnología</span>
            </a>
        </div>
    
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-decoracion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catDeco_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catDeco.jpg" alt="Decoración" />
                </picture>
                <span>Decoración</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-iluminacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catLamparas_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catLamparas_desk.jpg" alt="iluminación" />
                </picture>
                <span>Iluminación</span>
            </a>
        </div>
       
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-pinturas">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catPinturas_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catPinturas_desk.jpg" alt="pinturas" />
                </picture>
                <span>Pinturas</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-autos-y-motos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catAutos_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catAutos_desk.jpg" alt="Autos y motos" />
                </picture>
                <span>Autos y motos</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-ferreteria">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catFerreteria_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catFerreteria_desk.jpg" alt="Ferreteria" />
                </picture>
                <span>Ferretería</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-cortinas-alfombras-y-pisos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catCortinaje_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catCortinaje_desk.jpg" alt="cortinas, alfombras y pisos" />
                </picture>
                <span>Cortinas, alfombras <br />y pisos</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-ninas-y-ninos">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catNin_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catNin_desk.jpg" alt="niños y niñas" />
                </picture>
                <span>Niños y niñas</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-juguetes">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catJuguetes_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catJuguetes_desk.png" alt="juguetes" />
                </picture>
                <span>Juguetes</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-bebes">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catBebes_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catBebes_desk.png" alt="Bebés" />
                </picture>
                <span>Bebés</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-mascotas">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catMascotas_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catMascotas_desk.jpg" alt="Mascotas" />
                </picture>
                <span>Mascotas</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-patio-y-jardin">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catJardineria_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catJardineria_desk.jpg" alt="Patio y jardin" />
                </picture>
                <span>Patio y jardín</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-materiales-de-construccion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catMaterialesConstruccion_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catMaterialesConstruccion_desk.png" alt="Materiales de construcción" />
                </picture>
                <span class="">Materiales <br> de construcción</span>
            
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/c-acabados">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home_catAcab_mobile.jpg" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home_catAcab_desk.jpg" alt="acabados" />
                </picture>
                <span>Acabados</span>
            </a>
        </div>
        <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
            <a href="/liquidacion">
                <picture>
                    <source srcset="/arquivos/2021_cemaco_home18agosto_categorias_liquidacion_mobile.png" media="(max-width: 762px)" />
                    <img src="/arquivos/2021_cemaco_home18agosto_categorias_liquidacion.jpg" alt="liquidacion" />
                </picture>
                <span>Liquidación</span>
            </a>
        </div>
    </div>
    </div>
    <!-- Nuestros departamentos -FIN- -->
    
    <!-- Descubre nuestros top departamentos -INICIO-->
    <div class="banner-nuestros-top-deptos ps-2 pe-2 pt-3 pt-md-4">
        <h2 class="text-center tag-title--level-3 pb-4 d-none d-md-block">Nuestros top departamentos</h2>
        <h2 class="text-center tag-title--level-3 pb-md-3 d-block d-md-none">Nuestros top <br/>Departamentos</h2>
        <div class="row text-center triplets">
            <div class="col-12 col-md-6 mb-6 mb-md-0 pb-4">
                <a href="/c-cocina-y-mesa">
                    <picture>
                        <source srcset="/arquivos/bts22_home_topdeptos_cocina_mobile.png" type="image/webp" media="(max-width: 767px)">
                        <source srcset="/arquivos/bts22_home_topdeptos_cocina_mobile.png" media="(max-width: 767px)">
                        <source srcset="/arquivos/bts22_home_topdeptos_cocina.png" type="image/webp">
                        <img src="/arquivos/bts22_home_topdeptos_cocina.png" alt="Cocina y mesa">
                    </picture>
                    <h4 class="mt-lg-2 pb-2 pt-3">Cocina y mesa</h4>
                    <u class="fw-normal">Ver más</u>
                </a>
            </div>
            <div class="col-12 col-md-6 mb-6 mb-md-0 pb-4">
                <a href="/c-dormitorio">
                    <picture>
                        <source srcset="/arquivos/bts22_home_topdeptos_blancos_mobile.png" type="image/webp" media="(max-width: 767px)">
                        <source srcset="/arquivos/bts22_home_topdeptos_blancos_mobile.png" media="(max-width: 767px)">
                        <source srcset="/arquivos/bts22_home_topdeptos_blancos.png" type="image/webp">
                        <img src="/arquivos/bts22_home_topdeptos_blancos.png" alt="Blancos">
                    </picture>
                    <h4 class="mt-lg-2 pb-2 pt-3">Blancos</h4>
                    <u class="fw-normal">Ver más</u>
                </a>
            </div>
        </div>
    </div>
    <!-- Descubre nuestros top departamentos -FIN-->
    
    
    <!-- Todo para tus proyectos -FIN- -->
    <!-- <div class="carruselHomeE mobile-fullwidth" ></div> -->


<div class="carruselHomeTEST mobile-fullwidth" ></div>
    
<!-- Importante para ti -inicio- -->
<div class="importante-para-ti">
    <h2 class="importante_title">Importante para ti</h2>
    <div class="importante_general">
        <div id="importanteparati" class="importante_container swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide importante_item">
                    <a href="/areasdenocobertura" class="importante_a">
                        <div class="importante_sub-item">
                            <div class="importante_item-picture">
                                <picture>
                                    <img src="/arquivos/2021_cemaco_bannerImportanteParaTi_entregas.png" class="img-importante" alt="">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Entregamos miles de productos en 24 horas en la <br> capital y en 48 a 72 horas en el interior del país.<br> <u>Conoce mas aquí</u></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide importante_item">
                    <a href="/autoservicio" class="importante_a">
                        <div  class="importante_sub-item">
                            <div class="importante_item-picture">
                                <picture>
                                    <source srcset="/arquivos/bts22_home_rt-autoservicio.png" media="(max-width: 762px)">
                                    <img src="/arquivos/bts22_home_rt-autoservicio.png" class="img-importante" alt="Cemaco Retirar en tienda">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Elige los productos que necesitas, selecciona la<br> opción de retirar en tienda, 
                                espera nuestra<br> notificación y ¡Listo! te entregaremos tu pedido<br> en la tienda a tu conveniencia.
                                <u class="">Conoce más aquí</u>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide importante_item">
                    <a href="/prevencion" class="importante_a">
                        <div  class="importante_sub-item">
                            <div class="importante_item-picture">
                                <picture>
                                    <img src="/arquivos/2021_cemaco_home_importante_salud_ago-27.png" class="img-importante" alt="">
                                </picture>
                            </div>
                            <div class="importante_item-text">
                                <p class="">Nuestra misión es ser el lugar más seguro para <br> trabajar y comprar. Estamos tomando medidas <br> importantes para tu seguridad y la de nuestro equipo.<br><u class="">Conócelas</u></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-button-next importante"></div>
            <div class="swiper-button-prev importante"></div>
        </div>
        <div class="importante_container-gray"></div>
        <div class="row importante_container-desk">
                <div class="importante_item col-md-4">
                    <a href="/areasdenocobertura" class="importante_a">
                        <div class="importante_item-picture">
                            <picture>
                                <img src="/arquivos/2021_cemaco_bannerImportanteParaTi_entregas.png" class="m-auto" alt="">
                            </picture>
                        </div>
                        <div class="importante_item-text">
                            <p class="">Entregamos miles de productos en 24 horas en la capital<br> y en 48 a 72 horas en el interior del país.<br><u class="">Conoce mas aquí</u></p>
                        </div>
                    </a>
                </div>
                <div class="importante_item col-md-4">
                    <a href="/autoservicio" class="importante_a">
                        <div class="importante_item-picture">
                            <picture>
                                <source srcset="/arquivos/bts22_home_rt-autoservicio.png" media="(max-width: 762px)">
                                <img src="/arquivos/bts22_home_rt-autoservicio.png" class="" alt="Cemaco Retirar en tienda">
                            </picture>
                        </div>
                        <div class="importante_item-text">
                            <p class="">Elige los productos que necesitas, selecciona la<br> opción de retirar en tienda, 
                            espera nuestra<br> notificación y ¡Listo! te entregaremos tu pedido en la<br> tienda a tu conveniencia.
                            <u class="">Conoce más aquí</u>
                            </p>
                        </div>
                    </a>
            
                </div>
                <div class="importante_item col-md-4">
                    <a href="/prevencion" class="importante_a">
                        <div class="importante_item-picture">
                            <picture>
                                <img src="/arquivos/2021_cemaco_home_importante_salud_ago-27.png" class="" alt="">
                            </picture>
                        </div>
                        <div class="importante_item-text">
                            <p class="">Nuestra misión es ser el lugar más seguro para  trabajar y<br> comprar. Estamos tomando medidas importantes para tu<br> seguridad y la de nuestro equipo. <u class="">Conócelas</u></p>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>
<!-- Importante para ti -FIN- -->
<style type="text/css">
    .importante-para-ti{
        margin: 0px -12px!important;
    }
    .importante_general{
        position: relative;
        margin: 0;
    }
    .importante_container{
        position: relative;
        padding: 0;
        background-color: #F7F7F7;
    }
    .importante_container-gray{
        position: absolute;
        background-color: #EEEEEE;
        bottom: 0;
        height: 4rem;
    }
    .importante_container-desk{
        display: none;
    }
    .importante_a{
        display: flex;
        flex-direction: column;
    }
    .importante_item-picture{
        width: 100%;
        height: 5rem;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .importante_item-picture picture{
        display: flex;
    }
    .img-importante{
        width: 70%!important;
        display: block!important;
        margin: auto;
    }
    .importante_item-text{
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1em 1em;
        font-size: 0.68rem;
        width: 100%!important;
    }
    .importante_item-text p{
        text-align: center;
    }
    .importante_container .swiper-button-next, .importante_container .swiper-button-prev{
        color: #101e8e;
        font-weight: 700;
        top: 45%;

    }
    .importante_container .swiper-button-next::after, .importante_container .swiper-button-prev::after{
        font-size: 1.5em;
    }

    @media (min-width: 423px) {
        .importante_item-picture {
            height: 8rem;
        }
        .importante_item-text{
            font-size: 0.8rem;
            height: 5rem;
        }
        .importante_container-gray{
            height: 5rem;
        }
        .importante_container .swiper-button-next, .importante_container .swiper-button-prev{
            color: #101e8e;
            font-weight: 700;
            top: 50%;
        }
    }
    @media (min-width: 768px) {
        .importante_container{
            display: none;
        }
        .importante_container-gray{
            display: none;
        }
        .importante_container-desk{
            display: flex;
            padding: 0;
            margin: 0;
        }
        .importante_item-picture{
            height: auto;
        }
        .importante_item-text{
            height: auto;
            padding: 0;
        }
        .importante_item{
            padding: 0 1rem 0 0;
        }
        .importante_item-text p {
            width: 100%;
        }
        .importante_sub-item{
            background-color: #F7F7F7;
        }
    }
</style>

    <!-- Tu felicidad, garantizada -->
    <!-- <div id="nuestrapromesa" class="nuestrapromesa">
        <h5 class="mt-2">Tu felicidad, garantizada</h5>
        <p class="nuestrapromesa_p">Si no estás 100% satisfecho con tu compra, <br class="show-block">contáctanos y lo resolveremos.</p>
        <div class="teofrecemos_container row">
            <picture class="col-md-4 teofrecemos_img-picture">
                <source srcset="/arquivos/2022_cemaco_felicidad_banner_mobile.jpg" media="(max-width: 767px)" />
                <img class="nuestrapromesa_img" src="/arquivos/2022_cemaco_felicidad_banner_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
            </picture> -->
            <!-- Te ofrecemos -INICIO- -->
            <!-- <div id="teofrecemos" class="background_nuestra-promesa teofrecemos swiper text-center teofrecemos_mobile">
                <ul class="swiper-wrapper">
                    <li class= "swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
                        <div class="teofrecemos_text">
                            <p>Garantía total <br> y seguridad</p>
                        </div>
                    </li>
                    <li class="swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#retiraTienda">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
                        <div class="teofrecemos_text">
                            <p>Retira en tienda<br> y autoservicio</p>
                        </div>
                    </li>
                    <li class= "swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#entregaRapida">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
                        <div class="teofrecemos_text">
                            <p>Entrega rápida</p>
                        </div>
                    </li>
                    <li class="swiper-slide teofrecemos_item" data-bs-toggle="modal" data-bs-target="#metodosPago">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="">
                        <div class="teofrecemos_text">
                            <p>Métodos de pago: <br> tarjetas, cuotas y depósitos</p>
                        </div>
                    </li>
                </ul>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="background_nuestra-promesa text-center teofrecemos_desk col-md-8">
                <ul class="teofrecemos-desk_container row">
                    <li class= "teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
                        <div class="teofrecemos_text">
                            <p>Garantía total <br> y seguridad</p>
                        </div>
                    </li>
                    <li class="teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#retiraTienda">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
                        <div class="teofrecemos_text">
                            <p>Retira en tienda<br> y autoservicio</p>
                        </div>
                    </li>
                    <li class= "teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#entregaRapida">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
                        <div class="teofrecemos_text teofrecemos_text-entrega">
                            <p>Entrega rápida</p>
                        </div>
                    </li>
                    <li class="teofrecemos_item-desk col-md-3" data-bs-toggle="modal" data-bs-target="#metodosPago">
                        <img src="/arquivos/2022_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="">
                        <div class="teofrecemos_text">
                            <p>Métodos de pago: <br> tarjetas, cuotas y depósitos</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    
    <style type="text/css">
    
    
    .home .mobile-fullwidth{
        position: relative;
        margin-left: -50vw; 
        margin-top: 0; 
        margin-bottom: 1rem;
        padding-top: 0;
        padding-bottom: 1rem;
        width: 100vw;
        left: 50%;
    }
    .fix-anchor{
        top: -150px;
    }
    .home .carruselHomeE .dt_showcase_slick li{
        border: none;
    }
    
    .home .carruselHomeE .dt-box.dt-box-embedded{
        background: #f7f7f7;
    }
    .home .carruselHomeE .container.re-central{
        margin-bottom: 0px !important;
    }
    .home .carruselHomeE .tag-other-products{
        font-size: 1.4em;
    }
    .home .product-list.grid-view .product-item__wrapper{
        margin-bottom: 10px;
    }
    .home .banners-three .content h3 {
        font-size: 1.1rem;
    }
    
    .home .banners-three .content span {
        font-size: .9em;
    }
    
    .home .mainimage .btn {
        right: calc(58% - 4.54rem);
        bottom: calc(62% - 4.7rem);
        padding: 5px 23px 5px;
    }
    .banner-mejoresmarcas{
        margin: 0 -12px;
    }
    .home .banner-mejoresmarcas {
        background-color: #FAFAFA;
    }
    .home .banners-slider__wrapper.mb-blocks{
        display: none;
    }
    .home .minispiff .minispiff-item h4 {
        font-size: 1.1em;
        padding-bottom: 0;
    }
    
    .home .minispiff .minispiff-item p.txt-p-spiff span {
        display: block;
        /* font-weight: bold; */
        text-decoration: underline;
        font-size: 0.613em;
    }
    .home .triplets h4{
        font-size: 1em;
    }
    #productsSpecialSlider01 .prateleira a p > svg {
        color: #fff;
        width: 0.9em;
        height: 0.9em;
        stroke-width: 5;
        vertical-align: middle;
    }
    .prateleira a.text-center{
        display: none;
    }
    .banner-item_text{
        font-size: 1em;
        text-align:center;
    }
    .banner-item_vermas{
        font-size: .875em;
        text-decoration: underline;
    }
    .vacaciones_vermas{
        font-size: .875em;
        text-decoration: underline;
    }
    .home .importanteparati .col-12:nth-child(2) img, .home .importanteparati .col-12.importanteparati-segundo img {
        width: 100%;
    }
    .home .ofertas-semana-wrapper .content {
        color: #000;
            text-align: center;
    }
    .home .ofertas-semana-wrapper .content h3 {
        font-size: 1.1rem;
        margin: 3% 0 0;
    }
    .home .ofertas-semana-wrapper .content .vermas {
        text-decoration: underline;
        font-size: .9em;
        font-weight: bold;
    }
    
    @media (max-width: 375px) {
        #cat-electrodom-linea-blanca{
            margin: 0 -8px;
            white-space: nowrap;
        }
        .home .importanteparati .col-12 p {
            font-size: .68em;
        }
    }
    @media (min-width: 375px) {
        .home .mainimage .btn {
            right: calc(57% - 4.54rem);
            bottom: calc(59% - 4.688rem);
        }
    
        .home .minispiff .minispiff-item h4 {
            font-size: 1.2em;
        }
        .content-marcas-banner .btn {
            right: calc(90% - 72%) !important;
        }
    }
    
    @media (min-width: 425px) {
        .content-marcas-banner .btn {
            right: calc(90% - 69%) !important;
            margin-bottom: 0.8rem !important;
        }
    }
    
    @media (min-width: 480px) {
        .home .mainimage .btn {
            right: calc(55% - 4.54rem) ;
            bottom: calc(60% - 4.688rem);
        }
        .home .triplets h4 {
            font-size: 1.1em;
        }
        .content-marcas-banner .btn {
            right: calc(90% - 67%) !important;
            margin-bottom: 1rem !important;
        }
    }
    @media (min-width: 576px){
        .home .triplets h4 {
        font-size: 1.3em;
        }
    }
    @media (min-width: 600px){
        .home .mainimage .btn {
            right: calc(54% - 4.54rem);
            bottom: calc(58% - 4.688rem);
        }
        .content-marcas-banner .btn {
            right: calc(90% - 64%) !important;
            margin-bottom: 1.8rem  !important;
        }
    }
    @media screen and (max-width: 767px){
        .home .products-slider__container{
            overflow: hidden;
        }
    }
    @media (min-width: 768px) {
        .banner-mejoresmarcas{
            margin: auto;
        }
        .home .mobile-fullwidth{
            position: initial;
            margin-left: 0vw; 
            width: auto;
            left: 0%;
            padding-top: 1rem;
            margin-top: auto;
        }
        .home .carruselHomeE .tag-other-products{
            font-size: 1.875em;
        }
        .home .banners-three .content h3 {
            font-size: .9em;
        }
        .home .importanteparati .col-12:first-child img,
        .home .importanteparati .col-12.importanteparati-primero img {
            width: 90%;
        }
        .home .importanteparati .col-12:nth-child(2) img,
        .home .importanteparati .col-12.importanteparati-segundo img {
            width: 98%;
            padding-top: 0%;
        }
        .home .importanteparati .col-12:last-child img,
        .home .importanteparati .col-12.importanteparati-ultimo img {
            width: 70%;
            padding-top: 3%;
        }
    
        .navidad-spiffs {
            display: none;
        }
    
        .home .banners-slider__wrapper.mb-blocks{
            display: block;
        }
    
        .home .mainimage .btn {
            right: calc(58% - 4.54rem);
            bottom: calc(9%);
        }
        .home .board-ferreteria.marcas-ferre .swiper-button-next ,
        .home .board-ferreteria.marcas-ferre .swiper-button-prev {
            color: #101E8E;
        }
        .content-marcas-banner .btn {
            margin-bottom: .5rem  !important;
            right: calc(51% - 4.54rem) !important;
        }
        .banner-item_text{
            font-size: 1.25em;
        }
        .ofertas-semana-wrapper p{
            text-decoration: underline;
            font-weight: normal;
            margin-bottom: 5px;
            font-size: .613em;
        }
    }
    
    @media (min-width: 992px){
        .banner-item_text{
            font-size: 1.118em;
        }
    }
    @media (min-width: 1024px){
        .home .mainimage .btn {
            right: calc(55% - 3.54rem);
            bottom: calc(13%);
        }
        .home .triplets h4{
            font-size: 1.2em;
        }
        .content-marcas-banner .btn {
            right: calc(49% - 4.54rem) !important;
            margin-bottom: 1rem !important;
        }
    }
    
    @media (min-width: 1200px) {
        .home .banners-three .content h3 {
            font-size: 1.25em;
        }
        .home .mainimage .btn {
            bottom: calc(15.5%);
            right: calc(56% - 3.9rem);
        }
        .home .importanteparati .col-12:first-child img,
        .home .importanteparati .col-12.importanteparati-primero img {
            width: 90%;
            padding-top: 2%;
        }
        .home .importanteparati .col-12:nth-child(2),
        .home .importanteparati .col-12.importanteparati-segundo {
            width: 33.33%;
        }
        .home .importanteparati .col-12:nth-child(2) img,
        .home .importanteparati .col-12.importanteparati-segundo img {
            width: 98%;
            padding-top: 0%;
        }
        .home .importanteparati .col-12:last-child img,
        .home .importanteparati .col-12.importanteparati-ultimo img {
            width: 66%;
            padding-top: 1%;
        }
        .home .content-marcas-banner .btn {
            right: calc(48% - 4.54rem) !important;
            margin-bottom: 1.2rem !important;
        }
    }
    
    @media (min-width: 1400px) {
        .home .banners-three .content h3 {
            font-size: 1.625em;
        }
        .home .mainimage .btn {
            bottom: calc(15.5%);
        }
        .home .importanteparati .col-12:nth-child(2) img,
        .home .importanteparati .col-12.importanteparati-segundo img {
            width: 98%;
            padding-top: 1%;
        }
        
        .home .content-marcas-banner .btn {
            right: calc(48% - 4.54rem) !important;
            margin-bottom: 1.8rem !important;
        }
    }
    </style>