<div class="re-central">
<!-- Nuestros departamentos -INICIO- -->
<div class="re-central pt-md-4">
<a id="catdepartamentos" class="d-block position-relative visually-hidden fix-anchor"></a>
<h2 class="tag-title--level-3 mb-md-3" id="departaments">Navega por departamento</h2>
<div class="row categories-bebe fullcontent-bebe">
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-aprende-en-casa">
            <picture>
                <source srcset="/arquivos/bts22_home_deptos_regresoaclases.png" media="(max-width: 762px)" />
                <img src="/arquivos/bts22_home_deptos_regresoaclases.png" alt="Regreso a clases" />
            </picture>
            <span class="text-nowrap">Regreso a clases</span>
        </a>
    </div>

    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/propositos">
            <picture>
                <source srcset="/arquivos/propositos_deptos_propositos.png" media="(max-width: 762px)" />
                <img src="/arquivos/propositos_deptos_propositos.png" alt="Cuida tu salud" />
            </picture>
            <span>Cumple tus propósitos</span>
        </a>
    </div>

    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/cuidatusalud">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catSalud_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catSalud_desk.jpg" alt="Cuida tu salud" />
            </picture>
            <span>Cuida tu salud</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/electrodomesticos/ambiente-y-temperatura/calentadores">
            <picture>
                <source srcset="/arquivos/2021_home_cat-calefactores_mob.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_home_cat-calefactores_desk.png" alt="Cuida tu salud" />
            </picture>
            <span>Calefactores</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/ejercitateencasa">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catEjercitate_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catEjercitate_desk.jpg" alt="ejercicio en casa" />
            </picture>
            <span>Ejercítate en casa</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" >
        <a href="/c-electrodomesticos-y-linea-blanca">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catElectrodomesticos_mobile.jpg" media="(max-width: 762px)">
                <img src="/arquivos/2021_cemaco_home_catElectrodomesticos_desk.jpg" alt="Electrodomésticos y Línea blanca">
            </picture>
            <span id="cat-electrodom-linea-blanca">Electrodomésticos <br />y línea blanca</span>
        </a>
    </div>
    
    <!--<div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
    <a href="/c-guatemalanuestra">
    <picture>
        <img src="/arquivos/2021_cemaco_home_catGuate_desk.jpg" alt="100% de Guate" />
    </picture>
    <span>100% Guate</span>
    </a>
</div>-->
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-herramientas">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catHerramientas_mobile.jpg" media="(max-width: 762px)">
                <img src="/arquivos/2021_cemaco_home_catHerramientas_desk.jpg" alt="Herramientas">
            </picture>
            <span>Herramientas</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-cocina-y-mesa">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catCocina_mobile.jpg" media="(max-width: 762px)">
                <img src="/arquivos/2021_cemaco_home_catCocina_desk.jpg" alt="Cocina y Mesa" />
            </picture>
            <span>Cocina y mesa</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-dormitorio">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catBlancos_mobile.jpg" media="(max-width: 762px)">
                <img src="/arquivos/2021_cemaco_home_catBlancos_desk.jpg" alt="Dormitorio" />
            </picture>
            <span>Dormitorio</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-organizacion">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catOrganizacion_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catOrganizacion_desk.jpg" alt="organizacion" />
            </picture>
            <span>Organización</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-limpieza-y-lavanderia">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catLimpieza_mobile.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catLimpieza_desk.jpg" alt="limpieza y lavanderia" />
            </picture>
            <span>Limpieza y lavandería</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-plomeria">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catPlomeria_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catPlomeria_desk.jpg" alt="Plomeria" />
            </picture>
            <span>Plomería</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-electricos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catIluminacion_mobile.jpg" media="(max-width: 762px)">
                <img src="/arquivos/2021_cemaco_home_catIluminacion_desk.jpg" alt="Eléctricos">
            </picture>
            <span>Eléctricos</span>
        </a>
    </div>
    <!--div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
    <a href="/1189?map=productClusterIds">
    <picture>
        <img src="arquivos/2021_cemaco_home2104_catNovedades.png" alt="" />
    </picture>
    <span>Novedades</span>
    </a>
</div-->
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-cuidado-personal-y-bienestar">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catSaludBelleza_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catSaludBelleza_desk.jpg" alt="Cuidado Personal y Bienestar" />
            </picture>
            <span>Cuidado personal <br />y bienestar</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-banos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catBanos_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catBanos_desk.jpg" alt="Baños" />
            </picture>
            <span>Baños</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-muebles">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catMuebles_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catMuebles_desk.jpg" alt="Muebles" />
            </picture>
            <span>Muebles</span>
        </a>
    </div>
    
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte">
        <a href="/c-alimentos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catAlimentos_mobile.png" media="(max-width: 762px)">
                <img src="/arquivos/2021_cemaco_home_catAlimentos_desk.png" alt="alimentos" />
            </picture>
            <span>Alimentos</span>
        </a>
    </div>

    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte vertodos">
        <picture>
            <source srcset="/arquivos/2021_cemaco_home_catVerTodo_mobile-v2.png" media="(max-width: 762px)" />
            <img src="/arquivos/2021_cemaco_home_catVerTodo_desk.jpg" alt="Ver todos los departamentos" />
        </picture>
        <span>Nuestros departamentos</span>
    </div>

    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-tecnologia">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catElectronica_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catElectronica_desk.jpg" alt="Tecnología" />
            </picture>
            <span>Tecnología</span>
        </a>
    </div>

    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-decoracion">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catDeco_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catDeco.jpg" alt="Decoración" />
            </picture>
            <span>Decoración</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-iluminacion">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catLamparas_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catLamparas_desk.jpg" alt="iluminación" />
            </picture>
            <span>Iluminación</span>
        </a>
    </div>
    <!--<div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-aprende-en-casa">
            <picture>
                <source srcset="/arquivos/2021_cat_regresoaclases_mobile.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cat_regresoaclases.png" alt="Aprende en Casa" />
            </picture>
            <span>Regreso a clases</span>
        </a>
    </div>-->
    <!--<div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
    <a href="/c-aprende-en-casa">
    <picture>
        <img src="/arquivos/2021_cemaco_home_catAprendeEnCasa_desk.jpg" alt="Aprende en Casa"/>
    </picture>
    <span>Aprende en casa</span>
    </a>
</div> -->
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-pinturas">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catPinturas_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catPinturas_desk.jpg" alt="pinturas" />
            </picture>
            <span>Pinturas</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-autos-y-motos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catAutos_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catAutos_desk.jpg" alt="Autos y motos" />
            </picture>
            <span>Autos y motos</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-ferreteria">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catFerreteria_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catFerreteria_desk.jpg" alt="Ferreteria" />
            </picture>
            <span>Ferretería</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-cortinas-alfombras-y-pisos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catCortinaje_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catCortinaje_desk.jpg" alt="cortinas, alfombras y pisos" />
            </picture>
            <span>Cortinas, alfombras <br />y pisos</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-ninas-y-ninos">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catNin_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catNin_desk.jpg" alt="niños y niñas" />
            </picture>
            <span>Niños y niñas</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-juguetes">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catJuguetes_mobile.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catJuguetes_desk.png" alt="juguetes" />
            </picture>
            <span>Juguetes</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-bebes">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catBebes_mobile.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catBebes_desk.png" alt="Bebés" />
            </picture>
            <span>Bebés</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-mascotas">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catMascotas_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catMascotas_desk.jpg" alt="Mascotas" />
            </picture>
            <span>Mascotas</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-patio-y-jardin">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catJardineria_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catJardineria_desk.jpg" alt="Patio y jardin" />
            </picture>
            <span>Patio y jardín</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-materiales-de-construccion">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catMaterialesConstruccion_mobile.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catMaterialesConstruccion_desk.png" alt="Materiales de construcción" />
            </picture>
            <span class="">Materiales <br> de construcción</span>
        
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/c-acabados">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home_catAcab_mobile.jpg" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home_catAcab_desk.jpg" alt="acabados" />
            </picture>
            <span>Acabados</span>
        </a>
    </div>
    <div class="col-4 col-md-2 mb-3 text-center col-xs-4 tresveinte" style="display: none;">
        <a href="/liquidacion">
            <picture>
                <source srcset="/arquivos/2021_cemaco_home18agosto_categorias_liquidacion_mobile.png" media="(max-width: 762px)" />
                <img src="/arquivos/2021_cemaco_home18agosto_categorias_liquidacion.jpg" alt="liquidacion" />
            </picture>
            <span>Liquidación</span>
        </a>
    </div>
</div>
</div>
<!-- Nuestros departamentos -FIN- -->


<!-- Descubre nuestros top departamentos -INICIO-->
<div class="banner-nuestros-top-deptos ps-2 pe-2 pt-3 pt-md-4">
    <h2 class="text-center tag-title--level-3 pb-4 d-none d-md-block">Nuestros top departamentos</h2>
    <h2 class="text-center tag-title--level-3 pb-md-3 d-block d-md-none">Nuestros top <br/>Departamentos</h2>
    <div class="row text-center triplets">
        <div class="col-12 col-md-6 mb-6 mb-md-0 pb-4">
            <a href="/c-cocina-y-mesa">
                <picture>
                    <source srcset="/arquivos/bts22_home_topdeptos_cocina_mobile.png" type="image/webp" media="(max-width: 767px)">
                    <source srcset="/arquivos/bts22_home_topdeptos_cocina_mobile.png" media="(max-width: 767px)">
                    <source srcset="/arquivos/bts22_home_topdeptos_cocina.png" type="image/webp">
                    <img src="/arquivos/bts22_home_topdeptos_cocina.png" alt="Cocina y mesa">
                </picture>
                <h4 class="mt-lg-2 pb-2 pt-3">Cocina y mesa</h4>
                <u class="fw-normal">Ver más</u>
            </a>
        </div>
        <div class="col-12 col-md-6 mb-6 mb-md-0 pb-4">
            <a href="/c-dormitorio">
                <picture>
                    <source srcset="/arquivos/bts22_home_topdeptos_blancos_mobile.png" type="image/webp" media="(max-width: 767px)">
                    <source srcset="/arquivos/bts22_home_topdeptos_blancos_mobile.png" media="(max-width: 767px)">
                    <source srcset="/arquivos/bts22_home_topdeptos_blancos.png" type="image/webp">
                    <img src="/arquivos/bts22_home_topdeptos_blancos.png" alt="Blancos">
                </picture>
                <h4 class="mt-lg-2 pb-2 pt-3">Blancos</h4>
                <u class="fw-normal">Ver más</u>
            </a>
        </div>
    </div>
</div>
<!-- Descubre nuestros top departamentos -FIN-->

<h2 class="mobile-fullwidth text-center tag-title--level-3 mt-md-1">Importante para ti</h2>
<div class="row importanteparati text-center mx-2 mx-md-0 px-md-3 py-3 py-md-4 d-none d-md-flex align-items-start">
<div class="col-12 col-md-4 py-4 border-md-end-1 border-bottom border-md-bottom-none d-flex flex-column justify-content-center">
    <a href="/areasdenocobertura">
        <picture>
            <img src="/arquivos/2021_cemaco_bannerImportanteParaTi_entregas.png" class="m-auto" alt="">
        </picture>
        <p class="mt-3">Entregamos miles de productos en 24 horas en la <br> capital y en 48 a 72 horas en el interior del país.</p>
        <u class="fw-bold">Conoce mas aquí</u>
    </a>
</div>
<div class="col-12 col-md-4 py-4 pt-xl-4 border-md-end-1 border-bottom border-md-bottom-none d-flex flex-column justify-content-center">
    <a href="/autoservicio">
        <picture>
            <source srcset="/arquivos/bts22_home_rt-autoservicio.png" media="(max-width: 762px)">
            <img src="/arquivos/bts22_home_rt-autoservicio.png" class="m-auto pb-3" alt="Cemaco Retirar en tienda">
        </picture>
        <p class="mt-xl-2">Elige los productos que necesitas, selecciona la opción de retirar en tienda, 
        espera nuestra notificación y ¡Listo! te entregaremos tu pedido en la tienda a tu <br class="d-none d-xl-inline"> conveniencia.
            <u class="fw-bold d-none d-md-inline">Conoce más aquí</u>
        </p>

        <u class="fw-bold d-block d-md-none">Conoce más aquí</u>
    </a>

</div>
<div class="col-12 col-md-4 py-4 py-md-2 py-xl-4 d-flex flex-column justify-content-center">
    <a href="/prevencion">
        <picture>
            <img src="/arquivos/2021_cemaco_home_importante_salud_ago-27.png" class="m-auto" alt="">
        </picture>
        <p class="mt-3">Nuestra misión es ser el lugar más seguro para <br> trabajar y comprar. Estamos tomando medidas <br> importantes para tu seguridad y la de nuestro equipo.</p>
        <u class="fw-bold">Conócelas</u>
    </a>
</div>
</div>
<div class="importanteparati text-center position-relative mt-3 d-md-none">
<div class="swiper-wrapper">
    <div class="importanteparati-primero swiper-slide px-4 col-12 py-0 d-flex flex-column justify-content-center">
        <a href="/areasdenocobertura">
            <picture>
                <img src="/arquivos/2021_cemaco_bannerImportanteParaTi_entregas.png" class="m-auto" alt="">
            </picture>
            <p class="mt-3">Entregamos miles de productos en 24 horas en la <br> capital y en 48 a 72 horas en el interior del país.</p>
            <u class="fw-bold">Conoce más aquí</u>
        </a>
    </div>
    <div class="importanteparati-segundo swiper-slide px-4 col-12 py-0 pt-xl-5 mt-md-3 mt-xl-4 d-flex flex-column justify-content-center">
        <a href="/autoservicio">
            <picture>
                <source srcset="/arquivos/bts22_home_rt-autoservicio.png" media="(max-width: 762px)">
                <img src="/arquivos/bts22_home_rt-autoservicio.png" class="m-auto" alt="Cemaco Super Black">
            </picture>
            <p class="mt-2 d-inline">Elige los productos que necesitas, selecciona la <br> opción de retirar en tienda, espera nuestra <br> notificación y ¡Listo! te entregaremos tu pedido <br> en la tienda a tu conveniencia.</p>
            <u class="fw-bold">Conoce más aquí</u>
        </a>
    
    </div>
    <div class="importanteparati-ultimo swiper-slide px-4 col-12 py-0 pb-3 py-md-2 py-xl-4 d-flex flex-column justify-content-center">
        <a href="/prevencion">
            <picture>
                <img src="/arquivos/2021_cemaco_home_importante_salud_ago-27.png" class="m-auto" alt="">
            </picture>
            <p class="mt-3">Nuestra misión es ser el lugar más seguro para <br> trabajar y comprar. Estamos tomando medidas <br> importantes para tu seguridad y la de nuestro equipo.</p>
            <u class="fw-bold">Conócelas</u>
        </a>
    </div>
</div>
<div class="swiper-button-next d-block"></div>
<div class="swiper-button-prev d-block"></div>
</div>
<!-- Importante para ti -FIN- -->


<!-- Tu felicidad, garantizada -->
<div id="nuestrapromesa">
<h2 class="text-md-center tag-title--level-3 mt-2">Tu felicidad, garantizada</h2>
<div class="banner-single txt-infront-image pointer" data-bs-toggle="modal" data-bs-target="#felicidadGarantizada">
    <picture>
        <!-- Mobile -->
        <!--source srcset="/arquivos/2021_banner_descuento-navidenos_mob.min.jpg" media="(max-width: 767px)" /-->
        <!-- wepb -> min.png -->
        <source srcset="/arquivos/2021_cemaco_home13oct_banner_promes_mobile.jpg" media="(max-width: 767px)" />
        <!-- Desktop -->
        <!--source srcset="/arquivos/2021_banner_descuento-navidenos_desk.min.jpg" /-->
        <!-- wepb -> min.png -->
        <img src="/arquivos/2021_cemaco_home13oct_banner_promes_desk.jpg" alt="Días Privi Para tu cocina y mesa " />
    </picture>
    <div class="content text-white">
        <h3 class="m-0 fw-normal">Si no estás 100% satisfecho <br class="d-block d-md-none"> con tu compra, <br class="d-none d-md-block">contáctanos y <br class="d-block d-md-none"> lo resolveremos.
        </h3>
        <span class="vermas fw-normal">Ver más</span>
    </div>
</div>
</div>
<!-- Te ofrecemos -INICIO- -->
<div class="teofrecemos text-center mb-3">
<!--<h2 class="text-center">Te ofrecemos</h2>-->
<div class="row mt-md-4 px-3 px-md-0 align-items-start pt-3 pb-3">
    <div class="col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#garantiaTotal">
        <section class="spiffs-item text-center">
            <img src="/arquivos/2021_cemaco_bannerteofrecemos_garatiayseguridad.png?v=637580816313800000" alt="">
            <p>Garantía total <br> y seguridad</p>
            <span>Ver más</span>
        </section>
    </div>
    <div class="col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#entregaRapida">
        <section class="spiffs-item text-center">
            <img src="/arquivos/2021_cemaco_bannerteofrecemos_entregarapida.png?v=637580816313630000" alt="">
            <p>Entrega <br class="d-block d-md-none"> rápida</p>
            <span>Ver más</span>
        </section>
    </div>
    <div class="mt-3 py-3 mt-md-0 py-md-0 col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#retiraTienda">
        <section class="spiffs-item text-center">
            <img src="/arquivos/2021_cemaco_bannerteofrecemos_retiraentienda.png?v=637584641904700000" alt="">
            <p>Retira en <br> tienda y autoservicio</p>
            <span>Ver más</span>
        </section>
    </div>
    <div class="mt-3 py-3 mt-md-0 py-md-0 col-6 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-6 pointer" data-bs-toggle="modal" data-bs-target="#metodosPago">
        <section class="spiffs-item text-center">
            <img src="/arquivos/2021_cemaco_bannerteofrecemos_metodosdepago.png?v=637580816314270000" alt="" class="mt-4 mt-md-0">
            <p>Métodos de pago: <br> tarjetas, cuotas <br class="d-md-none">y depósitos</p>
            <span>Ver más</span>
        </section>
    </div>
</div>
</div>



<style type="text/css">
.home .mobile-fullwidth{
    position: relative;
    margin-left: -50vw; 
    margin-top: 0; 
    margin-bottom: 1rem;
    padding-top: 0;
    padding-bottom: 1rem;
    width: 100vw;
    left: 50%;
}
.fix-anchor{
    top: -150px;
}
.home .carruselHomeE .dt_showcase_slick li{
    border: none;
}
.home .products-slider__container .swiper:after {
    background: #f8f8f8;
}

.home .carruselHomeE .products-slider__container .swiper:after {
    background: white;
}

.home .carruselHomeE .dt-box.dt-box-embedded{
    background: #f7f7f7;
}
.home .carruselHomeE .container.re-central{
    margin-bottom: 0px !important;
}
.home .carruselHomeE .tag-other-products{
    font-size: 1.4em;
}
.home .product-list.grid-view .product-item__wrapper{
    margin-bottom: 10px;
}
.home .banners-three .content h3 {
    font-size: 1.1rem;
}

.home .banners-three .content span {
    font-size: .9em;
}

.home .mainimage .btn {
    right: calc(58% - 4.54rem);
    bottom: calc(62% - 4.7rem);
    padding: 5px 23px 5px;
}
.banner-mejoresmarcas{
    margin: 0 -12px;
}
.home .banner-mejoresmarcas {
    background-color: #FAFAFA;
}
.home .banners-slider__wrapper.mb-blocks{
    display: none;
}
.home .minispiff .minispiff-item h4 {
    font-size: 1.1em;
    padding-bottom: 0;
}

.home .minispiff .minispiff-item p.txt-p-spiff span {
    display: block;
    /* font-weight: bold; */
    text-decoration: underline;
    font-size: 0.613em;
}
.home .triplets h4{
    font-size: 1em;
}
#productsSpecialSlider01 .prateleira a p > svg {
    color: #fff;
    width: 0.9em;
    height: 0.9em;
    stroke-width: 5;
    vertical-align: middle;
}
.banner-item_text{
    font-size: 1em;
    text-align:center;
}
.banner-item_vermas{
    font-size: .875em;
    text-decoration: underline;
}
.vacaciones_vermas{
    font-size: .875em;
    text-decoration: underline;
}
.home .importanteparati .col-12:nth-child(2) img, .home .importanteparati .col-12.importanteparati-segundo img {
    width: 100%;
}
.home .ofertas-semana-wrapper .content {
    color: #000;
        text-align: center;
}
.home .ofertas-semana-wrapper .content h3 {
    font-size: 1.1rem;
    margin: 3% 0 0;
}
.home .ofertas-semana-wrapper .content .vermas {
       text-decoration: underline;
    font-size: .9em;
    font-weight: bold;
}

@media (max-width: 375px) {
    #cat-electrodom-linea-blanca{
        margin: 0 -8px;
        white-space: nowrap;
    }
    .home .importanteparati .col-12 p {
        font-size: .68em;
    }
}
@media (min-width: 375px) {
    .home .mainimage .btn {
        right: calc(57% - 4.54rem);
        bottom: calc(59% - 4.688rem);
    }

    .home .minispiff .minispiff-item h4 {
        font-size: 1.2em;
    }
    .content-marcas-banner .btn {
        right: calc(90% - 72%) !important;
    }
}

@media (min-width: 425px) {
    .content-marcas-banner .btn {
        right: calc(90% - 69%) !important;
        margin-bottom: 0.8rem !important;
    }
}

@media (min-width: 480px) {
    .home .mainimage .btn {
        right: calc(55% - 4.54rem) ;
        bottom: calc(60% - 4.688rem);
    }
    .home .triplets h4 {
        font-size: 1.1em;
    }
    .content-marcas-banner .btn {
        right: calc(90% - 67%) !important;
        margin-bottom: 1rem !important;
    }
}
@media (min-width: 576px){
    .home .triplets h4 {
    font-size: 1.3em;
    }
}
@media (min-width: 600px){
    .home .mainimage .btn {
        right: calc(54% - 4.54rem);
        bottom: calc(58% - 4.688rem);
    }
    .content-marcas-banner .btn {
        right: calc(90% - 64%) !important;
        margin-bottom: 1.8rem  !important;
    }
}
@media screen and (max-width: 767px){
    .home .products-slider__container{
        overflow: hidden;
    }
    .products-slider__container .swiper-initialized {
        margin-left: auto;
        margin-right: -15px;
    }
}
@media (min-width: 768px) {
    .banner-mejoresmarcas{
        margin: auto;
    }
    .home .mobile-fullwidth{
        position: initial;
        margin-left: 0vw; 
        width: auto;
        left: 0%;
        padding-top: 1rem;
        margin-top: auto;
    }
    .home .carruselHomeE .tag-other-products{
        font-size: 1.875em;
    }
    .home .banners-three .content h3 {
        font-size: .9em;
    }
    .home .importanteparati .col-12:first-child img,
    .home .importanteparati .col-12.importanteparati-primero img {
        width: 90%;
    }
    .home .importanteparati .col-12:nth-child(2) img,
    .home .importanteparati .col-12.importanteparati-segundo img {
        width: 98%;
        padding-top: 0%;
    }
    .home .importanteparati .col-12:last-child img,
    .home .importanteparati .col-12.importanteparati-ultimo img {
        width: 70%;
        padding-top: 3%;
    }

    .navidad-spiffs {
        display: none;
    }

    .home .banners-slider__wrapper.mb-blocks{
        display: block;
    }

    .home .mainimage .btn {
        right: calc(58% - 4.54rem);
        bottom: calc(9%);
    }
    .home .board-ferreteria.marcas-ferre .swiper-button-next ,
    .home .board-ferreteria.marcas-ferre .swiper-button-prev {
        color: #101E8E;
    }
    .content-marcas-banner .btn {
        margin-bottom: .5rem  !important;
        right: calc(51% - 4.54rem) !important;
    }
    .banner-item_text{
        font-size: 1.25em;
    }
    .ofertas-semana-wrapper p{
        text-decoration: underline;
        font-weight: normal;
        margin-bottom: 5px;
        font-size: .613em;
    }
}

@media (min-width: 992px){
    .banner-item_text{
        font-size: 1.118em;
    }
}
@media (min-width: 1024px){
    .home .mainimage .btn {
        right: calc(55% - 3.54rem);
        bottom: calc(13%);
    }
    .home .triplets h4{
        font-size: 1.2em;
    }
    .home .product-list.grid-view .product-item__price{
        flex-direction: column;
    }
    
    .content-marcas-banner .btn {
        right: calc(49% - 4.54rem) !important;
        margin-bottom: 1rem !important;
    }
}

@media (min-width: 1200px) {
    .home .banners-three .content h3 {
        font-size: 1.25em;
    }
    .home .mainimage .btn {
        bottom: calc(15.5%);
        right: calc(56% - 3.9rem);
    }
    .home .importanteparati .col-12:first-child img,
    .home .importanteparati .col-12.importanteparati-primero img {
        width: 90%;
        padding-top: 2%;
    }
    .home .importanteparati .col-12:nth-child(2),
    .home .importanteparati .col-12.importanteparati-segundo {
        width: 33.33%;
    }
    .home .importanteparati .col-12:nth-child(2) img,
    .home .importanteparati .col-12.importanteparati-segundo img {
        width: 98%;
        padding-top: 0%;
    }
    .home .importanteparati .col-12:last-child img,
    .home .importanteparati .col-12.importanteparati-ultimo img {
        width: 66%;
        padding-top: 1%;
    }
    .home .content-marcas-banner .btn {
        right: calc(48% - 4.54rem) !important;
        margin-bottom: 1.2rem !important;
    }
}

@media (min-width: 1400px) {
    .home .banners-three .content h3 {
        font-size: 1.625em;
    }
    .home .mainimage .btn {
        bottom: calc(15.5%);
    }
    .home .importanteparati .col-12:nth-child(2) img,
    .home .importanteparati .col-12.importanteparati-segundo img {
        width: 98%;
        padding-top: 1%;
    }

    .home .product-list.grid-view .product-item__price{
        flex-direction: row;
    }
    
    .home .content-marcas-banner .btn {
        right: calc(48% - 4.54rem) !important;
        margin-bottom: 1.8rem !important;
    }
}
</style>