<div class="row mb-4">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center BannerHomeP">
        <a href="/c-aprende-en-casa">
            <div class="mainimage">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/bts2022_home_portada_mobileD.png" type="image/webp" media="(max-width: 767px)" />
                    <source srcset="/arquivos/bts2022_home_portada_mobileD.png" media="(max-width: 767px)" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/bts2022_home_portada_deskD.png" type="image/webp"/> 
                    <img src="/arquivos/bts2022_home_portada_deskD.png" alt="Regreso a clases" />
                </picture>
                <span class="btn d-md-block m-0">Ver más</span>
            </div>
        </a>
    </div>
</div>
<!-- Empieza spiff Navidad -->
<div class="row spiff__after-slider text-center g-0">
    <div class="col-6 col-md-3 mb-3 pr-mobile pr-desk HomespiffA">
        <a href="/1018?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/bts22_home_spiff-equipaD.png" type="image/webp">
                <img src="/arquivos/bts22_home_spiff-equipaD.png" alt="Hasta 50% de descuento en tecnologia mueble y entretenimiento">
            </picture>
            <h5 class="pb-1">Equipa tu<br>espacio</h5>
            <p><!--Electrodomésticos, cocina <br class="d-block d-sm-none"> y mesa-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-6 col-md-3 mb-3 pl-mobile p-desk-between HomespiffB">
        <a href="/1709?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/bts22_home_spiff-organizaD.png" type="image/webp">
                <img src="/arquivos/bts22_home_spiff-organizaD.png" alt="Hasta 50% de descuento en cuidado personal y bano">
            </picture>
            <h5 class="pb-1">Organiza tu<br>área de estudio</h5>
            <p><!--Tecnología, muebles y entretenimiento-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-6 col-md-3 pr-mobile p-desk-between HomespiffC">
        <a href="/1019?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/bts22_home_spiff-tecnologiaD.png" type="image/webp">
                <img src="/arquivos/bts22_home_spiff-tecnologiaD.png" alt="Hasta 50% de descuento en ferreteria">
            </picture>
            <h5 class="pb-1">Tecnología para<br>tu espacio</h5>
            <p><!--Descuento en ferretería-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
    <div class="col-6 col-md-3 pl-mobile pl-desk HomespiffD">
        <a href="/1708?map=productClusterIds">
            <picture>
                <source srcset="/arquivos/bts22_home_spiff-iluminacionD.png" type="image/webp">
                <img src="/arquivos/bts22_home_spiff-iluminacionD.png" alt="Hasta 50% en electrodomesticos cocina y mesa">
            </picture>
            <h5 class="pb-1">Iluminación y<br class="d-md-none"> protectores <br class="d-none d-md-block">de corriente</h5>
            <p><!--Dormitorio, baños, y más-->
                <u class="fw-bold">Ver más</u>
            </p>
        </a>
    </div>
</div>


<style>
    .home .banners-three .content h4{
        font-size: 1rem;
        color: #fff !important;
    }

    .home .spiff__after-slider .pl-mobile{
        padding-left: 0.3em;
    }
    .home .spiff__after-slider .pr-mobile{
        padding-right: 0.3em;
    }
    .product-item__wishlist {
        display: none;
    }
    .home .spiff__after-slider h5 {
        font-size: 0.7em;
    }
	.home .spiff__after-slider p u {
		font-family: 'Helvetica';
	}
	@media (min-width: 375px) {
		.home .spiff__after-slider h5 {
			font-size: 0.8em;
		}
	}
    @media (min-width: 414px) {
        .home .spiff__after-slider h5 {
            font-size: 1em;
        }
    }
    @media (min-width: 495px) {
        .home .spiff__after-slider h5 {
            font-size: 1.2em;
        }
		.home .spiff__after-slider p u {
			font-size: 1.1em;
		}
    }
	@media (min-width: 768px) {
        .home .spiff__after-slider .pl-desk{
            padding-left: 0.7em;
        }
        .home .spiff__after-slider .pr-desk{
            padding-right: 0.7em;
        }

        .home .spiff__after-slider .p-desk-between{
            padding-right: 0.35em;
            padding-left: 0.35em;
        }

        .products-slider__container .swiper {
            padding-right: 9px;
            padding-left: 17px;
        }

        .page-main--home-page .re-central .products-slider__wrapper:nth-child(5) .products-slider__container {
            background: url('https://sfo2.digitaloceanspaces.com/cemacogt/cemaco/2021/Magicas Ofertas/carrusel_bkg_MO_desk.png') top;
        }
		.home .spiff__after-slider h5 {
			font-size: 0.83em;
        }
		.home .spiff__after-slider p u {
			font-size: 1.1em;
		}
    }
    @media (min-width: 992px) {
        .home .spiff__after-slider h5 {
			font-size: 1.1em;
        }
		.home .spiff__after-slider p u {
			font-size: 1.1em;
		}
    }
    @media (min-width: 1024px) {
        .products-slider__wrapper .product-list.grid-view .product-item__price {
            padding-top: 0px !important;
        }

        .products-slider__container .swiper {
            padding-right: 9px;
            padding-left: 14px;
        }   
    }
    @media (min-width: 1300px) {
		.home .spiff__after-slider h5 {
			font-size: 1.3em;
        }
		.home .spiff__after-slider p u {
			font-size: 1.2em;
		}
    }
	@media (min-width: 1400px) {
		.home .spiff__after-slider p u {
			font-size: 1.2em;
		}
		.home .spiff__after-slider p u {
			font-size: 1em;
		}
    }
    @media (max-width: 480px) {
        .page-main--home-page .re-central .products-slider__wrapper:nth-child(5){
            width: 109% !important;
            margin: 0 0 0 -17px !important;
        }
    }
    @media (max-width: 375px) {
        .page-main--home-page .re-central .products-slider__wrapper:nth-child(5){
            width: 112% !important;
            margin: 0 0 0 -18px !important;
        }
    }
    @media (max-width: 320px) {
        .page-main--home-page .re-central .products-slider__wrapper:nth-child(5){
            margin: 0 0 0 -16px !important;
        }
    }
    

</style>