<div class="row banner_container herramientas text-center mt-0 mb-2 mb-md-5 mx-lg-1">
    
    <div class="col-12">
		<h2 class="fs-3 pb-1 tag-title--level-3 mt-2 pt-0 d-inline-block mb-0" id="departaments">Colecciones navideñas</h2>
	</div>
	
	<div class="col-12 pt-md-3  p-3 px-md-5 swiper swipernavidad">
	    <div class="swiper-wrapper">
	        
            <div class="col-12 swiper-slide">
                
                    <a href="/2030?map=productClusterIds">
                        <picture>
                            <source srcset="/arquivos/2022oct_card_home_cemaco_navidad_paseo_polar_mob.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022oct_card_home_cemaco_navidad_paseo_polar_desk.png" alt="Paseo Polar">
                        </picture>
                    </a>
               
            </div>
            
            <div class="col-12 swiper-slide">
                
                    <a href="/2028?map=productClusterIds">
                        <picture>
                            <source srcset="/arquivos/2022oct_card_home_cemaco_navidad_espiritu_navideno_mob.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022oct_card_home_cemaco_navidad_espiritu_navideno_desk.png" alt="espíritu navideño">
                        </picture>
                    </a>
               
            </div>
            
            <div class="col-12 swiper-slide">
               
                    <a href="/2027?map=productClusterIds">
                        <picture>
                            <source srcset="/arquivos/2022oct_card_home_cemaco_navidad_encanto_natural_mob.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022oct_card_home_cemaco_navidad_encanto_natural_desk.png" alt="Encanto natural">
                        </picture>
                    </a>
               
            </div>
            
            <div class="col-12 swiper-slide">
               
                    <a href="/2026?map=productClusterIds">
                        <picture>
                            <source srcset="/arquivos/2022oct_card_home_cemaco_navidad_destellos_de_luz_mob.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022oct_card_home_cemaco_navidad_destellos_de_luz_desk.png" alt="Destellos de luz">
                        </picture>
                    </a>
                
            </div>
            
            <div class="col-12 swiper-slide">
          
                    <a href="/2029?map=productClusterIds">
                        <picture>
                            <source srcset="/arquivos/2022oct_card_home_cemaco_navidad_fantasia_mob.png" media="(max-width: 767px)">
                            <img src="/arquivos/2022oct_card_home_cemaco_navidad_fantasia_desk.png" alt="Fantasía">
                        </picture>
                    </a>
          
            </div>
            
        </div>
        
        <div id="banner-slider-prev1" class="swiper-button-prev d-none d-md-flex"></div>
        <div id="banner-slider-next1" class="swiper-button-next d-none d-md-flex"></div>
        
    </div>
    
</div>
<!--triplets categorías-->



<!--empieza spiffs esta semana en cemaco.com-->

<div class="tripletsback banners-clases text-center my-4 py-2 pb-md-4 px-md-5" style="background-color: #4055AA;">
    <div class="titler">
        <h4 class="fs-3 text-white text-center mt-0 tag-title--level-3 pb-1">Esta semana en CEMACO.com</h4>
        <p class="text-white pb-3">
            Ofertas y productos de tus marcas favoritas y mucho <br class="d-block d-md-none">más que solo podrás
            encontrar aquí
        </p>
    </div>
    <div class="row px-4 px-xl-5 d-md-flex justify-content-between">

        <div class="col-12 col-md-6 banners-clases-item pb-3 pe-md-3">
            <div class="border_radius" style="box-shadow: 5px 6px 5px 1px rgb(64 82 154);">
                <a href="/ofertasdelasemana">
                    <picture>
                        <source srcset="/arquivos/2022sep_HomeCemaco_19sep_9.png"
                            media="(max-width: 767px)">
                        <img src="/arquivos/2022sep_HomeCemaco_19sep_4.png" alt="ofertas">
                    </picture>
                    <div class="cont-titular py-3">
                        <h3 class="fs-5 py-1">Ofertas de la semana</h3>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-12 col-md-6 banners-clases-item pb-3 ps-md-3">
            <div class="border_radius" style="box-shadow: 5px 6px 5px 1px rgb(64 82 154);">
                <a href="/novedades">
                    <picture>
                        <source srcset="/arquivos/2022sep_HomeCemaco_19sep_7.png"
                            media="(max-width: 767px)">
                        <img src="/arquivos/2022sep_HomeCemaco_19sep_5.png" alt="novedades">
                    </picture>
                    <div class="cont-titular py-3">
                        <h3 class="fs-5 py-1">Novedades</h3>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>







<div class="row row pt-md-4">
    <div class="col-12">
        <a href="/mundial">
            <picture>
                <source srcset="/arquivos/2022oct_home_cemaco_banner_vive_la_pasion_mob.png" media="(max-width: 767px)">
                <img src="/arquivos/2022oct_home_cemaco_banner_vive_la_pasion_desk.png" alt="mundial">
            </picture>
        </a>
    </div>
</div>


<!--termina spiffs esta semana en cemaco.com-->













<div class="row m-0 p-0">
    
    <div class="col-12 order-1 order-md-1 m-0 p-0">

        <!-- Inicia spiff esenciales del día a día -->
        <div class="banner-nuestros-top-deptos px-md-0 pt-5">
            <div class="titler pb-3 pb-md-4 col-12 text-center">
                <h2 class="fs-3 pb-1 tag-title--level-3 mb-0 mt-0 pt-0 d-inline-block" id="departaments">Esenciales del día a día</h2>
                <p>Compra ahora esos productos que no te pueden faltar</p>
            </div>
            
            <div class="row text-center triplets padding-triplets-dobles px-0 mx-md-0">
                
                <div class="col-12 col-md-4 mb-6 mb-md-0 ps-0 pe-2 pb-4 pe-md-5">
                    <div class="border_radius_sinsombra2 content-spiff overflow-hidden bgwhite-border">
                        <a href="/limpieza-y-lavanderia/productos-quimicos-y-limpiadores">
                            <picture>
                                <source srcset="/arquivos/2022oct_HomeCemaco_10oct_12.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022oct_HomeCemaco_10oct_10.png" alt="Limpieza">
                            </picture>
                            <h4 class="mt-lg-2 pb-1 pt-2 new-top-deptos-1">Limpieza</h4>
                            <p class="fw-normal pb-3 view-more-txt-ft new-top-deptos-txt-1">Para cada espacio de tu hogar</p>
                        </a>
                    </div>
                </div>
                
                <div class="col-12 col-md-4 mb-6 mb-md-0 pe-1 pe-md-4 ps-md-4 ps-1 pb-4">
                    <div class="border_radius_sinsombra2 content-spiff overflow-hidden bgwhite-border">
                        <a href="/limpieza-y-lavanderia/productos-quimicos-y-limpiadores/jabones-y-detergentes">
                            <picture>
                                <source srcset="/arquivos/2022oct_HomeCemaco_10oct_13.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022oct_HomeCemaco_10oct_11.png" alt="detergente">
                            </picture>
                            <h4 class="mt-lg-2 pb-1 pt-2 new-top-deptos-2">Detergentes para ropa</h4>
                            <p class="fw-normal pb-3 view-more-txt-ft new-top-deptos-txt-2">Déjala como nueva</p>
    
                        </a>
                    </div>
                </div>
                
                <div class="col-12 col-md-4 mb-6 mb-md-0 pe-0 pe-md-0 ps-md-5 ps-2 pb-4">
                    <div class="border_radius_sinsombra2 content-spiff overflow-hidden bgwhite-border">
                        <a href="/s/mascotas#alimentos">
                            <picture>
                                <source srcset="/arquivos/2022oct_HomeCemaco_10oct_14.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022oct_HomeCemaco_10oct_3.png" alt="mascotas">
                            </picture>
                            <h4 class="mt-lg-2 pb-1 pt-2 new-top-deptos-2">Mascotas</h4>
                            <p class="fw-normal pb-3 view-more-txt-ft new-top-deptos-txt-2">Comida y premios para el consentido del hogar</p>
                        </a>
                    </div>
                </div>
        
            </div>
        </div>
        <!-- Termina spiff escenciales del día a día -->
    
    </div>







    <div class="col-12 order-2 order-md-2 m-0 p-0">

        <div class="back-cocina pt-3 pb-1 px-3 px-md-0">
            <!-- Empieza spiffs Te ayudamos. -->
            <div class="row spiff__after-slider text-center g-0 my-1 px-0 px-md-0">
            
                <div class="titler pb-3 pb-md-4 col-12">
                    <h2 class="fs-3 pb-1 tag-title--level-3 mb-0 mt-0 pt-0 d-inline-block" id="departaments">¿cuál es tu proyecto de hoy?
                    </h2>
                    <p>Nos comprometemos contigo para que encuentres los <br class="d-block d-md-none">productos que necesitas para hacer realidad tus proyectos</p>
                    <a class="text-center d-inline-block fw-normal d-inline-block" href="/teayudamos">
                        <p class="ms-2 text-decoration-underline">Ver más</p>
                    </a>
                </div>
            
                <div class="order-0 order-md-0 col-6 col-md-3 mb-3 overflow-hidden pr-mobile pr-desk">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/c-patio-y-jardin">
                            <picture>
                                <source srcset="/arquivos/2022sep_home_spiff_proyectos_churrascos_este_finde_mob.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022sep_home_spiff_proyectos_churrascos_este_finde_desk.png" alt="churrasco">
                            </picture>
                            <h5 class="pt-3 pb-0">¿churrasco este finde?</h5>
                            <p class="pt-2 pb-3 pb-md-0">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="order-1 order-md-1 col-6 col-md-3 mb-3 overflow-hidden pl-mobile p-desk-between">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/c-cocina-y-mesa">
                            <picture>
                                <source srcset="/arquivos/2022sep_HomeCemaco_19sep_23.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022sep_HomeCemaco_19sep_26.png" alt="recetas">
                            </picture>
                            <h5 class="pt-3 pb-0">¿aprendiendo recetas?</h5>
                            <p class="pt-2 pb-3 pb-md-0">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="order-2 order-md-2 col-6 col-md-3 overflow-hidden pr-mobile p-desk-between">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/c-pinturas">
                            <picture>
                                <source srcset="/arquivos/2022sep_spiff_home_amarillo_o_rosa_mob.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022sep_spiff_home_amarillo_o_rosa_desk.png" alt="pinturas">
                            </picture>
                            <h5 class="pt-3 pb-0">¿amarillo o rosa?</h5>
                            <p class="pt-2 pb-3 pb-md-0">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="order-3 order-md-3 col-6 col-md-3 overflow-hidden pl-mobile pl-desk">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/c-herramientas">
                            <picture>
                                <source srcset="/arquivos/2022sep_HomeCemaco_19sep_24.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022sep_HomeCemaco_19sep_27.png" alt="herramientas">
                            </picture>
                            <h5 class="pt-3 pb-0">¿casita para Coco?</h5>
                            <p class="pt-2 pb-3 pb-md-0">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
            
            
            </div>
            
            <!-- termina spiffs Te ayudamos. -->
    </div>
    </div>

    <!-- Empieza spiffs Especial de Lluvia-->
    <!-- <div class="col-12 order-4 order-md-3  m-0 p-0">
        <div class="back-cocina mt-5 pt-3 pb-1 px-3 px-md-0 mb-4 mb-md-5">
            <div class="row spiff__after-slider text-center g-0 my-1 px-0 px-md-4">
            
                <div class="pb-3 pb-md-4 col-12 d-flex justify-content-center align-items-end">
                    <h2 class="pb-0 tag-title--level-3 mb-0 mt-0 pt-0 d-inline-block" id="departaments">Especial de lluvia
                    </h2>
                    <a class="text-center d-inline-block fw-normal d-inline-block" href="/paralalluvia">
                            <p class="ms-2 text-decoration-underline">Ver más</p>
                        </a>
                </div>
            
                <div class="order-0 order-md-1 col-12 col-md-4 overflow-hidden pr-desk">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/limpieza-y-lavanderia/deshumidificadores-y-repuestos/deshumidificadores">
                            <picture>
                                <source srcset="/arquivos/2022oct_HomeCemaco_10oct_16.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022oct_HomeCemaco_10oct_15.png" alt="deshumidificadores">
                            </picture>
                            <h5 class="pt-3 pb-0">Deshumidificadores</h5>
                            <p class="pt-3 pt-md-2 pb-3">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="order-1 order-md-2 col-12 col-md-4 overflow-hidden p-desk-between">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/electrodomesticos/ambiente-y-temperatura/calentadores">
                            <picture>
                                <source srcset="/arquivos/2022oct_HomeCemaco_10oct_19.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022oct_HomeCemaco_10oct_20.png" alt="calentadores">
                            </picture>
                            <h5 class="pt-3 pb-0">Calentadores</h5>
                            <p class="pt-3 pt-md-2 pb-3">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="order-2 order-md-3 col-12 col-md-4 overflow-hidden pl-desk">
                    <div class="content-spiffs overflow-hidden">
                        <a href="/1312?map=productClusterIds">
                            <picture>
                                <source srcset="/arquivos/2022oct_HomeCemaco_10oct_18.png" media="(max-width: 767px)">
                                <img src="/arquivos/2022oct_HomeCemaco_10oct_17.png" alt="sombrilla">
                            </picture>
                            <h5 class="pt-3 pb-0">Sombrillas y accesorios</h5>
                            <p class="pt-3 pt-md-2 pb-3">
                                <u class="fw-bold view-more-txt-ft">Ver más</u>
                            </p>
                        </a>
                    </div>
                </div>
            
            
            </div>
            
        </div>
    </div> -->
    <!-- termina spiffs Especial de Lluvia-->
    
    
    <!-- Inicia spiff La ferretería más completa -->
    <div class="col-12 order-3 order-md-4  m-0 p-0">
        <div class=" re-central mb-3 mt-3 mt-md-3">
            <div class="banner-nuestros-top-deptos">
                <div class="text-center pb-3 pb-md-4 col-12 ">
                        <h2 class="fs-3 pb-0 tag-title--level-3 mb-0 mt-0 pt-0 " id="departaments">La ferretería más completa
                        </h2>
                        <a class="text-center d-inline-block fw-normal d-inline-block" href="/todoenferreteria">
                                <p class="ms-2 text-decoration-underline">Ver más</p>
                            </a>
                    </div>
                <div class="row text-center triplets padding-triplets-dobles px-0">
                    <div class="col-6 col-md-6 mb-6 mb-md-0 ps-0 pe-2 pb-4 pe-md-3">
                        <div class="border_radius_sinsombra content-spiff overflow-hidden">
                            <a href="/c-plomeria">
                                <picture>
                                    <source srcset="/arquivos/2022_superBlack_bannerPlomeria_mobile.jpg" media="(max-width: 767px)">
                                    <img src="/arquivos/2022_superBlack_bannerPlomeria_desk.jpg" alt="plomería">
                                </picture>
                                <h4 class="mt-lg-2 pb-1 pt-2 new-top-deptos-1">Plomería</h4>
                                <p class="fw-normal text-decoration-underline pb-3 view-more-txt-ft new-top-deptos-txt-1">Ver
                                    más</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 mb-6 mb-md-0 pe-0 ps-md-3 ps-2 pb-4">
                        <div class="border_radius_sinsombra content-spiff overflow-hidden">
                            <a href="/c-herramientas">
                                <picture>
                                    <source srcset="/arquivos/2022_superBlack_bannerHerramientas_mobile.jpg" media="(max-width: 767px)">
                                    <img src="/arquivos/2022_superBlack_bannerHerramientas_desk.jpg" alt="herramientas">
                                </picture>
                                <h4 class="mt-lg-2 pb-1 pt-2 new-top-deptos-2">Herramientas</h4>
                                <p class="fw-normal text-decoration-underline pb-3 view-more-txt-ft new-top-deptos-txt-2">Ver
                                    más</p>
                            </a>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    </div>
    <!-- Termina spiff La ferretería más completa -->

</div>    





<!--

<div class="banner-single mb-5 todoenferreteria muebles mt-md-5">
    <a href="/paralalluvia">
        <picture>
            <source srcset="/arquivos/2022oct_home_cemaco_banner_especial_de_lluvia_mob.png" media="(max-width: 767px)">
            <img src="/arquivos/2022oct_home_cemaco_banner_especial_de_lluvia_desk.png" alt="lluvia">
        </picture>
        <div class="content ms-4 ms-md-0 cn-bn-pr ft-color-white">
            <h6 class="mb-0 titular d-block d-md-none pt-1 pb-0 text-start">Especial <br>de lluvia</h6>
            
            <span class="vermas fw-normal d-block d-md-none view-more-txt-ft text-start">Ver más</span>

            <h6 class="mb-0 titular d-none d-md-block pt-0 pb-0 text-center">Especial de lluvia</h6>
            
            <span class="vermas fw-normal d-none d-md-block text-center view-more-txt-ft">Ver más</span>
        </div>
    </a>
</div>
-->