<!-- Content 02 -->
	
	<div class="banner-single mt-4 mb-3">
        <a href="/todoenferreteria">
        <picture>
            <!-- Mobile -->
            <source srcset="/arquivos/propositos22_ferre_mobile.png" media="(max-width: 767px)" type="image/webp" />
            <!-- wepb -> min.png -->
            <source srcset="/arquivos/propositos22_ferre_mobile.png" media="(max-width: 767px)" />
            <!-- Desktop -->
            <source srcset="/arquivos/propositos22_ferre_desk.png" type="image/webp" />
            <!-- wepb -> min.png -->
            <img src="/arquivos/propositos22_ferre_desk.png" alt="Ferreteria Completa, todo en ferreteria" />
        </picture>
        <div class="content">
            <h3 class="pb-1 pt-md-0">Visita la ferretería <br class="d-none d-md-block">más completa</h3>
            <span class="vermas fw-normal">Ver más</span>
        </div>
        </a>
        </div>
        
        
        <!-- Content Vacaciones-->
        <div class=" row banner_container mt-5 mb-3">
            <div class="desk col-12 d-none d-md-block pt-md-5">
                <!--h2 class="tag-title--level-3 pb-1">Disfruta de las vacaciones de fin de año</h2>
                <p class="text-center mb-3 vacaciones_vermas" id="ver-todo-txt"><a href="/1700?map=productClusterIds"><span>Ver todo</span> </a></p-->
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/propositos">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_portada_mobile.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- wepb -->
                    <img src="/arquivos/propositos_propositos_portada_desk.png" alt="Banner vacaciones" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-1 pt-md-0"><br/></h3>
                    <span class="banner-item_vermas">Ver todo</span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/ejercitateencasa">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_ejercicio_mobileD.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/propositos_propositos_ejercicio_desk.png" type="image/webp" />
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/propositos_propositos_ejercicio_desk.png" alt="Banner vacaciones 1" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-1 pt-md-0">Ejercicio en casa</h3>
                    <span class="banner-item_vermas">Ver más</span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/c-organizacion">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_ordena_mobile.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/propositos_propositos_ordena_desk.png" type="image/webp" />
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/propositos_propositos_ordena_desk.png" alt="Banner vacaciones 2" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-2 pb-md-1 pt-md-0">Ordena tu closet y lavandería</h3>
                    <span class="banner-item_vermas">Ver más</span>
                </div>
                </a>
            </div>
            <div class="col-6 col-md-3 mb-3 banner_item">
                <a href="/c-cocina-y-mesa">
                <picture>
                    <!-- Mobile -->
                    <source srcset="/arquivos/propositos_propositos_ejercicio_mobile.png" media="(max-width: 767px)" type="image/webp" />
                    <!-- Desktop -->
                    <source srcset="/arquivos/propositos_propositos_cocina_desk.png" type="image/webp" />
                    <!-- wepb -> min.png -->
                    <img src="/arquivos/propositos_propositos_cocina_desk.png" alt="Banner vacaciones 3" />
                </picture>
                <div class="content d-flex flex-column align-items-center pt-md-2">
                    <h3 class="banner-item_text pb-4 pb-md-1 pt-md-0">Cocina saludable</h3>
                    <span class="banner-item_vermas">Ver más</span>
                </div>
                </a>
            </div>
            
        </div>
        
        </div>
        
        <div class="re-central">
        <!-- Descubre nuestros top departamentos -INICIO-->
        <div class="banner-nuestros-top-deptos ps-2 pe-2 pt-5">
            <h2 class="text-center tag-title--level-3 pb-4 d-none d-md-block">Nuestros top departamentos</h2>
            <h2 class="text-center tag-title--level-3 pb-md-3 d-block d-md-none">Nuestros top <br/>Departamentos</h2>
            <div class="row text-center triplets">
                <div class="col-12 col-md-6 mb-6 mb-md-0 pb-4">
                    <a href="/c-cocina-y-mesa">
                        <picture>
                            <source srcset="/arquivos/bts22_home_topdeptos_cocina_mobile.png" type="image/webp" media="(max-width: 767px)">
                            <source srcset="/arquivos/bts22_home_topdeptos_cocina_mobile.png" media="(max-width: 767px)">
                            <source srcset="/arquivos/bts22_home_topdeptos_cocina.png" type="image/webp">
                            <img src="/arquivos/bts22_home_topdeptos_cocina.png" alt="Cocina y mesa">
                        </picture>
                        <h4 class="mt-lg-2 pb-2 pt-3">Cocina y mesa</h4>
                        <u class="fw-normal">Ver más</u>
                    </a>
                </div>
                <div class="col-12 col-md-6 mb-6 mb-md-0 pb-4">
                    <a href="/segundonivel/dormitorio">
                        <picture>
                            <source srcset="/arquivos/bts22_home_topdeptos_blancos_mobile.png" type="image/webp" media="(max-width: 767px)">
                            <source srcset="/arquivos/bts22_home_topdeptos_blancos_mobile.png" media="(max-width: 767px)">
                            <source srcset="/arquivos/bts22_home_topdeptos_blancos.png" type="image/webp">
                            <img src="/arquivos/bts22_home_topdeptos_blancos.png" alt="Blancos">
                        </picture>
                        <h4 class="mt-lg-2 pb-2 pt-3">Blancos</h4>
                        <u class="fw-normal">Ver más</u>
                    </a>
                </div>
            </div>
        </div>
        <!-- Descubre nuestros top departamentos -FIN-->
        
        <!-- Inicio Banner liquidacion -->
        <div class="banner-single mt-3 mb-3">
        <a href="/liquidacion">
            <picture>
                <!-- Mobile -->
                <source srcset="/arquivos/2021_home-banner-liquidacion_mob.jpg" media="(max-width: 767px)" type="image/webp">
                <!-- Desktop -->
                <source srcset="/arquivos/2021_home-banner-liquidacion_desk.jpg" type="image/webp">
                <!-- wepb -> min.png -->
                <img src="/arquivos/2021_home-banner-liquidacion_desk.jpg" alt="Liquidacion">
            </picture>
        </a>
        </div>
        <!-- Fin Banner liquidacion -->
        
 



        <!-- Todo para tus proyectos -FIN- -->
        <div class=".carruselDepaBebesU mobile-fullwidth" ></div> 
  
        
        
        <style type="text/css">
        .home .mobile-fullwidth{
            position: relative;
            margin-left: -50vw; 
            margin-top: 0; 
            margin-bottom: 1rem;
            padding-top: 0;
            padding-bottom: 1rem;
            width: 100vw;
            left: 50%;
        }
        .fix-anchor{
            top: -150px;
        }
        .home .carruselHomeE .dt_showcase_slick li{
            border: none;
        }
        .home .products-slider__container .swiper:after {
            background: #f8f8f8;
        }
        
        .home .carruselHomeE .products-slider__container .swiper:after {
            background: white;
        }
        
        .home .carruselHomeE .dt-box.dt-box-embedded{
            background: #f7f7f7;
        }
        .home .carruselHomeE .container.re-central{
            margin-bottom: 0px !important;
        }
        .home .carruselHomeE .tag-other-products{
            font-size: 1.4em;
        }
        .home .product-list.grid-view .product-item__wrapper{
            margin-bottom: 10px;
        }
        .home .banners-three .content h3 {
            font-size: 1.1rem;
        }
        
        .home .banners-three .content span {
            font-size: .9em;
        }
        
        .home .mainimage .btn {
            right: calc(58% - 4.54rem);
            bottom: calc(62% - 4.7rem);
            padding: 5px 23px 5px;
            font-family: 'Helvetica';
            font-size: 0.8rem;
        }
        .banner-mejoresmarcas{
            margin: 0 -12px;
        }
        .home .banner-mejoresmarcas {
            background-color: #FAFAFA;
        }
        .home .banners-slider__wrapper.mb-blocks{
            display: none;
        }
        .home .minispiff .minispiff-item h4 {
            font-size: 1.1em;
            padding-bottom: 0;
        }
        
        .home .minispiff .minispiff-item p.txt-p-spiff span {
            display: block;
            /* font-weight: bold; */
            text-decoration: underline;
            font-size: 0.613em;
        }
        .home .triplets h4{
            font-size: 1em;
        }
        #productsSpecialSlider01 .prateleira a p > svg {
            color: #fff;
            width: 0.9em;
            height: 0.9em;
            stroke-width: 5;
            vertical-align: middle;
        }
        .banner-item_text{
            font-size: 1em;
            text-align:center;
        }
        .banner-item_vermas{
            font-size: .875em;
            text-decoration: underline;
        }
        .vacaciones_vermas{
            font-size: .875em;
            text-decoration: underline;
        }
        .home .importanteparati .col-12:nth-child(2) img, .home .importanteparati .col-12.importanteparati-segundo img {
            width: 100%;
        }
        .prateleira a:nth-child(2),.prateleira a:nth-child(3){
            display: none!important;
        }
        @media (max-width: 375px) {
            #cat-electrodom-linea-blanca{
                margin: 0 -8px;
                white-space: nowrap;
            }
            .home .importanteparati .col-12 p {
                font-size: .68em;
            }
        }
        @media (min-width: 375px) {
            .home .mainimage .btn {
                right: calc(57% - 4.54rem);
                bottom: calc(59% - 4.688rem);
            }
        
            .home .minispiff .minispiff-item h4 {
                font-size: 1.2em;
            }
            .content-marcas-banner .btn {
                right: calc(90% - 72%) !important;
            }
        }
        
        @media (min-width: 425px) {
            .content-marcas-banner .btn {
                right: calc(90% - 69%) !important;
                margin-bottom: 0.8rem !important;
            }
        }
        
        @media (min-width: 480px) {
            .home .mainimage .btn {
                right: calc(55% - 5rem);
                bottom: calc(55% - 4.688rem);
                padding: 6px 7%;
            }
            .home .triplets h4 {
                font-size: 1.1em;
            }
            .content-marcas-banner .btn {
                right: calc(90% - 67%) !important;
                margin-bottom: 1rem !important;
            }
        }
        @media (min-width: 576px){
            .home .triplets h4 {
            font-size: 1.3em;
            }
        }
        @media (min-width: 600px){
            .content-marcas-banner .btn {
                right: calc(90% - 64%) !important;
                margin-bottom: 1.8rem  !important;
            }
        }
        @media screen and (max-width: 767px){
            .home .products-slider__container{
                overflow: hidden;
            }
            .products-slider__container .swiper-initialized {
                margin-left: auto;
                margin-right: -15px;
            }
        }
        @media (min-width: 768px) {
            .banner-mejoresmarcas{
                margin: auto;
            }
            .home .mobile-fullwidth{
                position: initial;
                margin-left: 0vw; 
                width: auto;
                left: 0%;
                padding-top: 1rem;
                margin-top: auto;
            }
            .home .carruselHomeE .tag-other-products{
                font-size: 1.875em;
            }
            .home .banners-three .content h3 {
                font-size: .9em;
            }
            .home .importanteparati .col-12:first-child img,
            .home .importanteparati .col-12.importanteparati-primero img {
                width: 90%;
            }
            .home .importanteparati .col-12:nth-child(2) img,
            .home .importanteparati .col-12.importanteparati-segundo img {
                width: 98%;
                padding-top: 0%;
            }
            .home .importanteparati .col-12:last-child img,
            .home .importanteparati .col-12.importanteparati-ultimo img {
                width: 70%;
                padding-top: 3%;
            }
        
            .navidad-spiffs {
                display: none;
            }
        
            .home .banners-slider__wrapper.mb-blocks{
                display: block;
            }
        
            .home .mainimage .btn {
                right: calc(58% - 6rem);
                bottom: calc(9%);
                padding: 8px 6%;
            }
            .home .board-ferreteria.marcas-ferre .swiper-button-next ,
            .home .board-ferreteria.marcas-ferre .swiper-button-prev {
                color: #101E8E;
            }
            .content-marcas-banner .btn {
                margin-bottom: .5rem  !important;
                right: calc(51% - 4.54rem) !important;
            }
            .banner-item_text{
                font-size: 1.25em;
            }
        }
        
        @media (min-width: 992px){
            .banner-item_text{
                font-size: 1.118em;
            }
            .home .mainimage .btn {
                right: calc(58% - 6rem);
                bottom: calc(9%);
                padding: 10px 4%;
            }
        }
        @media (min-width: 1024px){
            .home .mainimage .btn {
                bottom: calc(12%);
            }
            .home .triplets h4{
                font-size: 1.2em;
            }
            
            .content-marcas-banner .btn {
                right: calc(49% - 4.54rem) !important;
                margin-bottom: 1rem !important;
            }
        }
        
        @media (min-width: 1200px) {
            .home .banners-three .content h3 {
                font-size: 1.25em;
            }
            .home .mainimage .btn {
                bottom: calc(11%);
            }
            .home .importanteparati .col-12:first-child img,
            .home .importanteparati .col-12.importanteparati-primero img {
                width: 90%;
                padding-top: 2%;
            }
            .home .importanteparati .col-12:nth-child(2),
            .home .importanteparati .col-12.importanteparati-segundo {
                width: 33.33%;
            }
            .home .importanteparati .col-12:nth-child(2) img,
            .home .importanteparati .col-12.importanteparati-segundo img {
                width: 98%;
                padding-top: 0%;
            }
            .home .importanteparati .col-12:last-child img,
            .home .importanteparati .col-12.importanteparati-ultimo img {
                width: 66%;
                padding-top: 1%;
            }
            .home .content-marcas-banner .btn {
                right: calc(48% - 4.54rem) !important;
                margin-bottom: 1.2rem !important;
            }
        }
        @media (min-width: 1200px) {
            .home .mainimage .btn {
                bottom: calc(11%);
                right: calc(56% - 6rem);
            }
        }
        @media (min-width: 1400px) {
            .home .banners-three .content h3 {
                font-size: 1.625em;
            }
            .home .mainimage .btn {
                bottom: calc(11%);
            }
            .home .importanteparati .col-12:nth-child(2) img,
            .home .importanteparati .col-12.importanteparati-segundo img {
                width: 98%;
                padding-top: 1%;
            }
            .home .content-marcas-banner .btn {
                right: calc(48% - 4.54rem) !important;
                margin-bottom: 1.8rem !important;
            }
        }
        @media (min-width: 1700px) {
            .home .mainimage .btn {
                bottom: calc(13%);
                right: calc(56% - 6.5rem);
                padding: 12px 4%;
            }
        }
        </style>