<!-- carrusel banner -inicio- -->
<div id="carruselBanner" class="carrusel-banners spiffs-personajes">
    <h5 class="fs-3 banner_title pt-md-0 text-center herramientasCategoria__titulo mt-4 pb-4">Más de tus <br class="d-block d-md-none"> personajes favoritos</h5>
    <div class="banner_general">

        <div id="swiper-personaje-carrusel" class=" banner_container personaje swiper d-flex contenedor-spiffs flex-wrap">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0">
                    <div class="d-flex d-md-none flex-column">
                        <a href="/1211?map=productClusterIds" class="banner_a ">
                            <div class="banner_item-picture">
                                <picture>
                                    <source srcset="/arquivos/2022sep_HomeNewJugueton_44.png" media="(max-width: 762px)">
                                    <img src="/arquivos/2022sep_HomeNewJugueton_44.png" class="img-banner" alt="Starwars">
                                </picture>
                            </div>
                        </a>
                        <a href="/2006?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_48.png" class="img-banner" alt="Peppa pig">
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-flex">
                        <a href="/1211?map=productClusterIds" class="banner_a ">
                            <div class="banner_item-picture">
                                <picture>
                                    <source srcset="/arquivos/2022sep_HomeNewJugueton_44.png" media="(max-width: 762px)">
                                    <img src="/arquivos/2022sep_HomeNewJugueton_44.png" class="img-banner" alt="Starwars">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0">
                    <div class="d-flex d-md-none flex-column">
                        <a href="/2002?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <source srcset="/arquivos/2022sep_HomeNewJugueton_49.png" media="(max-width: 762px)">
                                    <img src="/arquivos/2022sep_HomeNewJugueton_49.png" class="img-banner" alt="Frozen">
                                </picture>
                            </div>
                        </a>
                        <a href="/2007?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_42.png" class="img-banner" alt="Avengers">
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-flex">
                        <a href="/2002?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <source srcset="/arquivos/2022sep_HomeNewJugueton_49.png" media="(max-width: 762px)">
                                    <img src="/arquivos/2022sep_HomeNewJugueton_49.png" class="img-banner" alt="Frozen">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0">
                    <div class="d-flex d-md-none flex-column">
                        <a href="/2003?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_47.png" class="img-banner" alt="D.C.">
                                </picture>
                            </div>
                        </a>
                        <a href="/2008?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_43.png" class="img-banner" alt="Transformers">
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-flex">
                        <a href="/2003?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_47.png" class="img-banner" alt="D.C.">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0">
                    <div class="d-flex d-md-none flex-column">
                        <a href="/2004?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_46.png" class="img-banner" alt="Mario">
                                </picture>
                            </div>
                        </a>
                        <a href="/2009?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_41.png" class="img-banner" alt="Paw Patrol">
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-flex">
                        <a href="/2004?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_46.png" class="img-banner" alt="Mario">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0">
                    <div class="d-flex d-md-none flex-column">
                        <a href="/2005?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_45.png" class="img-banner" alt="Batman">
                                </picture>
                            </div>
                        </a>
                        <a href="/2010?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_40.png" class="img-banner" alt="PJ Masks">
                                </picture>
                            </div>
                        </a>
                    </div>
                    <div class="d-none d-md-flex">
                        <a href="/2005?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_45.png" class="img-banner" alt="Batman">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0 d-none d-md-flex">
                    <div class="d-none d-md-flex">
                        <a href="/2006?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_48.png" class="img-banner" alt="Peppa pig">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0 d-none d-md-flex">
                    <div class="d-none d-md-flex">
                        <a href="/2007?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_42.png" class="img-banner" alt="Avengers">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0 d-none d-md-flex">
                    <div class="d-none d-md-flex">
                        <a href="/2008?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_43.png" class="img-banner" alt="Transformers">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0 d-none d-md-flex">
                    <div class="d-none d-md-flex">
                        <a href="/2009?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_41.png" class="img-banner" alt="Paw Patrol">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide banner_item item-proyect position-relative overflow-hidden px-0 d-none d-md-flex">
                    <div class="d-none d-md-flex">
                        <a href="/2010?map=productClusterIds" class="banner_a">
                            <div class="banner_item-picture">
                                <picture>
                                    <img src="/arquivos/2022sep_HomeNewJugueton_40.png" class="img-banner" alt="PJ Masks">
                                </picture>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="swiper-personaje-button-next01" class="swiper-button-next banner"></div>
        <div id="swiper-personaje-button-prev01" class="swiper-button-prev banner"></div>
    </div>
</div>
<!-- carrusel banner  -FIN- -->