<!-- EMPIEZA ESTILOS GENERALES CEMACO CSS -->
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco.css?2016-12-3:10 13 30" id="cemacoStyles" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_jeank.css?2016-12-3:10 13 30" id="cemacoStylesJ" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_andre.css" id="cemacoStylesJ" />
<link rel="stylesheet" href="https://vtexstyles.cemaco.com/css/cemaco_kim.css?2016-12-3:10 13 30" id="cemacoStylesK" />
<!-- EMPIEZA ESTILOS GENERALES CEMACO CSS -->

<!-- EMPIEZA BANNER PORTADA -->
<div class="re-central portada-principal">
    <div class="banner-mundoferre">
        <div class="single-board">
            <div>
                <a href="/c-herramientas">
                    <div class="slider1-portada title-slider" title="Las mejores opciones y asesoría para tus proyectos">
                        <div class="text-center botonTodoFerre">
                            <button class="ferre-btn-banner"><strong>Ver más</strong></button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- TERMINA BANNER PORTADA -->

<!-- EMPIEZA BLOQUES SPIFF -->
<div class="minispiff-container re-central">
    <div class="minispiff">
        <div class="minispiff-item">
            <a href="/s/herramientas#electricas">
                <picture>
                    <source srcset="/arquivos/2022abr_spiff_img_herramientas_electricas_mob.png" media="(max-width: 767px)" />
                    <img src="/arquivos/2022abr_spiff_img_herramientas_electricas_desk.png" alt="Herramientas eléctricas" />
                </picture>
                <h4>Herramientas eléctricas<br class="desktop">&nbsp;</h4>
                <!--<p class="txt-p-spiff">La mejor calidad y variedad para<br class="mobile">-->
                <span>Ver más</span>
                <!--/p-->
            </a>
        </div>

        <div class="minispiff-item">
            <a href="/s/herramientas#herramientasmanuales">
                <picture>
                    <source srcset="/arquivos/2022abr_spiff_img_herramientas_manuales_mob.png" media="(max-width: 767px)"/>
                    <img src="/arquivos/2022abr_spiff_img_herramientas_manuales_desk.png" alt="Herramientas manuales"/>
                </picture>
                <h4>Herramientas manuales <br class="desktop">&nbsp;</h4>
                <!--<p class="txt-p-spiff">Lavatrastos, sanitarios, grifos y más-->
                <span>Ver más</span>
                <!--/p-->
            </a>
        </div>

        <div class="minispiff-item">
            <a href="/s/herramientas#compresores">
                <picture>
                    <source srcset="/arquivos/2022abr_spiff_img_compresores_y_herramientas_mob.png" media="(max-width: 767px)"/>
                    <img src="/arquivos/2022abr_spiff_img_compresores_y_herramientas_desk.png" alt="Compresores y herramientas neumáticas"/>
                </picture>
                <h4>Compresores y <br class="mobile">herramientas <br class="desktop"><br class="mobile">neumáticas</h4>
                <!--<p class="txt-p-spiff">La más completa variedad y las mejores <br class="mobile">marcas para cada proyecto.-->
                <span>Ver más</span>
                <!--/p-->
            </a>
        </div>

        <div class="minispiff-item">
            <a href="/s/herramientas#cajasherramientas">
                <picture>
                    <source srcset="/arquivos/2022abr_spiff_img_caja_de_herraminetas_y_organizadores_mob.png" media="(max-width: 767px)" />
                    <img src="/arquivos/2022abr_spiff_img_caja_de_herraminetas_y_organizadores_desk.png" alt="Cajas de herramientas y organizadores"/>
                </picture>
                <h4>Cajas de <br class="mobile">herramientas <br class="desktop">y<br class="mobile"> organizadores</h4>
                <span>Ver más</span>
                </p>
            </a>
        </div>
    </div>
</div>
<!-- TERMINA BLOQUES SPIFF -->

<!-- EMPIEZA APARTADO DE SCRIPTS -->
<script> 
    $(document).ready(function() {
            // $("#productsSlider01 .vitrine h2").after("<a class='linkcarrusel' href='/magicasofertas'>Ver más</b>");
            $("#productsSlider02 .vitrine h2").after("<a class='linkcarrusel' href='/s/herramientas#electricas'>Ver más</b>");
            $("#productsSlider03 .vitrine h2").after("<a class='linkcarrusel' href='/ofertasdelasemana'>Ver más</b>");
            $("#productsSlider04 .vitrine h2").after("<a class='linkcarrusel' href='/s/autos-motos#herramientas'>Ver más</b>");
            $("#productsSlider05 .vitrine h2").after("<a class='linkcarrusel' href='/c-patio-y-jardin'>Ver más</b>");
            $("#productsSlider06 .vitrine h2").after("<a class='linkcarrusel' href='/s/herramientas#herramientasmanuales'>Ver más</b>");
    })
</script>
<script>
    $(document).ready(function() {
        $(".vertodos").on("click", function() {
            $(this).hide();

            $(this).nextAll().fadeIn();

            $(".ofertas1").hide();

            $(".ofertas2").show();
        });
    });
</script>

<!-- EMPIEZA SCRIPT PARA MOSTRAR O OCULTAR ELEMENTOS -->
<script>
$(document).ready(function(){
    $(".item-to-display").hide();
    $(".see-all-button").click(function(){
        
        $(".item-to-display").slideDown();
        $(".see-all-button").fadeOut();
        
    });
});
</script>
<!-- TERMINA SCRIPT PARA MOSTRAR O OCULTAR ELEMENTOS -->

<!-- EMPIEZA APARTADO DE CSS -->
<style type="text/css">
    .herramientasCategoria__titulo{
        font-size: 1.25em;
    }
    .products-slider__wrapper .products-slider__container .product-list .importante-para-ti .importante_general .importante_container{
        background-color: white!important;
    }
    .importante_item-text{
        background-color: transparent!important;
    }
    .marcas-container .swiper-button-prev.brand{
        left: -40px!important;
    }
    .marcas-container .swiper-button-next.brand{
        right: -40px!important;
    }
    .brandCarrusel_item .product-item__wrapper .product-item .product-item__figure a{
        background-color: transparent!important;
        border:0;
    }
    .brandCarrusel_item .product-item__wrapper .product-item{
        background-color: transparent;
        border:0;
    }
    .landing--todoenferreteria .products-slider__container .prateleira .linkcarrusel {
        text-align: center;
        display: block;
        padding: 0 0 5% 0;
        text-decoration: underline;
        margin-right: 0!important;
    }
    .landing--todoenferreteria a.button-simple.secondary.text-decoration-underline {
        text-decoration: underline;
    }
    
    .landing--todoenferreteria .re-central.portada-principal {
        padding: 0;
    }
    
    .landing--todoenferreteria .minispiff-container.re-central {
        padding: 0;
    }
    
    .landing--todoenferreteria .banner-mundoferre {
        display: block;
        margin-bottom: 1%;
        overflow: hidden;
    }
    
    .landing--todoenferreteria .minispiff .minispiff-item h4 {
        font-size: 1.25em;
    }
    
    .landing--todoenferreteria .minispiff-container .minispiff-item span {
        display: block;
        font-weight: bold;
        text-decoration: underline;
        font-size: 0.9em;
    }
    
    .landing--todoenferreteria .single-board .slider1-portada {
        background-position: center;
        background-image: url(/arquivos/2022abr_banner_main_hazlo_tu_mismo_mob_v3.png);
        min-height: 369px;
        padding: 0 0 0 0;
        background-size: cover;
    }
    
    .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
        color: #101E8E;
        background-color: #94d529;
        padding: 7px 21px;
        font-size: 0.75rem;
        margin: 0 auto;
        border-radius: 25px;
    }
    
    .landing--todoenferreteria .slider1-portada .botonTodoFerre {
        max-width: 700px;
        padding: 15% 14% 0 0;
    }
    
    .landing--todoenferreteria .main-cat-jugueton {
        /*margin: 2% 0;*/
    }
    
    .landing--todoenferreteria .categories-bebe-wrapper h2 {
        font-size: 1.875em;
        text-align: center;
    }
    
    .landing--todoenferreteria .product-item__caption .linkcarrusel {
        display: none !important;
    }
    
    .landing--todoenferreteria .marcasferre-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .landing--todoenferreteria .marcasferre-slider img {
        margin: 0 auto;
    }
    
    .landing--todoenferreteria .marcasferre-slider li {
        width: 20%;
        height: 34px;
    }
    
    .landing--todoenferreteria .marcasferre-slider li img {
        width: 78% !important;
    }
    
    .landing--todoenferreteria .marcasferre-slider .marca-ace img {
        width: 49% !important;
    }
    
    .landing--todoenferreteria main.page-main--home-page {
        background-color: #F8F8F8;
    }
    /*Empieza seccion de popups*/
    
    .contenedor-popups {
        /*position: absolute; */
        /* width: 100%; */
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        z-index: 650;
        width: 100%;
        height: 100%;
        margin: auto auto;
        overflow: hidden;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    
    .cpopup-ofrecemos {
        position: fixed;
        width: 87%;
        margin: auto;
        text-align: center;
        /* top: 88em; */
        background-color: #fff;
        z-index: 999999999999;
        padding: 6% 2% 2%;
        left: 0;
        overflow: hidden;
        right: 0;
        top: 29%;
    }
    
    .cpopup-ofrecemos .closepopup {
        width: 100%;
        overflow: hidden;
        position: absolute;
        left: -2%;
        top: -1%;
    }
    
    .cpopup-ofrecemos .closepopup span {
        float: right;
        color: #94D500;
        font-weight: bold;
        font-size: 1.8em;
        margin: 0 0 -1% 0;
        cursor: pointer;
    }
    
    .cpopup-ofrecemos section p {
        line-height: 20px;
        font-size: 0.870em;
    }
    
    .cpopup-ofrecemos section p:nth-child(2) {
        margin: 0 0 6% 0;
    }
    
    .cpopup-ofrecemos section h4 {
        margin: 0 0 2% 0;
        padding: 1% 0 0;
    }
    
    #promautoservicio ul {
        text-align: left;
        list-style: disc !important;
        padding: 0 0 0 11%;
    }
    
    #promgarantia {
        top: 13%;
    }
    
    #promautoservicio {
        top: 23%;
    }
    
    #prommetodopago {
        top: 12%;
    }
    
    #promautoservicio ul li {
        list-style: disc;
        line-height: 21px;
        font-size: 0.870em;
    }
    
    #prommetodopago section article img {
        margin: 2% auto 3%;
    }
    
    #prommetodopago section article:nth-child(2) img {
        width: 15%;
    }
    
    #prommetodopago section article:nth-child(3) img {
        width: 34%;
    }
    
    #prommetodopago section article:nth-child(4) img {
        width: 42%;
    }
    
    #prommetodopago section p {
        margin: 0;
    }
    
    #prommetodopago section small {
        font-size: 0.6em;
    }
    
    #promautoservicio section img {
        width: 42%;
        display: block;
        margin: 2% 0 3% 6%;
    }
    
    #promautoservicio section article p {
        margin: 0;
    }
    
    #promfelicidad {
        top: 3%;
    }
    
    #promfelicidad section p {
        line-height: 18px;
        font-size: 0.820em;
    }
    /*Termina seccion de popups*/
    
    .importante-parati .contenedorimportante {
        width: 100%;
        background-color: rgba(247, 247, 247, 0.8);
        padding: 2% 0;
        margin-bottom: 3%;
    }
    
    .importante-parati .minispiff-item {
        border-right: 1px solid #D8D8D8;
        height: 14rem;
    }
    
    .importante-parati .col-xs-12:nth-child(3) .minispiff-item {
        border-right: none;
    }
    
    .importante-parati .minispiff-item img {
        width: 59%;
        margin: 0 auto;
    }
    
    .importante-parati .col-xs-12:nth-child(1) .minispiff-item img {
        padding: 6% 0 2% 0;
    }
    
    .importante-parati .col-xs-12:nth-child(1) .minispiff-item p {
        padding: 2% 0 5% 0;
    }
    
    .importante-parati .col-xs-12:nth-child(2) .minispiff-item img {
        padding: 7% 0 3% 0;
    }
    
    .importante-parati .col-xs-12:nth-child(3) .minispiff-item img {
        padding: 4% 0 3% 0;
    }
    
    .nuestrapromesa .bkgpromesa p {
        font-size: 0.8em;
    }
    
    .nuestrapromesa .bkgpromesa span {
        font-weight: bold;
        text-decoration: underline;
        font-size: 0.813em;
    }
    
    .nuestrapromesa .bkgpromesa {
        background-image: url(/arquivos/2021_cemaco_ferreteria_home20sep_bannerpromesa_mobile.png);
        background-size: contain;
        height: 24.8rem;
        padding: 18rem 0 0;
        margin: 0;
        color: #fff;
        text-align: center;
        cursor: pointer;
        width: 97%;
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    /************************************* EMPIEZA MEDIA RESPONSIVE **************************/
    
    @media only screen and (min-width: 5px) {
		a.vermas-deps.desktop{display: none; }
        .importante-parati .minispiff-item img {
            width: 89%;
            margin: 0 auto;
        }
        .teofrecemos p {
            font-size: 0.9em;
        }
        .pinturas .mobile img {
            padding-bottom: 5%;
        }
        .landing--todoenferreteria .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            padding: 5% 0;
            width: 48%;
            float: left;
            display: inline;
        }
        .landing--todoenferreteria .teofrecemos section.spiffs-item {
            border-right: 1px solid #D8D8D8;
            cursor: pointer;
        }
        .importante-parati h2.text-center {
            font-size: 1.625em;
        }
        .minispiff-item p strong {
            font-size: 14px;
        }
        .nuestrapromesa .bkgpromesa {
            height: 17rem;
            padding: 12.5rem 0 0;
            width: 100%;
            font-size: 0.8em;
        }
        .pinturas .tresveinte img {
            padding-bottom: 5%;
        }
        .landing--todoenferreteria .pinturas h2.tag-title--level-3 {
            margin-top: 5%;
            padding-bottom: 2%;
        }
        .tag-slider-products,

        .landing--todoenferreteria .minispiff .minispiff-item h4 {
            font-size: 1.125em;
        }
        h2.tag-title--level-2.mejoresmarcas {
            font-size: 1.25em;
        }
        .landing--todoenferreteria .marcasferre-slider {
            padding-top: 2%;
        }
        .landing--todoenferreteria a.vermas-deps.mobile {
            text-align: center;
            text-decoration: underline;
            padding-bottom: 4%;
            font-size: 0.8em;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.mobile {
            width: 33%;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.tresveinte {
            width: 50%;
        }
        .landing--todoenferreteria .main-cat-jugueton a.vermas-deps.mobile {
            padding-bottom: 3%;
            text-decoration: underline;
            text-align: center;
            margin-top: -26px;
        }
        .row.fullcontent-bebe {
            margin: 0 -22px 0 -22px;
        }
        .importante-parati .divisionparati {
            width: 88%;
            background-color: #D8D8D8;
            height: 1px;
            display: block;
            margin: 0 auto;
        }
        .landing--todoenferreteria .categories-bebe-wrapper h2 {
            font-size: 1.25em;
            margin-top: 10%;
            padding-bottom: 10%;
        }
        .minispiff {
            margin: 2% -15px 10px;
        }
        .landing--todoenferreteria .banner-mundoferre {
            margin-left: -15px;
            margin-right: -15px;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(2) section.spiffs-item {
            border-right: none;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child section.spiffs-item {
            border-right: none;
        }
        .teofrecemos div.row {
            padding: 3%;
            width: 100%;
            margin: 0 auto;
            background-color: rgba(247, 247, 247, 0.4);
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(3),
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(4) {
            border-top: 1px solid #D8D8D8;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            padding: 5% 0;
        }
        .teofrecemos .spiffs-item img {
            margin: 0 auto 10%;
        }
        .teofrecemos .spiffs-item span {
            font-weight: bold;
            text-decoration: underline;
            font-size: 0.813em;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:first-child .spiffs-item img {
            width: 44%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(2) .spiffs-item img {
            width: 73%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(3) .spiffs-item img {
            width: 59%;
            padding: 4% 0 0;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child .spiffs-item img {
            width: 56%;
            padding: 21% 0 0 0;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child .spiffs-item p {
            height: unset;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 303px;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre {
            padding: 80% 0 0 0;
        }

        .landing--todoenferreteria .main-cat-jugueton a.vermas-deps {
            display: none;
        }
        .landing--todoenferreteria .main-cat-jugueton h2 {
            text-align: center;
            font-size: 1.55em;
            display: block;
            margin-bottom: 6%;
        }
        .landing-mundoferretero .minideps-ferre .col-md-2 {
            margin: 0 0px 4%;
            overflow: hidden;
            width: 33%;
            float:left!important;
        }
        .landing-mundoferretero .board-ferreteria.marcas-ferre {
            margin: 0 auto 0;
            overflow: hidden;
            padding: 1% 0 0 0;
        }

        .importante-parati .minispiff-item {
            border-right: none;
            height: 12rem;
        }
        .importante-parati .row {
            margin-left: 0px;
            margin-right: 0px;
        }
        .nuestrapromesa h2.text-center {
            font-size: 1.375rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            height: 1.6rem;
            display: block;
            font-size: .8em;
        }
    }
    
    @media only screen and (min-width: 5px) {
        .landing--todoenferreteria .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            margin-top: 0;
            height: 200px!important;
        }
        .importante-parati .col-xs-12:nth-child(3) .minispiff-item img {
            padding: 4% 0 0% 0;
        }
        .importante-parati .col-xs-12:nth-child(2) .minispiff-item img {
            padding: 7% 0 0% 0;
        }
        .importante-parati .minispiff-item img {
            width: 86%;
        }
        .landing--todoenferreteria .pinturas h2.tag-title--level-3 {
            margin-top: 5%;
            padding-bottom: 1%;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.mobile {
            width: 33%;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.tresveinte {
            width: 33%;
            padding: 2%;
            font-size:0.8em!important;
        }
        .nuestrapromesa .bkgpromesa {
            height: 19.4rem;
            padding: 77% 0px 0px 0px;
            width: 100%;
        }
        .nuestrapromesa h2.text-center {
            font-size: 1.55rem;
        }
        .landing--todoenferreteria .main-cat-jugueton h2 {
            font-size: 1.55em;
        }
        h2.tag-title--level-2.mejoresmarcas {
            padding-bottom: 5%!important;
        }
        .minispiff {
            margin-top: 4%;
            padding: 0px 3px 0px 4px;
          
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
            font-size: .875rem;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 339px;
        }
        .teofrecemos section.spiffs-item {
            border-right: 1px solid #D8D8D8;
        }
        .ferreImportante_para_ti p {
            font-size: 1em;
        }
        /*Empieza seccion de popups*/
        #promgarantia {
            top: 2rem;
        }
        .cpopup-ofrecemos section p:nth-child(2) {
            margin: 0 0 2% 0;
        }
        #promfelicidad section p {
            line-height: 16px;
        }
        #promfelicidad {
            top: 3%;
        }
        #promautoservicio article.row {
            width: 100%;
            margin: 0;
        }
        #promautoservicio {
            top: 4rem;
        }
        #prommetodopago {
            top: 2rem;
        }
        /*Termina seccion de popups*/
    }
    @media(min-width: 5px) and (max-width:319px) {
         .nuestrapromesa .bkgpromesa p {
            font-size: 0.9em;
            margin-top: 2rem;
        }
    }
    @media(min-width: 320px) and (max-width:359px) {
         .nuestrapromesa .bkgpromesa p {
            font-size: 0.9em;
            margin-top: 17px;
        }
    }
    
    @media(min-width: 360px) and (max-width:374px) {
         .nuestrapromesa .bkgpromesa p {
            font-size: 1.25em;
            margin-top: -0.7rem;
        }
    }
    
    
    
    @media only screen and (min-width: 375px) {
        .landing--todoenferreteria .pinturas h2.tag-title--level-3 {
            padding-bottom: 1%;
        }
        .landing--todoenferreteria .categories-bebe-wrapper h2 {
            font-size: 1.5em;
        }
        h2.tag-title--level-2.mejoresmarcas {
            font-size: 1.5em;
        }
        .tag-slider-products,

        .nuestrapromesa .bkgpromesa p {
            font-size: 1.4em;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 355px;
        }
        .nuestrapromesa .bkgpromesa {
            height: 20.4rem;
        }
    }
    
    @media(min-width: 375px) and (max-width:399px) {
        .nuestrapromesa .bkgpromesa p {
            margin-top: -1rem;
        }
    }
    @media(min-width: 400px) and (max-width:479px){
         .nuestrapromesa .bkgpromesa p {
            font-size: 1.4em;
            margin-top: -16px;
        }
    }

    @media(min-width: 480px) and (max-width:499px){

         .nuestrapromesa .bkgpromesa p {
            font-size: 1.4em;
            margin-top: -5px;
        }
    }
    @media(min-width: 500px) and (max-width:529px){
         .nuestrapromesa .bkgpromesa p {
            font-size: 1.4em;
            margin-top: -2rem;
        }
    }
    @media(min-width: 530x) and (max-width:580px){
         .nuestrapromesa .bkgpromesa p {
            font-size: 1.4em;
            margin-top: -3.6rem;
        }
    }
    @media(min-width: 581px) and (max-width:767px){
         .nuestrapromesa .bkgpromesa p {
            font-size: 1.4em;
            margin-top: -6rem;
        }
    }
    
    @media only screen and (min-width: 410px) {
        .divisionparati.mobile {
            margin-top: 5%;
        }
        .landing--todoenferreteria .minispiff .minispiff-item h4 {
            font-size: 1.2em;
        }
        .tresveinte span {
            font-size: 0.9em;
        }
        .pinturas .mobile span {
            font-size: 0.9em;
        }
        .pinturas .tresveinte span {
            font-size: 0.9em;
        }
        .nuestrapromesa .bkgpromesa {
            height: 22.4rem;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 387px;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
            font-size: 1rem;
        }
    }
    
    @media only screen and (min-width: 414px) {
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 392px;
        }
        .importante-parati .minispiff-item {
            border-right: none;
            height: 12.5rem;
        }
        .importante-parati .contenedorimportante {
            width: 100%;
            margin: 0 auto 3%;
            padding-bottom: 10%
        }
        .importante-parati .col-xs-12:nth-child(1) .minispiff-item p {
            padding: 2% 0 0% 0;
        }
        .importante-parati .minispiff-item p.parati-text {
            font-size: 0.93em;
            width: 98%;
        }
        .nuestrapromesa .bkgpromesa {
            height: 22.8rem;
        }
    }
    
    @media only screen and (min-width: 480px) {
        .nuestrapromesa .bkgpromesa span {
            font-size: 1em;
        }
        .nuestrapromesa .bkgpromesa p {
            font-size: 1.7em;
        }
        .landing--todoenferreteria .minispiff .minispiff-item h4 {
            font-size: 1.3em;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 432px;
        }
        .nuestrapromesa .bkgpromesa {
            height: 25.8rem;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            width: 50%;
        }
    }
    
    @media only screen and (min-width: 768px) {
        .products-slider__wrapper .products-slider__container .product-list .importante-para-ti .importante_general .importante_container{
            background-color: transparent;
        }
        .landing--todoenferreteria .products-slider__container .swiper>a,
        .landing--todoenferreteria .products-slider__container .swiper>h2 {
            margin-right: 0px!important;
            margin-bottom: 1%;
        }
        .landing--todoenferreteria .products-slider__container .swiper>a{
            font-size: 0.9em;
        }
        .landing--todoenferreteria .products-slider__container .swiper>h2 {
            font-size: 1.25em!important;
            text-align: left;
            display: inline-block!important;
            padding: 0.5% 1% 0 0;
            width: auto!important;
        }
        .landing--todoenferreteria .products-slider__container .prateleira .linkcarrusel {
            text-decoration: underline;
            font-size: 0.9em;
            display: inline-block!important;
            padding: 0 0 1% 0;
        }
		a.vermas-deps.desktop{display: inline-block; }
        .importante-parati .col-xs-12.col-md-4.col-lg-4.col-xl-4 {
            padding: 0 1% 0 1%;
        }
        .nuestrapromesa .bkgpromesa span {
            font-size: 0.813em;
        }
        .nuestrapromesa .bkgpromesa p {
            font-size: 1em;
        }
        .landing--todoenferreteria .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            padding: 0;
            width: 25%;
            float: left;
            display: inline;
        }
        .re-central.categories-bebe-wrapper.pinturas {
            margin-top: 3%;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.tresveinte {
            margin-bottom: 5%;
        }
        .pinturas .tresveinte span {
            font-size: 0.9em;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.tresveinte {
            width: 20%;
            padding: 1%;
        }
        .landing--todoenferreteria a.vermas-deps.desktop {
            font-size: 0.8em;
            text-decoration: underline;
        }
        .landing--todoenferreteria .pinturas h2.tag-title--level-3 {
            padding-bottom: 1%;
            display: inline;
            font-size: 1.25em;
            padding-right: 1%;
        }
        .tag-slider-products,

        .re-central.importante-parati {
            margin-top: -2%;
        }
        .landing--todoenferreteria .pre-footer__wrapper h3 {
            font-size: 1.5rem;
        }
        h2.tag-title--level-2.mejoresmarcas {
            padding-bottom: 1%!important;
            font-size: 1.25em;
        }
        .landing--todoenferreteria .banner-mundoferre {
            margin-bottom: 0%;
        }
        .categories-bebe img {
            width: 100%;
        }

        .landing--todoenferreteria .single-board .slider1-portada {
            background-position: center;
            background-image: url(/arquivos/2022abr_banner_main_hazlo_tu_mismo_desk_v3.png);
            min-height: 172px;
            padding: 0 0 0 0;
            background-size: cover;
        }
        .landing--todoenferreteria .single-board .slider1-portada section {
            max-width: 746px;
            padding: 51px 0 34px;
        }
        .landing--todoenferreteria .minispiff-container.row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .landing--todoenferreteria .minispiff {
            grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
            margin-top: 0;
            margin-bottom: 2%;
        }
        .landing--todoenferreteria .minispiff-item {
            margin: 10px 0 10px;
        }
        .landing--todoenferreteria .minispiff .minispiff-item p {
            font-size: 1em;
        }
        .landing--todoenferreteria .board-ferreteria.marcas-ferre {
            max-width: unset;
            margin: 0 15px 0 15px;
            padding: 0;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre {
            padding: 18% 64% 0 0;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
            font-size: 0.6rem;
        }

        .landing--todoenferreteria .minispiff .minispiff-item h4 {
            font-size: 0.8em;
        }
        .landing--todoenferreteria .minispiff-container .minispiff-item span {
            font-size: 0.7em;
        }
        .landing--todoenferreteria .main-cat-jugueton a.vermas-deps {
            display: inline-block!important;
            font-size: 0.9em;
            text-decoration: underline;
            padding: 0 0 2% 0.5%;
        }
        .landing--todoenferreteria .main-cat-jugueton h2 {
            font-size: 1.55em;
            text-align: left;
            display: inline-block;
        }
        .landing--todoenferreteria .marcasferre-slider li {
            width: 10%;
            height: unset;
        }
        .landing--todoenferreteria .marcasferre-slider li img {
            width: 80% !important;
        }
        .landing-mundoferretero .minideps-ferre .col-md-2 {
            width: 19.7%;
        }
        .landing-mundoferretero .categories-jugueton img {
            /* width: 82%; */
            margin-bottom: 0.3rem;
        }
        .landing--todoenferreteria .categories-bebe-wrapper h2 {
            text-align: left;
        }
        .landing--todoenferreteria .mejoresmarcas {
            margin-top: 1%;
            margin-bottom: 1%;
            padding: 2% 0% 4% 0%;
        }
        .landing--todoenferreteria .mejoresmarcas .minispiff-doble {
            grid-template-columns: 100%;
            margin: 10px 0 0px;
            text-align: center;
            /*display: inline-flex;*/
            grid-gap: 20px;
        }
        .landing--todoenferreteria .mejoresmarcas .minispiff-doble .minispiff-item {
            width: 100%;
        }
        /*Empieza seccion de popups*/
        .cpopup-ofrecemos {
            width: fit-content;
            padding: 2% 2% 2%;
        }
        .cpopup-ofrecemos section h4 {
            margin: 4% 0 2% 0;
        }
        #promgarantia {
            top: 14rem;
        }
        #prommetodopago {
            top: 14rem;
        }
        #promfelicidad {
            top: 12rem;
        }
        #promfelicidad section p {
            line-height: 23px;
            font-size: 0.870em;
        }
        /*Termina seccion de popups*/
        .minispiff-item p strong {
            font-size: 0.9em;
        }
        .importante-parati .col-xs-12:nth-child(1) .minispiff-item img {
            width: 97%;
            padding: 14% 0 3% 0;
        }
        .importante-parati .col-xs-12:nth-child(2) .minispiff-item img {
            padding: 12% 0 4% 0;
            width: 71%;
        }
        .importante-parati .col-xs-12:nth-child(3) .minispiff-item img {
            padding: 10% 0 2% 0;
            width: 75%;
        }
        .importante-parati .contenedorimportante {
            padding: 2% 0;
        }
        .importante-parati .minispiff-item {
            border-right: 1px solid #D8D8D8;
        }
        .importante-parati .col-xs-12:nth-child(3) .minispiff-item {
            border-right: none;
        }
        .nuestrapromesa .bkgpromesa {
            background-image: url(/arquivos/2021_cemaco_ferreteria_home20sep_bannerpromesa_desk.jpg);
            background-size: cover;
            height: 5rem;
            color: #fff;
            padding: 2.3% 0 0 3%;
            text-align: left;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            width: 25%;
            padding: 0;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:first-child .spiffs-item img {
            width: 25%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(2) .spiffs-item img {
            width: 45%;
            margin-bottom: 7%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(3) .spiffs-item img {
            width: 40%;
            margin-bottom: 4%;
            padding-top: 0%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(2) section.spiffs-item {
            border-right: 1px solid #D8D8D8;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child section.spiffs-item {
            border-right: none !important;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child .spiffs-item img {
            width: 38%;
            padding-top: 10%;
            margin-bottom: 5%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(3),
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(4) {
            border-top: 0px solid #D8D8D8;
        }
        .teofrecemos .spiffs-item p {
            font-size: 1em;
            height: 3.85rem;
        }
        .importante-parati .minispiff-item p.parati-text {
            font-size: 0.75em;
            padding-top: 1%;
        }

        .importante-parati h2.text-center {
            font-size: 1.55em;
            padding-bottom: 0;
        }
        .landing--todoenferreteria .categories-bebe-wrapper h2 {
            font-size: 1.55em;
            margin-top: 4%;
            padding-bottom: 2%;
        }
        .landing--todoenferreteria .re-central.portada-principal {
            margin-left: auto;
            margin-right: auto;
        }
        .landing--todoenferreteria .minispiff-container.re-central {
            padding: 0;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    
    @media only screen and (min-width: 1024px) {
        .herramientasCategoria__titulo{
            font-size: 1.5em;
        }
        div#nuestrapromesa {
            margin-top: 2%;
            margin-bottom: 2%;
        }
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.tresveinte {
            margin-bottom: 0%;
        }
        .re-central.categories-bebe-wrapper.pinturas {
            margin-top: 5%;
        }
        .landing--todoenferreteria .pinturas h2.tag-title--level-3 {
            font-size: 1.5em;
        }
        h2.tag-title--level-2.mejoresmarcas {
            padding-bottom: 1%!important;
            font-size: 1.5em;
        }

        div#nuestrapromesa {
            margin-left: -15px;
        }
        .landing--todoenferreteria .banner-mundoferre {
            margin-left: 0px;
            margin-right: 15px;
        }
        .categories-bebe img {
            width: 80%;
        }

        .landing--todoenferreteria .minispiff .minispiff-item h4 {
            font-size: 1em;
        }
        .landing--todoenferreteria .minispiff-container .minispiff-item span {
            font-size: 0.8em;
        }
        .single-board {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-right: 15px;
        }
        .landing--todoenferreteria .minispiff {
            grid-template-columns: 23.1% 23.1% 23.1% 23.1%;
            margin: 10px 0px 10px;
        }
        .landing--todoenferreteria .minispiff .minispiff-item p {
            font-size: 0.875em;
        }
        .landing--todoenferreteria .minideps-ferre .col-md-2 {
            margin: 0 1.6% 0px;
            padding-left: 5px;
            padding-right: 5px;
            width: 16.7%;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 226px;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre {
            padding: 17% 41% 0 0;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
            font-size: 0.8rem;
        }
        /*Empieza seccion de popups*/
        .cpopup-ofrecemos section h4 {
            margin: 1% 0 2% 0;
            padding: 0;
        }
        #promfelicidad section p {
            line-height: 18px;
        }
        #promfelicidad {
            top: 10rem;
        }
        .cpopup-ofrecemos section p {
            line-height: 21px;
        }
        .cpopup-ofrecemos section p:nth-child(2) {
            margin: 0 0 2% 0;
        }
        #promgarantia {
            top: 12rem;
        }
        #promautoservicio ul li {
            line-height: 21px;
        }
        #promautoservicio {
            top: 12rem;
        }
        #prommetodopago {
            top: 8rem;
        }
        /*Termina seccion de popups*/
        .teofrecemos section.spiffs-item {
            border-right: 1px solid #D8D8D8;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(3),
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(4) {
            border-top: none;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:first-child .spiffs-item img {
            width: 22%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(2) .spiffs-item img {
            padding: 0% 0 0 0;
            width: 34%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(3) .spiffs-item img {
            width: 27%;
            padding: 3% 0 0;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child .spiffs-item img {
            width: 28%;
            padding: 8% 0 0 0;
        }
        .teofrecemos .spiffs-item p {
            height: 2.5rem;
        }
        .importante-parati .minispiff-item p.parati-text {
            font-size: 0.9em;
            width: 95%;
            padding-top: 2%;
        }
        .teofrecemos div.row {
            padding: 1% 0;
        }
        .teofrecemos .spiffs-item img {
            width: 48%;
            margin: 0 auto 5%;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child .spiffs-item p {
            height: unset;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:last-child section.spiffs-item {
            border-right: none !important;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3:nth-child(2) section.spiffs-item {
            border-right: 1px solid #D8D8D8;
        }
        .teofrecemos div.col-sm-12.col-md-3.col-lg-3.col-xl-3.col-xs-6.mx-3 {
            padding: 0.7% 0;
            cursor: pointer;
        }
        .importante-parati .minispiff-item {
            height: 14rem;
        }
        .nuestrapromesa .bkgpromesa {
            height: 7rem;
        }
        
        .main-cat-jugueton.padding-content-electricos {
            padding-left: 34px;
            padding-right: 12px;
        }
        .main-cat-jugueton.padding-content-pinturas {
            padding-left: 34px;
            padding-right: 12px;
        }
        .re-central.categories-bebe-wrapper {
            padding-left: 30px;
            padding-right: 38px;
        }
    }
    
    @media only screen and (min-width: 1280px) {
        .nuestrapromesa .bkgpromesa span {
            font-size: 1em;
        }
        .nuestrapromesa .bkgpromesa p {
            font-size: 1.25em;
        }
        .importante-parati .minispiff-item p.parati-text {
            font-size: 1em;
        }
        .nuestrapromesa .bkgpromesa {
            height: 9rem;
            padding: 3% 0 0 3%;
        }
        .landing--todoenferreteria .main-cat-jugueton h2 {
            font-size: 1.55em;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 282px;
        }
        .landing--todoenferreteria .minispiff {
            grid-template-columns: 23.4% 23.4% 23.4% 23.4%;
        }
        .landing--todoenferreteria .minispiff .minispiff-item {
            margin: 5px 4px;
        }
        .landing--todoenferreteria .minispiff .minispiff-item p {
            font-size: 0.8em;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre {
            padding: 17% 24% 0 0;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
            font-size: 0.9rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            font-size: 1em;
        }
        .landing--todoenferreteria .minispiff .minispiff-item h4 {
            font-size: 1.1em;
        }
        .landing--todoenferreteria .minispiff-container .minispiff-item span {
            font-size: 0.9em;
        }
    }
    
    @media only screen and (min-width: 1366px) {
        .importante-parati .col-xs-12:nth-child(1) .minispiff-item img {
            width: 93%;
            padding: 14% 0 4% 0;
        }
        .landing--todoenferreteria .minispiff .minispiff-item p {
            font-size: 0.875em;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 286px;
        }
        /*Empieza seccion popups*/
        #promgarantia {
            top: 6rem;
        }
        #promautoservicio {
            top: 7rem;
        }
        #prommetodopago section article img {
            margin: 1% auto 2%;
        }
        #prommetodopago {
            top: 5rem;
        }
        #promfelicidad {
            top: 5rem;
        }
        /*Termina seccion de popups*/
    }
    
    @media only screen and (min-width: 1440px) {
        .importante-parati .minispiff-item p.parati-text {
            width: 96%;
        }
        .landing--todoenferreteria a.vermas-deps.desktop {
            font-size: 0.9em;
        }
        .landing--todoenferreteria .pinturas h2.tag-title--level-3 {
            font-size: 1.813em;
        }
        .importante-parati h2.text-center {
            font-size: 2em;
        }
        .nuestrapromesa h2.text-center {
            font-size: 2rem;
        }
        .landing--todoenferreteria .categories-bebe-wrapper h2 {
            font-size: 1.813em;
        }
        .landing--todoenferreteria .main-cat-jugueton h2 {
            font-size: 1.813em;
        }

        h2.tag-title--level-2.mejoresmarcas {
            font-size: 1.813em;
        }
        .nuestrapromesa .bkgpromesa {
            height: 10rem;
            padding: 4% 0 0 4%;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre .ferre-btn-banner {
            font-size: 1rem;
        }

        .landing--todoenferreteria .minispiff {
            grid-template-columns: 23.6% 23.6% 23.6% 23.6%;
        }
        .landing--todoenferreteria .minispiff .minispiff-item {
            margin: 5px 2px;
        }
        .landing--todoenferreteria .minispiff .minispiff-item p {
            font-size: 1em;
        }
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 323px;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre {
            padding: 17% 18% 0 0;
        }
        /*Empeiza seccion de popups*/
        .cpopup-ofrecemos section h4 {
            padding: 0;
            line-height: 20px;
        }
        .cpopup-ofrecemos section p:nth-child(2) {
            margin: 0;
        }
        #promgarantia {
            top: 12rem;
        }
        #promautoservicio ul li {
            line-height: 19px;
        }
        #promautoservicio {
            top: 12rem;
        }
        #prommetodopago section article img {
            margin: 2% auto 0%;
        }
        #prommetodopago {
            top: 10rem;
        }
        #promfelicidad section p {
            line-height: 19px;
        }
        #promfelicidad {
            top: 12rem;
        }
        /*Termina seccion de popups*/
    }
    
    @media only screen and (min-width: 1920px) {
        .landing--todoenferreteria .single-board .slider1-portada {
            min-height: 356px;
        }
        .landing--todoenferreteria .slider1-portada .botonTodoFerre {
            padding: 17% 13% 0 0;
        }

        .nuestrapromesa .bkgpromesa {
            height: 11rem;
            padding: 3% 0 0 3%;
        }
        .landing--todoenferreteria .minispiff {
            grid-template-columns: 23.7% 23.7% 23.7% 23.7%;
        }
    }
    
    
    
    
    
    @media screen and (min-width: 5px) and (max-width: 767px){
        .content-img-las-mejores-marcas {
            height: 25px!important;
            display: flex;
            align-content: center;
            align-items: center;
        }
        .img-las-mejores-marcas {
            display: block;
            margin: auto;
            width: 90%;
        }
        .makita-logo{
            width:65%!important;
        }
        .ace-logo{
            width:50%!important;
        }
        .pretul-logo{
            width:80%!important;
        }
        .row.categories-jugueton.fullcontent-jugueton.minideps-ferre {
            margin: -4px!important;
        }
        .col-md-2.text-center.col-xs-4 {
            padding: 5px;
        }
        .padding-content-electricos{
            margin-top:28px!important;
        }
        .padding-content-pinturas{
            margin-top:17px!important;
        }
        .row.contenedorimportante {
            background-color: #fff;
            padding-bottom: 30px;
        }
    }
    @media screen and (min-width: 376px) and (max-width: 762px){
        .minispiff-item p.parati-text {
            font-size: 13px;
            margin-bottom: 40px;
            width: 81%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
    }

    @media only screen and (min-width: 768px){
        .landing--todoenferreteria .col-md-2.text-center.col-xs-4.tresveinte {
            width: 16.666666666666666666666666666667%!important;
        }
        
        .padding-title-category-c{
            line-height: 4px;
            padding-bottom: 10px;
            padding-top: 50px;
        }
        .padding-title-category-c2{
            line-height: 4px;
            padding-bottom: 10px;
            padding-top: 25px;
        }
        .landing--todoenferreteria .main-cat-jugueton h2 {
            padding-bottom: 5%;
            margin-bottom: 0px!important;
        }
        span.view_more_link_importante_para_ti {
            position: absolute;
            bottom: 2.7rem;
            text-align: center;
            width: 100%;
            left: 0;
        }
        
    }
    
    @media only screen and (min-width: 1440px){
    
        span.view_more_link_importante_para_ti {
            position: absolute;
            bottom: 2rem;
            text-align: center;
            width: 100%;
            left: 0;
        }
    }
    

    @media(min-width: 5px) and (max-width: 419px){
        p.parati-text {
            font-size: 0.65rem!important;
        }
    }
    @media(min-width: 420px) and (max-width: 519px){
        p.parati-text {
            font-size: 0.7rem!important;
        }
    }
    @media(min-width: 520px) and (max-width: 767px){
        p.parati-text {
            font-size: 0.6rem!important;
        }
    }
    
    @media(min-width: 768px) and (max-width: 814px){
        p.parati-text {
            font-size: 0.45rem!important;
        }
        .height-contet-categorys-cc{
            height: 9rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            font-size: 0.6rem!important;
        }
    }
    @media(min-width: 815px) and (max-width: 1279px){
        p.parati-text {
            font-size: 0.45rem!important;
        }
        .height-contet-categorys-cc{
            height: 12rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            font-size: 0.6rem!important;
        }
    }
    @media(min-width: 1280px) and (max-width: 1365px){
        p.parati-text {
            font-size: 0.78rem!important;
        }
        .height-contet-categorys-cc{
            height: 15rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            font-size: 0.83rem!important;
        }
    }
    @media(min-width: 1366px) and (max-width: 1439px){
        p.parati-text {
            font-size: 0.85rem!important;
        }
        .height-contet-categorys-cc{
            height: 15rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            font-size: 0.83rem!important;
        }
    }
    @media(min-width: 1440px){
        p.parati-text {
            font-size: 0.96rem!important;
        }
        .height-contet-categorys-cc{
            height: 18rem;
        }
        .landing--todoenferreteria .minideps-ferre span {
            font-size: 0.94rem!important;
        }
    }
    
    @media(min-width: 5px) and (max-width: 290px){
        button.ferre-btn-banner {
            margin-top: 4.3em!important;
        }
    }
    
    @media(min-width: 291px) and (max-width: 310px){
        button.ferre-btn-banner {
            margin-top: 3.2em!important;
        }
    }
    
    @media(min-width: 311px) and (max-width: 340px){
        button.ferre-btn-banner {
            margin-top: 30px!important;
        }
    }

    @media(min-width: 5px) and (max-width: 767px){
        .landing--todoenferreteria .minideps-ferre span {
            height: auto;
            display: block;
            font-size: 0.7em;
            margin-top: 3px;
        }
    }
    
    @media(min-width:5px) and (max-width:290px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 0.68rem;
            height: 115px;
        }
    }
    
    @media(min-width:291px) and (max-width:319px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 0.7rem;
            height: 125px;
        }    
    }
    
    @media(min-width:320px) and (max-width:364px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 0.81rem;
            height: 145px;
        } 
    }
    
    @media(min-width:365px) and (max-width:395px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 0.91rem;
            height: 160px;
        } 
    }
    
    @media(min-width:396px) and (max-width:430px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1rem;
            height: 175px;
        }
    }
    
    @media(min-width:431px) and (max-width:476px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1rem;
            height: 190px;
        }
    }
    
    
    @media(min-width:477px) and (max-width:530px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1rem;
            height: 205px;
        }
    }
    
    @media(min-width:531px) and (max-width:580px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1.2rem;
            height: 230px;
        }    
    }
    
    @media(min-width:581px) and (max-width:630px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1.25rem;
            height: 250px;
        }   
    }
    
    
    @media(min-width:631px) and (max-width:710px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1.25rem;
            height: 250px;
        }   
    }
    
    @media(min-width:711px) and (max-width:767px){
        .col-md-2.text-center.col-xs-4.height-contet-categorys-cc {
            font-size: 1.4rem;
            height: 310px;
        }  
    }

    /* DESKTOP */
    @media(min-width: 768px){
        .desktop{
            display:block!important;
        }
        .mobile{
            display:none!important;
        }
        .ver-mas-category-c{
            display:none!important;
        }
    }
    /* MOBILE */
    @media(min-width: 5px) and (max-width: 767px){
        .desktop{
            display:none!important;
        }
        .mobile{
            display:block!important;
        }
        
        .ver-mas-category-c{
            display:block;
            padding-bottom: 3%;
            text-decoration: underline;
            text-align: center;
            margin: -25px auto 0px auto;
            font-size:0.82rem;
        }
    }
</style>
<!-- TERMINA APARTADO DE CSS -->