<!-- EMPIEZA CIRCULO DE CATEGORIA PARA pinturas -->
<div class="main-cat-jugueton padding-content-electricos">
	<h2 class="tag-title--level-3 padding-title-category-c">Plomería</h2> <a href="/c-plomeria" class="vermas-deps desktop">Ver todo</a><a href="/c-plomeria" class="ver-mas-category-c">Ver más</a>
	<div class="row categories-jugueton fullcontent-jugueton minideps-ferre">
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/plomeria#sanitarios">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_sanitarios_lavamanos_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_sanitarios_lavamanos_ferreteria_desk.png" alt="Sanitarios y lavamanos" />
				</picture>
				<span>Sanitarios y <br class="mobile">lavamanos</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/plomeria#griferia">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_griferia_y_duchas_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_griferia_y_duchas_ferreteria_desk.png" alt="Grifería y duchas" />
				</picture>
				<span>Grifería y duchas</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/plomeria#tuberia">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_tuberia_acesorios_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_tuberia_acesorios_ferreteria_desk.png" alt="Tubería y accesorios" />
				</picture>
				<span>Tubería y <br class="mobile">accesorios</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/plomeria#calentadores">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_calentadores_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_calentadores_ferreteria_desk.png" alt="Calentadores" />
				</picture>
				<span>Calentadores</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/plomeria#bombasfiltros">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_bombas_filtros_de_agua_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_bombas_filtros_de_agua_ferreteria_desk.png" alt="Bombas y filtros" />
				</picture>
				<span>Bombas y <br class="mobile">filtros de agua</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 mobile height-contet-categorys-cc">
			<a href="/c-plomeria">
				<picture>
				    <img src="/arquivos/2021_cemaco_todoferreteria_home06oct_vertodo_mobile.png" alt="ver todo en pinturas" />
				</picture>
				<span>Ver todo</span>
			</a>
		</div>
	</div>
</div>
<!-- TERMINA CIRCULO DE CATEGORIA PARA pinturas -->

<!-- EMPIEZA CIRCULO DE CATEGORIA PARA herramientas -->
<div class="main-cat-jugueton padding-content-pinturas">
	<h2 class="tag-title--level-3 padding-title-category-c2">Eléctricos</h2> <a href="/c-electricos" class="vermas-deps desktop">Ver todo</a><a href="/c-electricos" class="ver-mas-category-c">Ver más</a>
	<div class="row categories-jugueton fullcontent-jugueton minideps-ferre">
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/electricos#bombillas">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_bobmillas_tubos_plafoneras_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_bobmillas_tubos_plafoneras_ferreteria_desk.png" alt="Bombillas, tubos y plafoneras" />
				</picture>
				<span>Bombillas, tubos <br class="mobile">y plafoneras</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/electricos#extensiones">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_extensiones_protectores_corriente_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_extensiones_protectores_corriente_ferreteria_desk.png" alt="Extensiones y protectores de corriente" />
				</picture>
				<span>Extensiones <br class="mobile">y protectores <br>de corriente</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/electricos#tomacorrientes">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_tomacorriente_e_interruptores_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_tomacorriente_e_interruptores_ferreteria_desk.png" alt="Tomacorrientes e interruptores" />
				</picture>
				<span>Tomacorrientes <br class="mobile">e interruptores</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/electricos#generadores">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_generadores_paneles_solares_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_generadores_paneles_solares_ferreteria_desk.png" alt="Generadores y páneles solares" />
				</picture>
			    <span>Generadores y <br class="mobile">páneles solares</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 height-contet-categorys-cc">
			<a href="/s/electricos#linternas">
				<picture>
					<source srcset="/arquivos/2022abr_circle_cat_linternas_baterias_ferreteria_mob.png" media="(max-width: 767px)" />
				    <img src="/arquivos/2022abr_circle_cat_linternas_baterias_ferreteria_desk.png" alt="Linternas y baterías" />
				</picture>
				<span>Linternas <br class="mobile">y baterías</span>
			</a>
		</div>
		<div class="col-md-2 text-center col-xs-4 mobile height-contet-categorys-cc">
			<a href="/c-electricos">
				<picture>
				    <img src="/arquivos/2021_cemaco_todoferreteria_home06oct_vertodo_mobile.png" alt="ver todo en ferretería" />
				</picture>
			    <span>Ver todo</span>
			</a>
		</div>
	</div>
</div>
<!-- EMPIEZA CIRCULO DE CATEGORIA PARA herramientas -->